In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
from bs4 import BeautifulSoup
import requests
from pathlib import Path
import pandas as pd
import re
import os
import pickle
import sqlite3
import numpy as np
import datetime
#import html5li
from tqdm import tqdm
import time
import bets as bet

In [4]:
from nba_api.stats.endpoints import BoxScoreAdvancedV3,PlayByPlayV2,BoxScoreSummaryV2,LeagueDashTeamShotLocations,LeagueDashOppPtShot,LeagueDashPlayerShotLocations,PlayerGameLogs,TeamInfoCommon,leaguegamefinder,LeagueDashPtStats

In [8]:
from nba_api.stats.endpoints import C

TypeError: CumeStatsPlayer.__init__() missing 2 required positional arguments: 'player_id' and 'game_ids'

#need 18 dec - april  
#need all of 20  
21 past feb 17

In [5]:
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType


gamefinder = leaguegamefinder.LeagueGameFinder(league_id_nullable = '00',
                                               date_from_nullable = '10/01/2017',
                                               season_type_nullable = 'Regular Season'
                                                
                                               )  
game_dates = gamefinder.get_data_frames()[0]['GAME_DATE'].unique()
games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game_ids = list(set([v for l in games for k,v in l.items() if k=='GAME_ID']))

In [5]:
nba = bet.nba()
nba.showTables

OperationalError: unable to open database file

In [52]:
shtAl = pd.read_sql('select * from shotsAllowed',nba.conn)

In [54]:
tmshot = pd.read_sql('select * from tmShotAllow',nba.conn)

In [57]:
nba.conn.execute('DROP TABLE tmShotAllow')
nba.conn.commit()

In [55]:
tmshot.compare(shtAl,)

,team_id,game_date,game_id,ra_fgm,ra_fga,paint_fgm,paint_fga,mid_fgm,mid_fga,lc_fgm,...,drb2_fg3m,drb2_fg3a,drb36_fg2m,drb36_fg2a,drb36_fg3m,drb36_fg3a,drb7_fg2m,drb7_fg2a,drb7_fg3m,drb7_fg3a
0,1610612743,2023-10-24,0022300061,23,36,6,15,2,10,0.0,...,0.0,1.0,13.0,22.0,0.0,1.0,3.0,5.0,0.0,1.0
1,1610612744,2023-10-24,0022300062,4,7,20,37,7,18,1.0,...,0.0,2.0,6.0,20.0,0.0,0.0,4.0,10.0,0.0,3.0
2,1610612747,2023-10-24,0022300061,18,26,8,16,8,15,1.0,...,0.0,0.0,5.0,11.0,3.0,4.0,3.0,6.0,0.0,0.0
3,1610612756,2023-10-24,0022300062,7,12,15,35,4,11,2.0,...,0.0,2.0,7.0,15.0,1.0,5.0,3.0,7.0,1.0,5.0
4,1610612737,2023-10-25,0022300063,17,25,11,15,4,9,3.0,...,0.0,1.0,6.0,8.0,0.0,1.0,1.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16551,1610612755,2022-03-07,0022100969,22,28,3,16,6,19,1.0,...,0.0,0.0,6.0,18.0,0.0,2.0,4.0,10.0,1.0,2.0
16552,1610612757,2022-03-07,0022100971,22,34,2,9,1,7,4.0,...,1.0,1.0,8.0,11.0,1.0,4.0,1.0,1.0,0.0,3.0
16553,1610612758,2022-03-07,0022100974,17,23,10,20,2,7,2.0,...,1.0,2.0,14.0,22.0,6.0,8.0,2.0,7.0,1.0,3.0
16554,1610612759,2022-03-07,0022100973,23,32,7,22,5,11,1.0,...,0.0,3.0,8.0,20.0,0.0,2.0,9.0,12.0,0.0,2.0
16555,1610612762,2022-03-07,0022100972,13,22,3,9,6,11,4.0,...,0.0,1.0,5.0,7.0,3.0,3.0,3.0,10.0,3.0,9.0

In [ ]:
pd.read_pickle('nba/data/pickle/teamlog.pkl')

In [45]:
df2 = pd.read_pickle('nba/data/pickle/teamlog2.pkl')
df1 = pd.read_pickle('nba/data/pickle/teamlog2.pkl')
df3 = pd.read_pickle('nba/data/pickle/teamlog3.pkl')
df4 = pd.read_pickle('nba/data/pickle/teamlog4.pkl')
games = df2.GAME_ID.unique().tolist() + df1.GAME_ID.unique().tolist() + df3.GAME_ID.unique().tolist() +df4.GAME_ID.unique().tolist()

In [46]:
tml = pd.read_sql('select distinct game_id from teamLog',nba.conn).game_id.values

In [47]:
final = pd.concat([df1,df2,df3,df4])
final = final[~final.GAME_ID.isin(tml)].drop_duplicates()
nba.insert_data(final.filter(sqlorder),'teamLog')

teamLog has been updated with 7,812 rows

In [43]:
final.drop_duplicates()

,TEAM_ID,inactive,count_inactive,GAME_ID,assistPercentage,offensiveRating,defensiveRating,pace,possessions,offensiveReboundPercentage,defensiveReboundPercentage,home,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4
0,1610612755,"1630203,1627732",2,0022100038,0.610,118.6,106.2,97.0,97.0,0.265,0.804,0,36,23,28,28,NaN,NaN,NaN,NaN
0,1610612743,"200794,1628427,203914,203115,1627750,203584",6,0021901272,0.682,121.1,133.0,94.5,95.0,0.326,0.680,1,26,23,38,28,NaN,NaN,NaN,NaN
0,1610612760,"1628778,1630598",2,0022100144,0.600,98.0,93.1,101.0,101.0,0.300,0.770,1,14,31,34,20,NaN,NaN,NaN,NaN
0,1610612742,"203552,201584,203939",3,0021901300,0.667,124.8,125.2,106.0,105.0,0.163,0.712,1,31,27,37,36,NaN,NaN,NaN,NaN
0,1610612747,"1628366,1627826,1627780,2736",4,0021700768,0.538,105.2,102.1,97.0,97.0,0.393,0.800,0,24,35,26,17,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1610612757,"203468,203994",2,0021801157,0.620,130.7,120.8,101.0,101.0,0.364,0.700,0,38,37,22,35,NaN,NaN,NaN,NaN
0,1610612742,"1630639,1630593",2,0022201195,0.545,125.5,122.7,97.5,98.0,0.217,0.557,1,28,32,32,31,NaN,NaN,NaN,NaN
1,1610612758,"203521,1629674",2,0022201195,0.674,122.7,125.5,97.5,97.0,0.443,0.783,0,27,44,21,27,NaN,NaN,NaN,NaN
0,1610612738,"202694,202330,201143",3,0021700407,0.617,125.3,119.2,99.0,99.0,0.171,0.580,1,30,38,29,27,NaN,NaN,NaN,NaN
1,1610612743,"1628470,1628420,200794,1628399,203115",5,0021700407,0.489,119.2,125.3,99.0,99.0,0.420,0.829,0,31,28,33,26,NaN,NaN,NaN,NaN

In [42]:
final

,TEAM_ID,inactive,count_inactive,GAME_ID,assistPercentage,offensiveRating,defensiveRating,pace,possessions,offensiveReboundPercentage,defensiveReboundPercentage,home,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4
0,1610612755,"1630203,1627732",2,0022100038,0.610,118.6,106.2,97.0,97.0,0.265,0.804,0,36,23,28,28,NaN,NaN,NaN,NaN
0,1610612743,"200794,1628427,203914,203115,1627750,203584",6,0021901272,0.682,121.1,133.0,94.5,95.0,0.326,0.680,1,26,23,38,28,NaN,NaN,NaN,NaN
0,1610612760,"1628778,1630598",2,0022100144,0.600,98.0,93.1,101.0,101.0,0.300,0.770,1,14,31,34,20,NaN,NaN,NaN,NaN
0,1610612742,"203552,201584,203939",3,0021901300,0.667,124.8,125.2,106.0,105.0,0.163,0.712,1,31,27,37,36,NaN,NaN,NaN,NaN
0,1610612755,"1630203,1627732",2,0022100038,0.610,118.6,106.2,97.0,97.0,0.265,0.804,0,36,23,28,28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1610612757,"203468,203994",2,0021801157,0.620,130.7,120.8,101.0,101.0,0.364,0.700,0,38,37,22,35,NaN,NaN,NaN,NaN
0,1610612742,"1630639,1630593",2,0022201195,0.545,125.5,122.7,97.5,98.0,0.217,0.557,1,28,32,32,31,NaN,NaN,NaN,NaN
1,1610612758,"203521,1629674",2,0022201195,0.674,122.7,125.5,97.5,97.0,0.443,0.783,0,27,44,21,27,NaN,NaN,NaN,NaN
0,1610612738,"202694,202330,201143",3,0021700407,0.617,125.3,119.2,99.0,99.0,0.171,0.580,1,30,38,29,27,NaN,NaN,NaN,NaN
1,1610612743,"1628470,1628420,200794,1628399,203115",5,0021700407,0.489,119.2,125.3,99.0,99.0,0.420,0.829,0,31,28,33,26,NaN,NaN,NaN,NaN

In [34]:
nba.conn.execute('''DELETE from teamLog where game_id in ('0022100038','0021901261','0022100144',
                                                        '0021901300','0021901272')''')
nba.conn.commit()

In [20]:
sqlorder = ['GAME_ID','TEAM_ID','inactive','count_inactive','assistPercentage','offensiveRating',
                    'defensiveRating','pace','possessions','offensiveReboundPercentage','defensiveReboundPercentage','home',
                   'PTS_QTR1','PTS_QTR2','PTS_QTR3','PTS_QTR4']

In [13]:
len(remain)

1967

In [16]:
nba.get_summary(remain)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1967/1967 [6:04:03<00:00, 11.11s/it]

[]
teamLog has been updated with 3,933 rows

,TEAM_ID,inactive,count_inactive,GAME_ID,assistPercentage,offensiveRating,defensiveRating,pace,possessions,offensiveReboundPercentage,defensiveReboundPercentage,home,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4
0,1610612754,"1628410,1626167,203922",3,0021700018,0.429,97.0,116.3,98.5,99.0,0.184,0.700,1,25,27,21,23
1,1610612757,"1627735,203943,203912",3,0021700018,0.413,116.3,97.0,98.5,98.0,0.300,0.816,0,31,31,29,23

In [ ]:
from nba_api.stats.endpoints import PlayByPlayV3,CommonPlayerInfo,PlayerIndex,PlayerAwards
pi = PlayerIndex(season = '2024').get_data_frames()[0]
awards = PlayerAwards(203507).get_data_frames()[0]

In [ ]:
temp = awards[(awards.SEASON.str[-2:]).astype(int) <= int('2020'[-2:])]

In [ ]:
awards['DESCRIPTION'] = awards.DESCRIPTION + awards.fillna('').ALL_NBA_TEAM_NUMBER

In [ ]:
file = open('nba/data/sql/createTeamLog.sql','r').read()
nba.conn.execute('DROP TABLE teamLog')
nba.conn.commit()
nba.conn.execute(file)
nba.conn.commit()

In [ ]:
nba.get_awards(203507)

In [ ]:
b = BoxScoreSummaryV2(game_id='0022100579').get_data_frames()
inAct = b[3].groupby(['TEAM_ID']).PLAYER_ID.agg([list,'count']).reset_index()
inAct['list'] = inAct.list.apply(lambda x:','.join([str(ply) for ply in x]))
inAct = inAct.rename(columns = {'list':'inactive','count':'count_inactive'})
adv = BoxScoreAdvancedV3('0022100579').get_data_frames()[1].filter(['gameId', 'teamId','assistPercentage','offensiveRating','defensiveRating','pace','possessions','offensiveReboundPercentage',
'defensiveReboundPercentage']).rename(columns={'gameId':'GAME_ID','teamId':'TEAM_ID'})
scoringdf = b[5].filter([col for col in b[5].columns if (col.find('PTS_')>-1) & (b[5][col].sum()!=0)]+['GAME_ID','TEAM_ID'])
home = b[7].filter(['GAME_ID','HOME_TEAM_ID'])
advHome = adv.merge(home,how='left',on='GAME_ID')
np.where(advHome.HOME_TEAM_ID == advHome.TEAM_ID,1,0)
advHome.HOME_TEAM_ID = np.where(advHome.HOME_TEAM_ID == advHome.TEAM_ID,1,0)
advHome = advHome.rename(columns = {'HOME_TEAM_ID':'home'})
advInact = inAct.merge(advHome,how='left',on=['TEAM_ID'])
final = advInact.merge(scoringdf,how='left',on=['TEAM_ID','GAME_ID'])

In [ ]:
final

In [ ]:
pd.read_sql('select * from players',nba.conn).columns

In [ ]:
temp = pd.read_pickle('nba/data/pickle/awards.pkl')

In [ ]:
nba.insert_data(temp.filter(plord),'players')

In [ ]:
plord = ['PERSON_ID','DISPLAY_FIRST_LAST','HEIGHT','WEIGHT','POSITION','DRAFT_YEAR','DRAFT_NUMBER','BIRTHDATE',
                  'NBA All-Star', 'All-Defensive Team1', 'All-Defensive Team2', 'All-NBA1','All-NBA2','All-NBA3',
                  'NBA Most Valuable Player', 'NBA Fddinals Most Valuable Player','NBA Defensive Player of the Year',
                  'NBA Most Improved Player(null)']

In [ ]:
pin = CommonPlayerInfo(203507).get_data_frames()[0]

In [ ]:
pinfo = ['PERSON_ID','DISPLAY_FIRST_LAST','HEIGHT','WEIGHT','POSITION','DRAFT_YEAR','BIRTHDATE','DRAFT_NUMBER']

In [ ]:
pin.filter(pinfo)

In [ ]:
np.random.choice(range(2,5))

In [ ]:
df = pd.pivot(awards[awards.DESCRIPTION.str.contains('All-[NBA|Star]|Most|Defensive')].groupby(['PERSON_ID','DESCRIPTION']).agg({'SEASON':[list]}).reset_index(),
         index=['PERSON_ID'],columns = 'DESCRIPTION').reset_index()
df.columns = ['{}'.format(col[2]) if col[2]!='' else col[0] for col in df.columns ]

In [ ]:
plyers = []
curdb = [x[0] for x in nba.conn.execute('select distinct player_id from players').fetchall()]
for season in ['2024','2023','2022','2021','2020','2019','2018','2017']:
    pi = PlayerIndex(season=season).get_data_frames()[0]
    pi['PERSON_ID'] = pi.PERSON_ID.astype(str)
    pi = pi[~pi.PERSON_ID.isin(curdb)]
    plyers.extend(pi.PERSON_ID.values)

In [ ]:
b = BoxScoreSummaryV2(game_id='0022100579').get_data_frames()

In [ ]:
g = BoxScoreAdvancedV3('0022100579').get_data_frames()[1].filter(['gameId', 'teamId','assistPercentage','offensiveRating','DefensiveRating','pace','possessions','offensiveReboundPercentage',
'defensiveReboundPercentage'])

In [ ]:
b[7].filter(['GAME_ID','HOME_TEAM_ID']).HOME_TEAM_ID

In [ ]:
b = BoxScoreSummaryV2(game_id='0021900330').get_data_frames()
inAct = b[3].groupby(['TEAM_ID']).PLAYER_ID.agg([list,'count']).reset_index()
inAct['list'] = inAct.list.apply(lambda x:','.join([str(ply) for ply in x]))
inAct = inAct.rename(columns = {'list':'inactive','count':'count_inactive'})
adv = BoxScoreAdvancedV3('0022100579').get_data_frames()[1].filter(['gameId', 'teamId','assistPercentage','offensiveRating','defensiveRating','pace','possessions','offensiveReboundPercentage',
'defensiveReboundPercentage']).rename(columns={'gameId':'GAME_ID','teamId':'TEAM_ID'})
scoringdf = b[5].filter([col for col in b[5].columns if (col.find('PTS_')>-1) & (b[5][col].sum()!=0)]+['GAME_ID','TEAM_ID'])
home = b[7].filter(['GAME_ID','HOME_TEAM_ID'])

In [ ]:
adv

In [ ]:
advHome = adv.merge(home,how='left',on='GAME_ID')
np.where(advHome.HOME_TEAM_ID == advHome.TEAM_ID,1,0)
advHome.HOME_TEAM_ID = np.where(advHome.HOME_TEAM_ID == advHome.TEAM_ID,1,0)
advHome = advHome.rename(columns = {'HOME_TEAM_ID':'home'})
advInact = inAct.merge(advHome,how='left',on=['TEAM_ID'])
final = advInact.merge(scoringdf,how='left',on=['TEAM_ID','GAME_ID'])

In [ ]:
final

In [ ]:
b[7].filter(['GAME_ID','HOME_TEAM_ID','VISITOR_TEAM_ID'])

In [ ]:
inAct

In [ ]:
nba.update_player_info(['2024','2023','2022','2021','2020','2019','2018','2017'])

In [ ]:
test = pd.read_pickle('nba/data/pickle/awards.pkl')

In [ ]:
test['mip'] = None

In [ ]:
test

In [ ]:
aw = nba.get_awards(203507)
pi = nba.get_player_info(203507)

In [ ]:
pi.merge(aw,how='left',on=['PERSON_ID'])

In [ ]:
nba.showTables

In [ ]:
df.filter(['PERSON_ID','NBA All-Star','All-NBA1','All-NBA2',
          'All-NBA3','All-Defensive Team1','All-Defensive Team2','NBA Most Improved Player(null)',
          'NBA Defensive Player of the Year', 'NBA Most Valuable Player','NBA Finals Most Valuable Player'])

In [ ]:
PlayerIndex(['2017']).get_data_frames()[0].columns

In [ ]:
pi[pi.PLAYER_FIRST_NAME=='Giannis']

In [ ]:
pd.read_sql('select * from players',nba.conn)

In [ ]:
len(set(nba.get_player_info(['2017','2018','2019','2020','2021','2022','2023'])))

In [ ]:

CommonPlayerInfo(1630173).get_data_frames()[0].columns

In [ ]:
pi[pi.PERSON_ID==202397]

In [ ]:
gameid

In [ ]:
nba = bet.nba()
nba.showTables

In [ ]:
nba.conn.execute('DROP TABLE players')
nba.conn.commit()
pfile = open('nba/data/sql/createPlayerInfoTable.sql','r').read()
nba.conn.execute(pfile)
nba.conn.commit()

In [ ]:
pd.read_sql('select * from players',nba.conn).columns

In [ ]:
testd = ['2024-04-01','2024-04-02','2024-04-03']
seasons =['2017-18','2018-19','2019-20','2020-21','2021-22','2022-23','2023-24']

In [ ]:
minDate = '2024-04-01'
maxDate = '2024-04-03'
#the following dates are missing in our player log need to get information for all requisite tables
msdates = ['2018-03-13', '2018-03-09', '2018-01-11', '2017-12-16',
       '2017-12-09', '2017-12-07', '2017-11-18', '2017-10-26',
       '2019-01-19', '2019-01-17', '2018-12-15', '2018-12-13',
       '2020-03-08', '2020-03-04', '2020-02-09', '2020-01-24',
       '2019-12-14', '2019-12-12', '2022-01-06', '2021-11-05',
       '2023-04-08', '2023-04-06', '2023-01-19', '2023-01-13',
       '2022-11-25', '2024-04-14', '2024-03-09', '2024-01-05',
       '2023-12-22', '2023-12-07', '2023-11-25', '2023-11-24']

In [ ]:
#running missing for adv,log,bskt rbs,shots was getting an error running for all together
#think error is caused by dates not being sequential + different seasons
adv = nba.get_advanced_box(msdates)

In [ ]:
nba.showTables

In [ ]:
sqldf = pd.read_sql('select * from playerGameLog',nba.conn)

In [ ]:
logReb = nba.get_logs(['2021-01-01'],seasons)[['PLAYER_ID','GAME_DATE','GAME_ID','REB']]

In [ ]:
logReb.columns = [col.lower() for col in logReb.columns]
logReb.player_id = logReb.player_id.astype(str)

In [ ]:
logReb

In [ ]:
len(set(logReb.game_id.values).difference(set(sqldf.game_id.values)))

In [ ]:
gmmiss = set(logReb.game_date.values).difference(set(sqldf.game_date.values))

In [ ]:
logReb[logReb.game_date.isin(gmmiss)]

In [ ]:
logReb['id'] = logReb.player_id + '_' + logReb.game_date

In [ ]:
sqldf['id'] = sqldf.player_id + '_' + sqldf.game_date

In [ ]:
missid = list(set(logReb.id.values).difference(sqldf.id.values))

In [ ]:
[x.split('')]

In [ ]:
sqldf.merge(logReb,how='left',on=['player_id','game_id'])

In [ ]:
log = nba.get_logs(msdates,seasons)

In [ ]:
len(sqldf)

In [ ]:
log.GAME_DATE.nunique()

In [ ]:
miss = [dt for dt in log.GAME_DATE.unique() if dt not in sqldates.game_date.values]

In [ ]:
miss

In [ ]:
chk = nba.update_player_log(miss)

In [ ]:
lg = nba.get_logs(miss,seasons)
lg = lg[lg.GAME_DATE.isin(miss)]
d = nba.get_first_buckets(miss)
sht = nba.get_player_shot_spots(miss)
rbs = nba.get_rebounds(miss)
adv = nba.get_advanced_box(miss)

In [ ]:
logReb

Steps to complete:  
- all missing values have been pulled and their subsquent dfs are made above.-
- need to add playerGameLogs + logReb to plyrLog
- write the above to plyrLog
- choose which table is kept and delete the other.

In [ ]:
sqldf.columns

In [ ]:
sqlf = sqldf.merge(logReb,how='left',on=['player_id','game_date','game_id'])

In [ ]:
final = sqlf.filter(['player_id', 'team_id', 'game_id', 'game_date', 'min', 'ftm', 'fta','reb',
       'ast', 'tov', 'stl', 'blk', 'blka', 'pf', 'pfd', 'pts', 'plus_minus',
       'dd2', 'td3', 'offensiveRating', 'defensiveRating', 'usagePercentage',
       'pace', 'possessions', 'team_first', 'game_first', 'oreb',
       'oreb_contest', 'oreb_chances', 'oreb_chance_defer', 'avg_oreb_dist',
       'dreb', 'dreb_contest', 'dreb_chances', 'dreb_chance_defer',
       'avg_dreb_dist', 'ra_fgm', 'ra_fga', 'mid_fgm', 'mid_fga', 'lc_fgm',
       'lc_fga', 'rc_fgm', 'rc_fga', 'abv_fgm', 'abv_fga',])

In [ ]:
nba.conn.execute('DROP TABLE plyrLogs')
sqlfile = open('nba/data/sql/createPlayerGameLog.sql','r').read()
nba.conn.execute(sqlfile)
nba.insert_data(final,'plyrLogs')

In [ ]:
nba.update_player_log(miss)

In [ ]:
nba.get_opp_open_shot()

In [ ]:
nba.get_rebounds('2024-04-01','2024-04-11')

In [ ]:
pd.read_sql('select * from shotCoverage',nba.conn)

In [ ]:

test = pd.read_sql('''
SELECT *
FROM shotCoverage shc
left join dribbleStage drb on shc.TEAM_ID = drb.TEAM_ID and shc.GAME_DATE = substr(drb.GAME_DATE,0,11)
''',nba.conn)
cols = [ct for ct,x in enumerate(test.columns) if (x not in test.columns[:ct-1].values) | (ct==0)]
test = test.iloc[:,cols]

In [ ]:
t = time.time()
pd.read_sql('select * from test',nba.conn)
print(time.time() - t)

In [ ]:
t = time.time()
pd.read_sql('''
SELECT * 
FROM shotCoverage shc
inner join dribbleStage drb on shc.TEAM_ID = drb.TEAM_ID and shc.GAME_DATE = substr(drb.GAME_DATE,0,11)
''',nba.conn)
print(time.time() - t)

In [ ]:
drb= pd.read_sql('''select *
                 from dribbleStage''',nba.conn)

In [ ]:
shot = pd.read_sql('''
select TEAM_ID, GAME_DATE 
from shotCoverage
''',nba.conn)

In [ ]:
from nba_api.stats.static import teams
nba_teams = teams.get_teams()

# Select the dictionary for the Pacers, which contains their team ID
bos = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
bos_id = bos['id']
print(f'boston_id: {bos_id}')

In [ ]:
db = sqlite3.connect('./nba/data/database/nba.db')

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType


gamefinder = leaguegamefinder.LeagueGameFinder(league_id_nullable = '00',
                                               date_from_nullable = '10/01/2017',
                                               season_type_nullable = 'Regular Season'
                                                
                                               )  
game_dates = gamefinder.get_data_frames()[0]['GAME_DATE'].unique()
games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game_ids = list(set([v for l in games for k,v in l.items() if k=='GAME_ID']))
# game = games[0]
# game_id = game['GAME_ID']
# game_matchup = game['MATCHUP']

# print(f'Searching through {len(games)} game(s) for the game_id of {game_id} where {game_matchup}')

In [ ]:
game_dates

In [ ]:
octdf = pd.DataFrame([pd.to_datetime(x) for x in game_dates  if pd.to_datetime(x).month==10],columns = ['day'])
octdf['year'] = [x.year for x in octdf.day]
starts = [pd.to_datetime(x) for x in octdf.groupby('year').day.min().values]

### Shooting information

In [ ]:
from nba_api.stats.endpoints import LeagueDashPlayerShotLocations,CommonPlayerInfo,PlayerProfileV2,PlayerNextNGames,DraftCombineStats,LeagueDashPtStats,LeagueDashTeamShotLocations

In [ ]:
nba.get_rebounds(['2024-04-11'])

### First Baskets

In [ ]:
from nba_api.stats.endpoints import BoxScoreSummaryV2,LeagueDashPlayerShotLocations,BoxScoreTraditionalV2,BoxScoreAdvancedV2,PlayByPlayV2,LeagueDashOppPtShot,PlayerGameLogs

In [ ]:
box = BoxScoreSummaryV2('0022300061')

In [ ]:
df = LeagueDashPlayerShotLocations(date_from_nullable = date,
                             date_to_nullable = date,
                             season=season).get_data_frames()[0]
df = clean_shot_columns(df)
df['GAME_DATE'] = date
final = df.merge(temp,how='left',on=['GAME_DATE','TEAM_ID'])
l.append(final.to_dict(orient='records'))

#### player Shooting

In [ ]:
pd.to_datetime(pd.to_datetime(minDate).strftime('%m/%d/%Y'))

In [ ]:
missing = []

t = time.time()
print('starting at {}'.format(time.strftime('%H:%M')))
temp = gamefinder.get_data_frames()[0][['GAME_DATE','TEAM_ID','GAME_ID']]

final = pd.DataFrame()
for ct,date in enumerate(game_dates):
    temp = temp[temp.GAME_DATE==date]
    d = pd.to_datetime(date)
    season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
    try:
        df = LeagueDashPlayerShotLocations(date_from_nullable = date,
                                     date_to_nullable = date,
                                     season=season).get_data_frames()[0]
        df = clean_shot_columns(df)b
        df['GAME_DATE'] = date
        game = df.merge(temp,how='left',on=['GAME_DATE','TEAM_ID'])
        game = game.filter([col.replace('(Non_RA)','Non_RA') for col in game.columns if col!='TEAM_NAME'])
        final = pd.concat([game,final])
    except:
        missing.append(date)
    if ct % 18 == 0:
        time.sleep(np.random.choice(range(1,12),1)[0])
    elif (ct % 25 == 0) & (ct!=0):
        print('through {} days in {:.2f}'.format(ct,((time.time() -t)/60)))

    if d in starts:
        final.to_sql('shooterStage',db,if_exists='append',index=False)
        print('\tsaved {} season player shots'.format(season))
        final = pd.DataFrame()   
print('finished at {}'.format(time.strftime('%H:%M')))
print('missing {:_}'.format(len(missing)))

### Shots by dribbles

In [ ]:
df = LeagueDashOppPtShot(date_from_nullable = date,
                                     date_to_nullable = date,
                                     season=season).get_data_frames()[0]

In [ ]:

drib = ['0 Dribbles','1 Dribble','2 Dribbles','3-6 Dribbles','7+ Dribbles']
missing = []
final = pd.DataFrame()
t = time.time()
games = gamefinder.get_data_frames()[0][['GAME_DATE','TEAM_ID','GAME_ID']]
games.GAME_DATE = pd.to_datetime(games.GAME_DATE)
print('starting at {}'.format(time.strftime('%H:%M')))

for ct,date in enumerate(game_dates):
    d = pd.to_datetime(date)
    season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
    drb = pd.DataFrame()
    try:
        for dribbleCount in drib:
            drbShots = LeagueDashOppPtShot(date_from_nullable = date,
                                date_to_nullable = date,
                                           season=season,
                                dribble_range_nullable=dribbleCount).get_data_frames()[0]
            df = drbShots.filter([col for col in drbShots.columns if re.search('[2-3][A|M]$|ID$',col)!=None])
            df.columns = ['{}_{}'.format(dribbleCount.replace(' ','_'),col) if re.search('ID$',col)==None else col for col in df.columns]
            drb = pd.concat([drb,df])
            time.sleep(1)
        drb = drb.merge(games[games.GAME_DATE==d],how='left',on=['TEAM_ID'])
        drb = drb.groupby(['TEAM_ID','GAME_ID','GAME_DATE']).sum().reset_index()
    except:
        missing.append(date)
    final = pd.concat([final,drb])
    if ct % 18 == 0:
        time.sleep(np.random.choice(range(1,12),1)[0])
    elif (ct % 25 == 0) & (ct!=0):
        print('through {} days in {:.2f}'.format(ct,((time.time() -t)/60)))

    if d in starts:
        final.to_sql('dribbleStage',db,if_exists='append',index=False)
        print('\tsaved {} season drible shots'.format(season))
        final = pd.DataFrame()
print('finished at {}'.format(time.strftime('%H:%M')))
print('missing {:_}'.format(len(missing)))

In [ ]:
#team defense shooting
l = []
#missing = []
t = time.time()
print('starting at {}'.format(time.strftime('%H:%M')))
final = pd.DataFrame()
for ct,date in enumerate(game_dates):
    try:
        d = pd.to_datetime(date)
        season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
        oppShots = LeagueDashTeamShotLocations(measure_type_simple='Opponent',
                                          date_from_nullable = date,
                                           date_to_nullable = date,
                                       season=season
                           ).get_data_frames()[0]
        oppShots.columns = ['{}_{}'.format(re.sub(' |-','_',a),b) if a!='' else b for a,b in oppShots.columns]
        oppShots = oppShots.filter([col for col in oppShots.columns if re.search('_PCT$',col)==None])
        oppShots['GAME_DATE'] = date
        wide =  LeagueDashOppPtShot(date_from_nullable = date,
                          date_to_nullable = date, season=season,
                              close_def_dist_range_nullable = '6+ Feet - Wide Open').get_data_frames()[0]
        wide = wide.filter([col for col in wide.columns if (re.search('_FREQUENCY$|PCT$|^G|FGM|FGA',col)==None) &
                                                    (wide[col].dtype!=object)] )
        wide.columns = [col if re.search('FG',col)==None else 'WIDEOPEN_{}'.format(col) for col in wide.columns]
        wide['GAME_DATE'] = date

        op = LeagueDashOppPtShot(date_from_nullable = date,
                          date_to_nullable = date,season=season,
                              close_def_dist_range_nullable = '4-6 Feet - Open').get_data_frames()[0]
        op = op.filter([col for col in op.columns if (re.search('_FREQUENCY$|PCT$|^G|FGM|FGA',col)==None) &
                                                    (op[col].dtype!=object)] )
        op.columns = [col if re.search('FG',col)==None  else 'OPEN_{}'.format(col) for col in op.columns]
        op['GAME_DATE'] = date
        df = oppShots.merge(wide.merge(op,how='left',on=['TEAM_ID','GAME_DATE']),how='left',on=['TEAM_ID','GAME_DATE'])
        final = pd.concat([df,final])
        if ct % 18 == 0:
            time.sleep(np.random.choice(range(1,12),1)[0])
        elif (ct % 25 == 0) & (ct!=0):
            print('through {} days in {:.2f}'.format(ct,((time.time() -t)/60)))
        if d in starts or date==game_dates[-1]:
            final = final.filter([col.replace('(Non_RA)','Non_RA') for col in final.columns if col!='TEAM_NAME'])
            final.to_sql('shotCoverage',db,if_exists='append',index=False) 
            print('\tsaved {} season team Shots allowed'.format(season))
            final = pd.DataFrame()
    except:
        missing.append(date)
print('Seasons uploaded, missing {:,} days of games'.format(len(missing)))
#pickle.dump(l,open('nba/data/pickle/shooting2.pkl','wb'))

In [ ]:
def clean_shot_columns(df):
    df.columns = ['{}_{}'.format(re.sub(' |-','_',a),b) if a!='' else b for a,b in df.columns]
    df = df.filter([col for col in df.columns if (re.search('ID$|^Restricted|^Mid|^In_The|^Right|^Left|^Above',col)!=None) &
                                (re.search('PCT$',col)==None)])
    return df

In [ ]:
class data:
    #probably want to get our db connection here and the last updated date
    def __init__(self):
        conn = sqlite3.connection('nba.db')
        lastGame = conn.cursor().exucute('select max(game_date) from games')
    
    def clean_lgdash_opp_columns(df,dribble):
        df = df.filter([col for col in df.columns if (re.search('_FREQUENCY$|PCT$|^G|FGM|FGA',col)==None) &
                                                        (df[col].dtype!=object)] )
        if dribble != False:
            df.columns = ['{}_{}'.format(col,dribble.replace(' ','_')) if col!='TEAM_ID' else col for col in df.columns] 
        return df
    
    def clean_shot_columns(df):
        df.columns = ['{}_{}'.format(re.sub(' |-','_',a),b) if a!='' else b for a,b in df.columns]
        df = df.filter([col for col in df.columns if (re.search('ID$|^Restricted|^Mid|^In_The|^Right|^Left|^Above',col)!=None) &
                                    (re.search('PCT$',col)==None)])
        return df
    
    
    def get_adv_box(self,gameids):
        l = []
        for gameid in gameids:
            box = BoxScoreAdvancedV3(game_id = gameid).get_data_frames()[0]
            d = box.filter([col for col in box.columns if (box[col].dtype!=object)])
            d['game_id'] = gameid
            l.append(d.to_dict(orient='records'))
        return l
    
    def get_first_buckets(self,gameid):
        for gameid in gameids:
            df = PlayByPlayV2(gameid).get_data_frames()[0]
            aind = df[(df.EVENTMSGTYPE==1) & (df.HOMEDESCRIPTION.notna())].PLAYER1_ID.idxmin()
            hind = df[(df.EVENTMSGTYPE==1) & (df.VISITORDESCRIPTION.notna())].PLAYER1_ID.idxmin()
            gd = {'gameid':gameid,'homeFirst':df.iloc[hind].PLAYER1_ID,'awayFirst':df.iloc[aind].PLAYER1_ID,
                  'first':df.iloc[min([aind,hind])].PLAYER1_ID}
        return gd
        
    def get_summary(self,gameid):
        l = []
        for gameid in gameids:
            b= BoxScoreSummaryV2(game_id=gameid).get_data_frames()
            df1 = b[5]
            df1 = df1.filter([col for col in df1.columns if (df1[col].dtype!=object) & (df1[col].sum()!=0) & (col!='GAME_SEQUENCE') ])
            df = df1.merge(b[1][['TEAM_ID','LARGEST_LEAD','PTS_FB','PTS_2ND_CHANCE','TOTAL_TURNOVERS']])
            df['GAME_ID'] = gameid
            l.append(df.to_dict(orient='records'))
        return l
        
    def get_opp_open_shot(self,dates):
        l = []
        for date in dates:
            d = pd.to_datetime(date)
            season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
            oppShots = LeagueDashTeamShotLocations(measure_type_simple='Opponent',
                                              date_from_nullable = date,
                                               date_to_nullable = date,
                                           season=season
                               ).get_data_frames()[0]
            oppShots.columns = ['{}_{}'.format(re.sub(' |-','_',a),b) if a!='' else b for a,b in oppShots.columns]
            oppShots = oppShots.filter([col for col in oppShots.columns if re.search('_PCT$',col)==None])
            oppShots['GAME_DATE'] = date
            wide =  LeagueDashOppPtShot(date_from_nullable = date,
                              date_to_nullable = date, season=season,
                                  close_def_dist_range_nullable = '6+ Feet - Wide Open').get_data_frames()[0]
            wide = wide.filter([col for col in wide.columns if (re.search('_FREQUENCY$|PCT$|^G|FGM|FGA',col)==None) &
                                                        (wide[col].dtype!=object)] )
            wide.columns = [col if re.search('FG',col)==None else 'WIDEOPEN_{}'.format(col) for col in wide.columns]
            wide['GAME_DATE'] = date

            op = LeagueDashOppPtShot(date_from_nullable = date,
                              date_to_nullable = date,season=season,
                                  close_def_dist_range_nullable = '4-6 Feet - Open').get_data_frames()[0]
            op = op.filter([col for col in op.columns if (re.search('_FREQUENCY$|PCT$|^G|FGM|FGA',col)==None) &
                                                        (op[col].dtype!=object)] )
            op.columns = [col if re.search('FG',col)==None  else 'OPEN_{}'.format(col) for col in op.columns]
            op['GAME_DATE'] = date
            final = oppShots.merge(wide.merge(op,how='left',on=['TEAM_ID','GAME_DATE']),how='left',on=['TEAM_ID','GAME_DATE'])
            l.append(final.to_dict(orient='records'))
        return l
        
    def get_opp_dribble_shot(self,dates):
        l = []
        drib = ['0 Dribbles','1 Dribble','2 Dribbles','3-6 Dribbles','7+ Dribbles']
        d = pd.to_datetime(date)
        season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
        drb = pd.DataFrame()
        games = gamefinder.get_data_frames()[0][['GAME_DATE','TEAM_ID','GAME_ID']]
        games.GAME_DATE = pd.to_datetime(games.GAME_DATE)
        for dribbleCount in drib:
            drbShots = LeagueDashOppPtShot(date_from_nullable = date,
                                date_to_nullable = date,
                                           season=season,
                                dribble_range_nullable=dribbleCount).get_data_frames()[0]
            df = lgDashOppColums(drbShots,dribbleCount)
            drb = pd.concat([drb,df])
            time.sleep(1)
        drb = drb.merge(games[games.GAME_DATE==d],how='left',on=['TEAM_ID'])
        drb = drb.groupby(['TEAM_ID','GAME_ID','GAME_DATE']).sum().reset_index()
        l.append(drb.to_dict(orient='records'))
        return l
    def get_player_shot_spots(self,dates):
        for date in dates:
            d = pd.to_datetime(date)
            season = '{}-{}'.format(d.year,str(d.year+1)[-2:]) if d.month>=10 else '{}-{}'.format(d.year-1,str(d.year)[-2:])
            df = LeagueDashPlayerShotLocations(date_from_nullable = date,
                                         date_to_nullable = date,
                                         season=season).get_data_frames()[0]
            df = shotcolumns(df)
            df['GAME_DATE'] = date
            temp = gamefinder.get_data_frames()[0][['GAME_DATE','TEAM_ID','GAME_ID']]
            temp = temp[temp.GAME_DATE==date]
            final = df.merge(temp,how='left',on=['GAME_DATE','TEAM_ID'])
        l.append(final.to_dict(orient='records'))
        return l
    
    def get_logs(season):
        log = PlayerGameLogs(season_nullable=season).get_data_frames()[0]
        roster = log.groupby(['SEASON_YEAR','PLAYER_ID','TEAM_ID']).GAME_DATE.agg(
                                                        firstGame = min,lastGame = max).reset_index()
        srchStr = 'SEASON_YEAR|MATCHUP|^TEAM_ABB|_PCT$|TEAM_NAME|^FG|REB$|_RANK$|WL|NICKNAME|_PTS$'
        df = log.filter([col for col in log.columns if re.search(srchStr,col)==None])
        return df
    
    def get_player_team(season):
        log = PlayerGameLogs(season_nullable=season).get_data_frames()[0]
        roster = log.groupby(['SEASON_YEAR','PLAYER_ID','TEAM_ID']).GAME_DATE.agg(
                                                        firstGame = min,lastGame = max).reset_index()
        return roster

    def cleanBaskets(df):
        test['teamFirst'] = np.where(test.homeFirst!=test['first'],test.homeFirst,test.awayFirst)
        test['gameFirst'] = np.where(test.homeFirst==test['first'],test.homeFirst,test.awayFirst)
        game = test.filter(['gameid','gameFirst'])
        game['gameFirstBasket'] = 1
        team = test.filter(['gameid','teamFirst'])
        team['teamFirstBasket'] = 1
        df = pd.concat([game,team])
        df = df.rename(columns = {'gameid':'gameId'})
        df['playerId'] = df['gameFirst'].fillna(df.teamFirst)
        df[['gameId','playerId','gameFirstBasket','teamFirstBasket']]
        return df

In [ ]:
#from nba_api.stats.endpoints import PlayByPlayV2 - team play-by-play
l = []
missing = []
t = time.time()
for ct,gameid in enumerate(gids):
    try:
        b= BoxScoreSummaryV2(game_id=gameid).get_data_frames()
        df1 = b[5]
        df1 = df1.filter([col for col in df1.columns if (df1[col].dtype!=object) & (df1[col].sum()!=0) & (col!='GAME_SEQUENCE') ])
        df = df1.merge(b[1][['TEAM_ID','LARGEST_LEAD','PTS_FB','PTS_2ND_CHANCE','TOTAL_TURNOVERS']])
        df['GAME_ID'] = gameid
        l.append(df.to_dict(orient='records'))
        if ct % 18 == 0:
            time.sleep(np.random.choice(range(1,12),1)[0])
        elif (ct % 100 == 0) & (ct!=0):
            print('through {} games in {:.2f}'.format(ct,((time.time() -t)/60)))
    except:
        missing.append(gameid)
print('Seasons uploaded, missing {:,} game ids'.format(len(missing)))
pickle.dump(l,open('nba/data/pickle/quarter2Info.pkl','wb'))

In [ ]:
#from nba_api.stats.endpoints import PlayByPlayV2
l = []
missing = []
t = time.time()
for ct,gameid in enumerate(game_ids):
    try:
        df = PlayByPlayV2(gameid).get_data_frames()[0]
        aind = df[(df.EVENTMSGTYPE==1) & (df.HOMEDESCRIPTION.notna())].PLAYER1_ID.idxmin()
        hind = df[(df.EVENTMSGTYPE==1) & (df.VISITORDESCRIPTION.notna())].PLAYER1_ID.idxmin()
        gd = {'gameid':gameid,'homeFirst':df.iloc[hind].PLAYER1_ID,'awayFirst':df.iloc[aind].PLAYER1_ID,
              'first':df.iloc[min([aind,hind])].PLAYER1_ID}
        l.append(gd)
        if ct % 18 == 0:
            time.sleep(np.random.choice(range(1,12),1)[0])
        elif (ct % 100 == 0) & (ct!=0):
            print('through {} games in {:.2f}'.format(ct,((time.time() -t)/60)))
        del df
    except:
        missing.append(gameid)0
print('Seasons uploaded, missing {:,} game ids'.format(len(missing)))
pickle.dump(l,open('nba/data/pickle/baskets.pkl','wb'))

## general game information

In [ ]:
from nba_api.stats.endpoints import BoxScoreSummaryV2,CommonTeamRoster,PlayerGameLogs,PlayerAwards,TeamDetails,PlayerGameLogs,BoxScoreAdvancedV3
boxSum = BoxScoreSummaryV2(game_id='0022300790')
#adv = BoxScoreAdvancedV3(game_id='0022300790')
#trad = BoxScoreTraditionalV3(game_id='0022300790')
log = PlayerGameLogs(season_nullable='2023-24')
award = PlayerAwards(player_id='203076')
tinfo = CommonTeamRoster(team_id = '1610612756')

In [ ]:
BoxScoreAdvancedV3('0022300790').get_data_frames()[0].columns

In [ ]:
def getLogs(season):
    log = PlayerGameLogs(season_nullable=season).get_data_frames()[0]
    srchStr = 'SEASON_YEAR|MATCHUP|^TEAM_ABB|_PCT$|TEAM_NAME|^FG|REB$|_RANK$|WL|NICKNAME|_PTS$'
    df = log.filter([col for col in log.columns if re.search(srchStr,col)==None])
    return df

In [ ]:
pshot = pd.read_pickle('nba/data/pickle/plyrShots.pkl')
fb = pd.read_pickle('nba/data/pickle/baskets.pkl')

In [ ]:
plyShot = pd.DataFrame(columns = ['PLAYER_ID', 'TEAM_ID', 'Restricted_Area_FGM', 'Restricted_Area_FGA', 'In_The_Paint_(Non_RA)_FGM', 'In_The_Paint_(Non_RA)_FGA', 'Mid_Range_FGM', 'Mid_Range_FGA', 'Left_Corner_3_FGM', 'Left_Corner_3_FGA', 'Right_Corner_3_FGM', 'Right_Corner_3_FGA', 'Above_the_Break_3_FGM', 'Above_the_Break_3_FGA', 'GAME_DATE', 'GAME_ID'])
for l in pshot:
    for d in l:
        if d['GAME_ID']=='0022300061':
            plyShot.loc[len(plyShot)] = list(d.values())

In [ ]:
#inactive player
boxSum.get_data_frames()[3]

In [ ]:
#officials
boxSum.get_data_frames()[2]

In [ ]:
boxSum.get_data_frames()[1][['TEAM_ID','LARGEST_LEAD','PTS_FB','PTS_2ND_CHANCE','TOTAL_TURNOVERS']]

In [ ]:
b= boxSum.get_data_frames

### Prototype view
- need player log data
    - this will have the layout shown in notes
    - for now will manually filter based on team names
    - need a rolling value as well will do 5 and 10
- create a function for the fair based on their pddvalue + 5% for a vig
- kelly criterion that will take in the actual odds

In [ ]:
with open('./nba/data/sql/createPlayerTable.sql','w') as file:
    f = '''
    CREATE VIEW playerGame (
    playerId TEXT,
    teamId TEXT,
    gameId TEXT,
    min FLOAT,
    resAreaM INT,
    resAreaA INT,
    paintM INT,
    paintA INT,
    midM INT,
    midA INT,
    lcThreeM INT,
    lcThreeA INT,
    rcThreeM INT,
    rcThreeA INT,
    aboveThreeM INT,
    aboveThreeA INT,
    orb INT,
    orbContest INT,
    orbChances INT,
    orbDefer INT,
    avgOrbDist FLOAT,
    drb INT,
    drbContest INT,
    drbChances INT,
    drbDefer INT,
    avgDrbDist FLOAT,
    ftm INT,
    fta INT,
    ast INT,
    tov INT,
    stl INT,
    blk INT,
    shotBlk INT,
    pf INT,
    pfd INT,
    pts INT,
    plusMinus INT,
    dd INT,
    td INT,
    usage FLOAT,
    pace FLOAT,
    poss INT,
    offRating FLOAT,
    defRating FLOAT,
    teamFirstBasket INT,
    gameFirstBasket INT,

    
    )
    
    '''
    file.write(f)

In [ ]:
with open('./nba/data/sql/createGamesTable.sql','w') as file:
    f = '''
    CREATE TABLE teamBox(
    gameId TEXT,
    gameDate TEXT,
    teamId TEXT,
    home INT,
    Q1 INT,
    Q2 INT,
    Q3 INT,
    Q4 INT,
    OT INT,
    inactive TEXT,
    pace FLOAT,
    offRating FLOAT,
    defRating FLOAT,
    PRIMARY KEY (gameId,teamId),
    FOREIGN KEY (teamId)
        REFERENCES teams(teamId)
    )
    '''
    file.write(f)

In [ ]:
with open('./nba/data/sql/createPlayerInfoTable.sql','w') as file:
    f='''
    CREATE TABLE players(
    playerId TEXT,
    playerName TEXT,
    playerHeight INT,
    playerWeight INT,
    playerBirthday TEXT,
    PRIMARY KEY (playerId)
    )
    '''
    file.write(f)

In [ ]:
with open('./nba/data/sql/createRosterTable.sql','w') as file:
    f = '''
    CREATE TABLE rosters(
    teamId TEXT,
    seasonYear TEXT,
    playerId TEXT,
    startDate TEXT,
    endDate TEXT,
    PRIMARY KEY (teamId,playerId,seasonYear),
    FOREIGN KEY (playerId) 
        REFERENCES players(playerId),
    FOREIGN KEY (teamId)
        REFERENCES teams(teamId)
    )
    
    '''
    file.write(f)

In [ ]:
with open('./nba/data/sql/createTeamInfoTable.sql','w') as file:
    f = '''
    CREATE TABLE teams(
    teamId TEXT,
    teamAbrv TEXT,
    teamName TEXT,
    teamConference TEXT,
    teamDivision TEXT,
    teamLong FLOAT,
    teamLAT FLOAT,
    PRIMARY KEY (teamId)
    
    )
    '''
    file.write(f)

In [ ]:
sqlOrd = ['team_id','game_date','game_id','ra_fgm','ra_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm',
                  'abv_fga','bck_fgm','bck_fga','crn_fgm','crn_fga','wide_fg2m','wide_fg2a','wide_fg3m','wide_fg3a','open_fg2m','open_fg2a',
                  'open_fg3m','open_fg3a','drb0_fg2m','drb0_fg2a','drb0_fg3m','drb0_fg3a','drb1_fg2m','drb1_fg2a','drb1_fg3m','drb1_fg3a',
                  'drb2_fg2m','drb2_fg2a','drb2_fg3m','drb2_fg3a','drb36_fg2m', 'drb36_fg2a', 'drb36_fg3m', 'drb36_fg3a','drb7_fg2m',
                  'drb7_fg2a','drb7_fg3m','drb7_fg3a']

In [ ]:
def create_sql_script(table,cols):
    str = 'CREATE TABLE {0} ('
    for col in cols:
        typ = 'TEXT' if re.search('_id|date',col.lower()) !=None else 'INT'
        str += ('{} {},\n'.format(col,typ)) #if col != test.columns[-1] else '{} {})'.format(col,typ)
    str += ' PRIMARY KEY (player_id,game_id) )'
    str = str.format(table)
    with open('./nba/data/sql/createPlayerGameLog.sql','w') as file:
        file.write(str)
    print('wrote create file')

In [ ]:
test.columns = ['team_id','ra_fgm','ra_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga','bck_fgm','bck_fga',
 'crn_fgm','crn_fga','game_date','wide_fg2m','wide_fg2a','wide_fg3m','wide_fg3a','open_fg2m','open_fg2a', 'open_fg3m','open_fg3a','game_id',
 'drb0_fg2m','drb0_fg2a','drb0_fg3m','drb0_fg3a','drb1_fg2m','drb1_fg2a','drb1_fg3m','drb1_fg3a','drb2_fg2m','drb2_fg2a','drb2_fg3m','drb2_fg3a',
 'drb36_fg2m', 'drb36_fg2a', 'drb36_fg3m', 'drb36_fg3a', 'drb7_fg2m','drb7_fg2a','drb7_fg3m','drb7_fg3a']

In [ ]:
with open('./nba/data/sql/CreateTeamShotAllowed','w') as file:
    file.write(str)

In [ ]:
logFile = create_sql_script('playerGameLog',pcols)

In [ ]:
logFile = open('./nba/data/sql/createPlayerGameLog.sql','r').read()

In [ ]:
nba.cur.execute(logFile)

In [ ]:
nba.conn.commit()

In [ ]:
nba = bet.nba()

In [ ]:
nba.showTables

In [ ]:
nba.cur.execute('DROP TABLE logStage')
nba.cur.execute('DROP TABLE shootStage')
nba.cur.execute('DROP TABLE rbdStage')
nba.conn.commit()

In [ ]:
ply = pd.read_sql('''SELECT *
                    FROM logStage log
                    inner join rbdStage rbd on log.PLAYER_ID = rbd.PLAYER_ID and log.GAME_ID = rbd.GAME_ID
                    inner join shootStage sht on log.PLAYER_ID = sht.PLAYER_ID and log.GAME_ID = sht.GAME_ID''',nba.conn)

In [ ]:
plyOrd = ['player_id','team_id','game_id','game_date','min','ftm','fta','ast','tov','stl','blk','blka','pf','pfd',
           'pts','plus_minus','dd2','td3','offensive_rating','defensive_rating','usage_precentage','pace','possessions',
           'team_first','game_first','oreb','oreb_contest','oreb_chances','oreb_chance_defer','avg_oreb_dist','dreb',
           'dreb_contest','dreb_chances','dreb_chance_defer','avg_dreb_dist','ra_fgm','ra_fga','mid_fgm','mid_fga','lc_fgm',
           'lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga']

In [ ]:
f

In [ ]:
create_sql_script('playerLog',pcols)

In [ ]:
plyCols = [ct for ct,col in  enumerate(ply.columns) if (col not in ply.columns[:ct-1]) & (col!='SEASON_YEAR')]

In [ ]:
ply = ply.iloc[:,plyCols]

In [ ]:
ply.GAME_DATE = [x[:10] for x in ply.GAME_DATE]

In [ ]:
ply.columns = pcols

In [ ]:
ply

In [ ]:
# cur.execute('''DROP TABLE rosters''')
# cur.execute('''DROP TABLE teams''')
cur.execute('''DROP TABLE box''')
# cur.execute('''DROP TABLE players''')
# cur.execute('''DROP TABLE games''')

In [ ]:
cur = db.cursor()

In [ ]:
# cur.execute(open('./nba/data/sql/createPlayerInfoTable.sql','r').read())
# cur.execute(open('./nba/data/sql/createRosterTable.sql','r').read())
# cur.execute(open('./nba/data/sql/createGamesTable.sql','r').read())
cur.execute(open('./nba/data/sql/createPlayerTable.sql','r').read())
# cur.execute(open('./nba/data/sql/createTeamInfoTable.sql','r').read())
db.commit()

In [ ]:
pd.read_pickle('./nba/data/pickle/')

In [ ]:
boxcols = pd.read_sql('''
PRAGMA table_info(box)
''',db).name.values

In [ ]:
shots = pd.read_pickle('./nba/data/pickle/plyrShots2023-24.pkl')

In [ ]:
PlayerGameLogs().get_data_frames()[0].columns

In [ ]:
#read in current first basket and box information clean the data and set to table'

In [ ]:
def create_box():
    '''
    Will combine advance metrics with standard box score metrics and add in first baskets
    '''
    logCols = ['SEASON_YEAR','PLAYER_ID','TEAM_ID','GAME_ID','GAME_DATE','MIN','FTM','FTA','AST','TOV','STL','BLK','BLKA','PF','PFD','PTS','PLUS_MINUS',
 'DD2','TD3']
    advcols = ['GAME_ID','PLAYER_ID','offensiveRating','defensiveRating','usagePercentage','pace','possessions']
    bskt = pd.read_pickle('./nba/data/pickle/baskets.pkl')
    bskts = set([(d['gameid'],v,1,1)  if list(d.values()).count(v) ==2 else (d['gameid'],v,1,0) for d in bskt for k,v in d.items() if type(v)!=str])
    bdf = pd.DataFrame(bskts,columns = ['GAME_ID','PLAYER_ID','teamFirst','gameFirst'])
    advbox = pd.DataFrame([r for d in pd.read_pickle('./nba/data/pickle/advbox.pkl') for r in d]).rename(columns={'game_id':'GAME_ID','personId':'PLAYER_ID'})
    advbox = advbox.filter(advcols)
    advbsk = advbox.merge(bdf,how='left',on=['GAME_ID','PLAYER_ID'])
    for season in ['2017-18','2018-19','2019-20','2020-21','2021-22','2022-23','2023-24']:
        print('{} starting at {}'.format(season,time.strftime('%H:%M')))
        seasonLog = PlayerGameLogs(season_nullable=season).get_data_frames()[0][logCols]
        seasonLog = seasonLog.filter(logCols)
        
        final = seasonLog.merge(advbsk,how='left',on = ['GAME_ID','PLAYER_ID'])
        
        final.to_sql('logs',db,if_exists='append')

In [ ]:
db.execute('DROP TABLE shotCoverage')
db.commit()

In [ ]:
pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';",db)

In [ ]:
df = pd.read_sql('select * from shotCoverage',db)

In [ ]:
rbs = pd.read_sql('select * from rebounds',db)

In [ ]:
rbs = rbs.drop(['index'],axis=1)

In [ ]:
db.cursor().execute('DROP TABLE games')
db.commit()

In [ ]:
def insert_data(data,table):
    cols = pd.read_sql('''
    PRAGMA table_info({})
    '''.format(table),db).name.values
    rows = data.shape[0]
    v = '?' + ',?' * (len(cols)-1)
    cur.executemany('''insert into {t} values ({v})'''.format(t=table,v=v),data.values.tolist())
    return print('{} has been updated with {:,} rows'.format(table,rows))

In [ ]:
insert_data(ros,'rosters')

In [ ]:
tm = nba.get_team_info()

In [ ]:
insert_data(pd.DataFrame(tm),'teams')

In [ ]:
def create_box_data(data):

In [ ]:
gameids

In [ ]:
l = []
for gameid in gameids:
    df = PlayByPlayV2(gameid).get_data_frames()[0]
    aind = df[(df.EVENTMSGTYPE==1) & (df.HOMEDESCRIPTION.notna())].PLAYER1_ID.idxmin()
    hind = df[(df.EVENTMSGTYPE==1) & (df.VISITORDESCRIPTION.notna())].PLAYER1_ID.idxmin()
    gd = {'gameid':gameid,'homeFirst':1,'homePlayer':df.iloc[hind].PLAYER1_ID,'awayFirst':1,
          'awayPlayer':df.iloc[aind].PLAYER1_ID,'first':1,
          'firstPlayer':df.iloc[min([aind,hind])].PLAYER1_ID}
    l.append(gd)
df = pd.DataFrame(l)
home = df[df.homePlayer == df.firstPlayer][['gameid','homeFirst','homePlayer','first','firstPlayer']]
away = df[df.awayPlayer == df.firstPlayer][['gameid','awayFirst','awayPlayer','first','firstPlayer']]
del df

In [ ]:
h,a = nba.get_first_buckets(gameids)

In [ ]:
box = nba.get_advBox(gameids)

In [ ]:
bxdf = pd.DataFrame()

In [ ]:
bxcls = pd.read_sql('''PRAGMA table_info(box)''',db).name.values

In [ ]:
os.listdir('nba/data/pickle')

In [ ]:
bskts = pd.read_pickle('nba/data/pickle/baskets.pkl')

In [ ]:
def cleanBaskets(df):
    test['teamFirst'] = np.where(test.homeFirst!=test['first'],test.homeFirst,test.awayFirst)
    test['gameFirst'] = np.where(test.homeFirst==test['first'],test.homeFirst,test.awayFirst)
    game = test.filter(['gameid','gameFirst'])
    game['gameFirstBasket'] = 1
    team = test.filter(['gameid','teamFirst'])
    team['teamFirstBasket'] = 1
    df = pd.concat([game,team])
    df = df.rename(columns = {'gameid':'gameId'})
    df['playerId'] = df['gameFirst'].fillna(df.teamFirst)
    df[['gameId','playerId','gameFirstBasket','teamFirstBasket']]
    return df

In [ ]:
shot = pd.DataFrame([x for y in pd.read_pickle('nba/data/pickle/plyrShots.pkl')[:3] for x in y])

In [ ]:
def shot_clean():
    shot = pd.DataFrame([x for y in pd.read_pickle('nba/data/pickle/plyrShots.pkl') for x in y])
    return shot

In [ ]:
pd.DataFrame([y for x in box for y in x]).filter(['personId','game_id','usagePercentage','pace','possessions','offensiveRating','defensiveRating'])

In [ ]:
def 
def analytic_view(log,val,teams):
    '''
    Pass through the player log and the stat you are looking to evaluate to create a view to give basic information 
    on the player
    '''
    vals = [col for col in log.columns if col.find(val)>-1] + ['PLAYER_NAME','MIN']
    playing = log[log.TEAM_ABBREVIATION.isin(teams)]
    playing
    plval = playing[[val]]

In [ ]:
gd = nba.get_first_buckets(['0022301188','0021700001'])

In [ ]:
seasonLog = PlayerGameLogs(season_nullable='2023-24',
                           date_from_nullable = "04/01/2024",
                           date_to_nullable = "04/03/2024").get_data_frames()[0]

In [ ]:
seasonLog.columns

In [ ]:
logs = nba.get_logs(minDate,maxDate)

In [ ]:
rbs = nba.get_rebounds(minDate,maxDate)

In [ ]:
noLog = [x for x in seasonLog.PLAYER_ID if x not in rbs.PLAYER_ID.values]

In [ ]:
seasonLog[seasonLog.PLAYER_ID.isin(noLog)][['PLAYER_NAME','MIN','REB']]

In [ ]:
adv = nba.get_advanced_box(g)

In [ ]:
adv[adv.usagePercentage==0]

In [ ]:
logs = nba.get_logs(g)

In [ ]:
bkts = nba.get_first_buckets(g)
#rbs = nba.get_rebounds(g)

In [ ]:
gds = games[games.GAME_DATE.isin(g)].GAME_ID.unique()

In [ ]:
df = PlayByPlayV2(gameid,headers = nba.headers).get_data_frames()

In [ ]:
l = []

In [ ]:
for gameid in gds:
    print(gameid)
    df = PlayByPlayV2(gameid).get_data_frames()[0]
    aind = df[(df.EVENTMSGTYPE==1) & (df.HOMEDESCRIPTION.notna())].PLAYER1_ID.idxmin()
    hind = df[(df.EVENTMSGTYPE==1) & (df.VISITORDESCRIPTION.notna())].PLAYER1_ID.idxmin()
    gd = {'gameid':gameid,'homePlayer':df.iloc[hind].PLAYER1_ID,
          'awayPlayer':df.iloc[aind].PLAYER1_ID,
          'firstPlayer':df.iloc[min([aind,hind])].PLAYER1_ID}
    bskts = set([(gd['gameid'],v,1,1)  if list(gd.values()).count(v) ==2 else (gd['gameid'],v,1,0) for k,v in gd.items() if k!='gameid'])
    #bdf = pd.DataFrame(bskts,columns = ['GAME_ID','PLAYER_ID','teamFirst','gameFirst'])
    l.append(bskts)
df = pd.DataFrame([x for y in l for x in y],columns = ['GAME_ID','PLAYER_ID','team_first','game_first'])

In [ ]:
bkts[bkts.GAME_ID=='0022301104']

In [ ]:
logs

In [ ]:
test = logs.merge(bkts,how='left',on=['GAME_ID','PLAYER_ID']).fillna(0)

In [ ]:
adv[adv.usagePercentage==0]

In [ ]:
rbs.merge(adv,on = ['GAME_ID','PLAYER_ID'])

In [ ]:
t = time.time()
final = nba.update_player_log(g)
print('finished in {:.2f}'.format((time.time()-t)/60))

In [ ]:
sqlFile = open('nba/data/sql/CreateTeamShotAllowed.sql','r').read()

In [ ]:
nba.conn.execute(sqlFile)
nba.conn.commit()

In [ ]:
rbs

In [ ]:
cols = ['player_id','team_id','ra_fgm','ra_fga','paint_fgm','paint_fga','mid_fgm','mid_fga','lc_fgm',
        'lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga']

In [ ]:
len(cols)

In [ ]:
nba.get_player_shot_spots(g)

In [ ]:
nba.get_player_shot_spots(g)

In [ ]:
cols

In [ ]:
pd.read_sql('select * from playerGameLog',nba.conn).columns

In [ ]:
pklFiles = [f.path for f in os.scandir('nba/data/pickle') if f.name.find('ShotAllowed')>-1 ]

In [ ]:
chkSQL = pd.read_sql('''select game_date || '_' || team_id as id
                        from shotsAllowed''',nba.conn)

In [ ]:
chkSQL.id.values

In [ ]:
final = pd.DataFrame()
for file in pklFiles:
    d = pd.read_pickle(file)
    temp = pd.DataFrame([game for l in d for game in l])
    final = pd.concat([temp,final])

In [ ]:
missing = list(set([x[:10] for x in chkSQL.id.values if x not in final.check.values]))

In [ ]:
addShots = nba.get_opp_open_shot(missing)

In [ ]:
final = pd.concat([final,addShots])

In [ ]:
sqlCols = ['team_id','ra_fgm','ra_fga','paint_fgm','paint_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga','bck_fgm','bck_fga','crn_fgm','crn_fga','game_date']
sqlOrd = ['team_id','game_date','game_id','ra_fgm','ra_fga','paint_fgm','paint_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga','bck_fgm','bck_fga','crn_fgm','crn_fga','wide_fg2m','wide_fg2a','wide_fg3m','wide_fg3a','open_fg2m', 'open_fg2a','open_fg3m','open_fg3a','drb0_fg2m','drb0_fg2a','drb0_fg3m','drb0_fg3a','drb1_fg2m','drb1_fg2a','drb1_fg3m', 'drb1_fg3a','drb2_fg2m','drb2_fg2a','drb2_fg3m','drb2_fg3a','drb36_fg2m', 'drb36_fg2a','drb36_fg3m','drb36_fg3a','drb7_fg2m',
    'drb7_fg2a','drb7_fg3m','drb7_fg3a']

In [ ]:
final.columns

In [ ]:
paint = final[['TEAM_ID','GAME_DATE','In_The_Paint_(Non_RA)_OPP_FGM','In_The_Paint_(Non_RA)_OPP_FGA']]

In [ ]:
paint.columns = ['team_id','game_date','paint_fgm','paint_fga']

In [ ]:
paint

In [ ]:
sqldf = pd.read_sql('select * from shotsAllowed',nba.conn)

In [ ]:
paint['team_id'] = paint.team_id.astype(str)

In [ ]:
sqldf['team_id']

In [ ]:
update = sqldf.merge(paint,how='inner',on=['team_id','game_date'])

In [ ]:
nba = bet.nba()

In [ ]:
nba.

In [ ]:
sqlCols = ['team_id','ra_fgm','ra_fga','paint_fgm','paint_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga','bck_fgm','bck_fga','crn_fgm','crn_fga','game_date','wide_fg2m','wide_fg2a','wide_fg3m','wide_fg3a','open_fg2m','open_fg2a', 'open_fg3m','open_fg3a','game_id','drb0_fg2m','drb0_fg2a','drb0_fg3m','drb0_fg3a','drb1_fg2m','drb1_fg2a','drb1_fg3m','drb1_fg3a','drb2_fg2m','drb2_fg2a','drb2_fg3m','drb2_fg3a','drb36_fg2m', 'drb36_fg2a', 'drb36_fg3m', 'drb36_fg3a','drb7_fg2m','drb7_fg2a', 'drb7_fg3m','drb7_fg3a']
sqlOrd = ['team_id','game_date','game_id','ra_fgm','ra_fga','paint_fgm','paint_fga','mid_fgm','mid_fga','lc_fgm','lc_fga','rc_fgm','rc_fga','abv_fgm','abv_fga','bck_fgm','bck_fga','crn_fgm','crn_fga','wide_fg2m','wide_fg2a','wide_fg3m','wide_fg3a','open_fg2m', 'open_fg2a','open_fg3m','open_fg3a','drb0_fg2m','drb0_fg2a','drb0_fg3m','drb0_fg3a','drb1_fg2m','drb1_fg2a','drb1_fg3m', 'drb1_fg3a','drb2_fg2m','drb2_fg2a','drb2_fg3m','drb2_fg3a','drb36_fg2m', 'drb36_fg2a','drb36_fg3m','drb36_fg3a','drb7_fg2m',
'drb7_fg2a','drb7_fg3m','drb7_fg3a']
update = update.filter(sqlOrd)

In [ ]:
sqlog = pd.read_sql('select * from playerGameLog',nba.conn)

In [ ]:
temp = sqlog.filter(['player_id', 'team_id', 'game_id','offensiveRating', 'defensiveRating', 'usagePercentage',
       'pace', 'possessions', 'team_first', 'game_first', 'oreb',
       'oreb_contest', 'oreb_chances', 'oreb_chance_defer', 'avg_oreb_dist',
       'dreb', 'dreb_contest', 'dreb_chances', 'dreb_chance_defer',
       'avg_dreb_dist', 'ra_fgm', 'ra_fga', 'mid_fgm', 'mid_fga', 'lc_fgm',
       'lc_fga', 'rc_fgm', 'rc_fga', 'abv_fgm', 'abv_fga'])

In [ ]:
nba.insert_data(update,'tmShotAllow')

In [ ]:
nba.get_advanced_box(g)

In [ ]:
nba.update_player_log(g).columns

In [ ]:
nba.get_logs(g)

In [ ]:
seasons =['2017-18','2018-19','2019-20','2020-21','2021-22','2022-23','2023-24']

In [ ]:
lg = nba.get_logs(['2017-01-01'],seasons =['2017-18','2018-19','2019-20','2020-21','2021-22','2022-23','2023-24'])

In [ ]:
lg.columns = [x.lower() for x in lg.columns]

In [ ]:
lg['game_date'] = lg.game_date.apply(lambda x:x[:10])

In [ ]:
lg.player_id = lg.player_id.astype(str)
lg.team_id = lg.team_id.astype(str)

In [ ]:
temp.merge(lg,how='inner',on = ['player_id','team_id','game_id'])

In [ ]:
temp

In [ ]:
lg

In [ ]:
ms = [x for x in lg.game_id.unique() if x not in temp.game_id.unique()]

In [ ]:
lg[lg.game_id.isin(ms)].game_date.unique()

In [ ]:
len(ms)

In [ ]:
gms = nba.get_games('2017-10-01','2024-05-01')

In [ ]:
log = nba.get_logs(gms.GAME_DATE.unique(),seasons)

In [ ]:
rbs = nba.get_rebounds(gms.GAME_DATE)