In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
import bets
import os
import glob
import datetime as dt
import time
import json
import requests
from tqdm import tqdm
from nba_api.stats.endpoints import leaguegamefinder,BoxScoreSummaryV2

In [3]:
def reload_table(table,filepath=None,data=None):
    if data is None:
        data = pd.read_sql('SELECT * FROM teams',nba.conn)
    try:
        nba.conn.execute('DROP TABLE {}'.format(table))
        nba.conn.commit()
    except:
        print('No table to delete, creating {}'.format(table))
    if filepath != None:
        file = open(filepath,'r').read()
        try:
            nba.conn.execute(file)
        except:
            '{} table already exists'.format(table)
    nba.insert_data(data,table)

In [66]:
nba = bets.nba()
gids = nba.get_games(nba.get_start_dates()[0],dt.datetime.today().strftime('%Y-%m-%d'))
gids['season'] = ['{}-{}'.format(x[:4],int(x[2:4])+1) if int(x[5:7]) > 9 else '{}-{}'.format(int(x[:4])-1,x[2:4]) for x in gids.GAME_DATE]
sqlord = ['GAME_ID','GAME_DATE','TEAM_ID','inactive','count_inactive','assistPercentage','offensiveRating','defensiveRating','pace',
       'possessions','offensiveReboundPercentage','defensiveReboundPercentage','PTS_2ND_CHANCE',
       'PTS_FB', 'TEAM_TURNOVERS', 'PTS_OFF_TO','home','PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 
       'PTS_OT1', 'PTS_OT2','PTS_OT3', 'PTS_OT4', 'wins','season']

After starting to work through views, decided I needed to add season, wins to dataset, added below

In [79]:
files = glob.glob('data/pickle/teamlog*')
df = pd.DataFrame()
for file in files:
    df = pd.concat([df,pd.read_pickle(file)])
df = df.merge(gids,how='left', on = ['GAME_ID','TEAM_ID'])
df = df.drop_duplicates(subset=['GAME_ID','TEAM_ID'])
df['Total'] = df.filter([col for col in df.columns if col.find('PTS_') > -1]).sum(axis=1)
df['wins'] = np.where(df.groupby('GAME_ID').Total.transform('max') == df.Total, 1, 0)
df.drop(['Total','GAME_DATE'],axis=1,inplace=True)
df = df[df.groupby('GAME_ID').TEAM_ID.transform('nunique')==2]
df = df.merge(gids,how='left', on =['GAME_ID','TEAM_ID'])
addtdf = pd.DataFrame()
for pkl in tmpkl:
    addtdf = pd.concat([addtdf,pd.read_pickle(pkl)])
addtdf = addtdf.drop_duplicates(subset = ['game_id','TEAM_ID']).reset_index(drop=True)
addtdf.rename(columns = {'game_id':'GAME_ID'},inplace=True)
teamdf  = df.merge(addtdf,how='left',on=['TEAM_ID','GAME_ID'])

teamdf.filter(sqlord).shape

(16560, 26)

In [ ]:
gids = ['0022100038',
 '0021901272',
 '0022100144',
 '0021901300',
 '0021800828',
 '0022100905',
 '0022100890',
 '0022000589',
 '0021901261']
missing  = nba.get_summary(gids)

In [70]:
final = pd.concat([teamdf,missing])

/var/folders/29/0dqpwvqj4095gxyj5dkvym7r0000gn/T/ipykernel_95536/2880493318.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final = pd.concat([teamdf,missing])

In [78]:
gids

        GAME_DATE     TEAM_ID     GAME_ID
0      2024-04-14  1610612762  0022301198
1      2024-04-14  1610612759  0022301197
2      2024-04-14  1610612742  0022301196
3      2024-04-14  1610612755  0022301192
4      2024-04-14  1610612747  0022301195
...           ...         ...         ...
16573  2017-10-18  1610612755  0021700006
16574  2017-10-17  1610612745  0021700002
16575  2017-10-17  1610612738  0021700001
16576  2017-10-17  1610612739  0021700001
16577  2017-10-17  1610612744  0021700002

[16578 rows x 3 columns]

Check Team Log information
1. all non-COVID years should have 1230 unique games (15 * 82) and same number of wins
   - somehow some games got messed up, pulled in game dataframe and correctd
2. check that all games have two teams (I believe 9 will only have one) - these had teams without inactives, needed to correct join

In [75]:
reload_table('teamLog',filepath='data/sql/createTeamLog.sql',data=final.filter(sqlord))

teamLog has been updated with 16,578 rows

In [13]:
df.columns

Index(['TEAM_ID', 'inactive', 'count_inactive', 'GAME_ID', 'assistPercentage',
       'offensiveRating', 'defensiveRating', 'pace', 'possessions',
       'offensiveReboundPercentage', 'defensiveReboundPercentage', 'home',
       'PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'GAME_DATE', 'season', 'Total', 'wins'],
      dtype='object')

In [262]:
df = pd.read_sql("select * from teamLog ",nba.conn)

In [263]:
df.groupby('season').game_id.nunique()

season
2017-18    1230
2018-19    1230
2019-20    1059
2020-21    1080
2021-22    1230
2022-23    1230
2023-24    1230
Name: game_id, dtype: int64

In [264]:
games.groupby('season').game_id.nunique()

season
2017-18    1230
2018-19    1230
2019-20    1059
2020-21    1080
2021-22    1230
2022-23    1230
2023-24    1230
Name: game_id, dtype: int64

going to check above by going back through the api

In [296]:
tmO = pd.read_sql('''SELECT 
season, substr(game_date,6,2) as month, teamAbrv as team, rank() OVER(PARTITION BY team_id,season ORDER BY game_date) game_number,
count_inactive,
possessions,off_rate,
win, home,
pace, sht.*
from teamLog
JOIN teams USING (team_id)
left join (select team_id,game_id,
ra_fgm,ra_fga,mid_fgm,mid_fga,lc_fgm,lc_fga,rc_fgm,rc_fga,abv_fgm ,abv_fga,ftm,fta,
oreb,oreb_contest,oreb_chances,oreb_chance_defer,avg_oreb_dist,pfd
from plyrLogs
group by game_id,team_id) sht USING (team_id,game_id)
''',nba.conn)

In [362]:
BoxScoreSummaryV2('0022000072').get_data_frames()[1].columns

Index(['LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PTS_PAINT',
       'PTS_2ND_CHANCE', 'PTS_FB', 'LARGEST_LEAD', 'LEAD_CHANGES',
       'TIMES_TIED', 'TEAM_TURNOVERS', 'TOTAL_TURNOVERS', 'TEAM_REBOUNDS',
       'PTS_OFF_TO'],
      dtype='object')

In [353]:
pd.read_sql('select * from teamLog',nba.conn)

,game_id,game_date,team_id,inactive,count_inactive,assist_pct,off_rate,def_rate,pace,possessions,...,q1_pts,q2_pts,q3_pts,q4_pts,ot1_pts,ot2_pts,ot3_pts,ot4_pts,win,season
0,0022000072,2021-01-01,1610612737,"200765,203503,1627739,1630168",4.0,0.558,115.2,96.0,99.5,99,...,29,32,28,25,NaN,NaN,NaN,NaN,1,2020-21
1,0022000072,2021-01-01,1610612751,"1629651,203915",2.0,0.543,96.0,115.2,99.5,100,...,23,29,21,23,NaN,NaN,NaN,NaN,0,2020-21
2,0021900432,2019-12-21,1610612741,"203490,1629690,1628990,1626245,1629622",5.0,0.525,119.0,108.1,99.5,100,...,25,28,40,26,NaN,NaN,NaN,NaN,1,2019-20
3,0021900432,2019-12-21,1610612765,"202704,201933,1629663,1629648,1626174,1629017",6.0,0.750,108.1,119.0,99.5,99,...,28,31,30,18,NaN,NaN,NaN,NaN,0,2019-20
4,0022100859,2022-02-14,1610612751,"201142,1627732,203925,202681",4.0,0.581,105.8,82.5,103.0,103,...,35,20,25,29,NaN,NaN,NaN,NaN,1,2021-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,0022100890,2022-02-24,1610612738,None,NaN,0.609,125.2,101.0,104.0,103,...,35,32,30,32,NaN,NaN,NaN,NaN,1,2021-22
16574,0022000589,2021-03-13,1610612764,"1628418,202397",2.0,0.581,105.3,110.6,113.0,113,...,33,32,30,24,NaN,NaN,NaN,NaN,0,2020-21
16575,0022000589,2021-03-13,1610612749,None,NaN,0.767,110.6,105.3,113.0,113,...,36,28,30,31,NaN,NaN,NaN,NaN,1,2020-21
16576,0021901261,2020-08-04,1610612757,None,NaN,0.462,106.8,100.0,102.5,103,...,29,32,25,24,NaN,NaN,NaN,NaN,1,2019-20
16577,0021901261,2020-08-04,1610612745,"201569,203998",2.0,0.706,100.0,106.8,102.5,102,...,24,32,24,22,NaN,NaN,NaN,NaN,0,2019-20

In [302]:
tmD = pd.read_sql('''select 
season, substr(sht.game_date,6,2) as month, teamAbrv as team, rank() OVER(PARTITION BY team_id,season ORDER BY sht.game_date) game_number,
count_inactive,def_rate,
pace * 2 - possessions as possessionsAllowed,
win, home, sht.*
from  shotsAllowed sht
JOIN teamLog log USING (team_id,game_id)
JOIN teams tms USING (team_id)
left join (select team_id,game_id,
dreb,dreb_contest,dreb_chances,dreb_chance_defer,avg_dreb_dist,pf
from plyrLogs
group by game_id,team_id) ply USING (game_id,team_id)

''',nba.conn)

In [383]:
fgids = pd.read_pickle('data/pickle/addt_teamlog.pkl').game_id.values

In [386]:
remain = [x for x in games.game_id.unique() if x not in fgids]

In [388]:
len(remain)

1863

In [392]:
df = pd.DataFrame()
for ct,gid in enumerate(tqdm(remain)):
    temp = BoxScoreSummaryV2(gid).get_data_frames()[1][['TEAM_ID','PTS_2ND_CHANCE','PTS_FB','TEAM_TURNOVERS','PTS_OFF_TO']]
    temp['game_id'] = gid
    if ct % 25 == 0:
        time.sleep(np.random.choice(range(2,10)))
    df = pd.concat([df,temp])
    df.to_pickle('data/pickle/addt_teamlog_1.pkl')
    if  ct % 250 == 0 and ct != 0:
        time.sleep(120 + np.random.choice(range(10,60)))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1863/1863 [45:03<00:00,  1.45s/it]

In [479]:
 tml.columns

Index(['game_id', 'game_date', 'team_id', 'inactive', 'count_inactive',
       'assist_pct', 'off_rate', 'def_rate', 'pace', 'possessions',
       'off_reb_pct', 'def_reb_pct', 'home', 'q1_pts', 'q2_pts', 'q3_pts',
       'q4_pts', 'ot1_pts', 'ot2_pts', 'ot3_pts', 'ot4_pts', 'win', 'season'],
      dtype='object')

In [488]:
colord = ['game_id', 'game_date', 'team_id', 'inactive', 'count_inactive','assist_pct', 'off_rate', 'def_rate',
 'pace', 'possessions','off_reb_pct', 'def_reb_pct', 'home', 'pts_2nd_chance','pts_fb','team_turnonvers','pts_off_to','home'
 'q1_pts', 'q2_pts', 'q3_pts','q4_pts', 'ot1_pts', 'ot2_pts', 'ot3_pts', 'ot4_pts', 'win', 'season']

In [489]:
df0 = pd.read_pickle('data/pickle/addt_teamlog.pkl')
df1 = pd.read_pickle('data/pickle/addt_teamlog_1.pkl')
final  = pd.concat([df0,df1]).reset_index(drop=True)
final.columns = [col.lower() for col in final.columns]
final['team_id'] = final.team_id.astype(str)

In [490]:
tml = pd.read_sql('select * from teamLog',nba.conn)

In [491]:
updf = tml.merge(final,how='left',on=['game_id','team_id']).filter(colord)

In [492]:
reload_table('teamLog',filepath = 'data/sql/createTeamLog.sql',data = updf)

teamLog has been updated with 0 rows

In [494]:
tml

Empty DataFrame
Columns: [game_id, game_date, team_id, inactive, count_inactive, assist_pct, off_rate, def_rate, pace, possessions, off_reb_pct, def_reb_pct, second_pts, fastb_pts, tm_to, to_pts, home, q1_pts, q2_pts, q3_pts, q4_pts, ot1_pts, ot2_pts, ot3_pts, ot4_pts, win, season]
Index: []

[0 rows x 27 columns]

In [34]:
addtpkl = glob.glob('data/pickle/*addt_teamlog*')

In [33]:
tmpkl

['data/pickle/addt_teamlog_1.pkl', 'data/pickle/addt_teamlog.pkl']