In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
import bets
import os
import glob
import datetime as dt
import time
#import ot
import json
import requests
import statsmodels.api as sm 
from tqdm import tqdm
pd.set_option('display.float_format', lambda x: '%.3f' % x)
nba = bets.nba()
import seaborn as sns
import matplotlib.pyplot as plt
import re
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
from nba_api.stats.endpoints import leaguegamefinder,BoxScoreSummaryV2,LeagueDashOppPtShot,PlayerProfileV2,GameRotation

In [ ]:
temp = GameRotation('0021700003').get_data_frames()

In [ ]:
game_ids = pd.read_sql('select game_id from teamLog',nba.conn).values.flatten()

In [ ]:
temp[0][temp[0].IN_TIME_REAL==0].PERSON_ID.values

In [ ]:
test = pd.concat(temp)

In [ ]:
len(game_ids)

In [ ]:
d = {}
missing = []
for idx,gid in enumerate(tqdm(game_ids)):
    try:
        temp = pd.concat(GameRotation(gid).get_data_frames())
        d[gid] = temp[temp.IN_TIME_REAL==0].PERSON_ID.values.tolist()
    except:
        missing.append(gid)
    if idx % 200 == 0:
        time.sleep(np.random.choice(range(25,45)))

In [ ]:
len(missing)

In [ ]:
nba.conn.execute('ALTER TABLE plyrLogs ADD COLUMN Starter int;')
nba.conn.commit()

In [ ]:
def reload_table(table,filepath=None,data=None):
   
    try:
        nba.conn.execute('DROP TABLE {}'.format(table))
        nba.conn.commit()
    except:
        print('No table to delete, creating {}'.format(table))
    if filepath != None:
        file = open(filepath,'r').read()
        try:
            nba.conn.execute(file)
        except:
            '{} table already exists'.format(table)
    nba.insert_data(data,table)

#### EDA

What do we want to know:
- Team info
    1. home court advantage?
    2. what is the proportion of games that win by 6+/11+/15+/26+/31+
    3. quarter win distributions
    4. rest, will need rest since last game, number of games in 3/4/5 nights

In [ ]:
## What do games spreads look like 6/11/26 point victories - landmarks in espn

In [ ]:
tm = pd.read_sql('select * from team_game',nba.conn)

In [ ]:
tm['ptDiff'] = tm.game_points_scored - tm.points_allowed

In [ ]:
tm[tm.ptDiff >= 1].ptDiff.describe([x/100 for x in range(10,110,10)])

In [ ]:
for season in tm.season.unique():
    print(season)
    df = tm[(tm.ptDiff>0) & (tm.season==season)]
    print(df.ptDiff.describe([x/100 for x in range(10,110,10)]))
    sns.ecdfplot(df.ptDiff)
    plt.vlines(x=df.ptDiff.mean(),ymin=0,ymax=1,colors='red')
    plt.show()

In [ ]:
#what does 
def pyth_win_exp(pf,pa):
    return np.round(pf ** 16.5 / (pf ** 16.5 + pa ** 16.5),3)

In [ ]:
f20 = tm[tm.game_number < 20]
f20wins = f20.groupby(['season','team']).win.value_counts(normalize=True).reset_index(name='wperc')
f20wins = f20wins[f20wins.win==1].drop('win',axis=1)

In [ ]:
pyth = pyth_win_exp(f20.groupby(['season','team']).game_points_scored.sum(), f20.groupby(['season','team']).points_allowed.sum()).reset_index(name='pythPerc')

In [ ]:
f20wins = f20wins.merge(pyth,how='inner',on=['season','team'])

In [ ]:
f20wins

In [ ]:
wPerDf = (tm.groupby(['season','team']).win.sum() / tm.groupby(['season','team']).game_id.nunique()).reset_index(name='actualWPerc')

In [ ]:
df = f20wins.merge(wPerDf,how='left',on=['season','team'])

In [ ]:
df.actualWPerc

In [ ]:
(df.pythPerc - df.actualWPerc).describe([x/100 for x in range(10,110,10)]) * 100

In [ ]:
(df.wperc - df.actualWPerc).describe([x/100 for x in range(10,110,10)]) * 100

In [ ]:
ols = sm.regression.linear_model.OLS
linear_model = ols(endog=df.actualWPerc,exog = df.pythPerc).fit() 
linear_model.summary()

In [ ]:
# looking at these it seems that 20 games

In [ ]:
f20['ptDiff'] = f20.game_points_scored - f20.points_allowed

In [ ]:
lg = tm[tm.game_number >= 20]

In [ ]:
lgw = lg.groupby(['season','team']).win.value_counts(normalize=True).reset_index(name='lgWinperc')
lgw = lgw[lgw.win==1].drop('win',axis=1)

In [ ]:
df = df.merge(lgw,how='left',on=['season','team'])

In [ ]:
df

In [ ]:
linear_model = ols(endog = df.lgWinperc, exog= df.wperc, 
                   ).fit() 
fig = plt.figure(figsize=(14, 8)) 
sm.graphics.plot_regress_exog(linear_model, 
                                    'wperc',
                             fig=fig)

In [ ]:
linear_model.summary()

In [ ]:
linear_model = ols(endog = df.lgWinperc,exog = df.pythPerc, 
                  ).fit() 
fig = plt.figure(figsize=(14, 8)) 
sm.graphics.plot_regress_exog(linear_model, 
                                    'pythPerc',
                             fig=fig)

In [ ]:
linear_model.summary()

In [ ]:
sortedVals = ['10','11','12','01','02','03','04','05']

In [ ]:

data = tm[tm.win==1].groupby(['season','MONTH']).ptDiff.mean().reset_index()
plt.figure(figsize = (16,8))
sns.barplot(data,x = 'season', y = 'ptDiff',hue='MONTH',hue_order=sortedVals)
plt.show()

 It does seem to increase through the year as april tends to be a high month for spreads.
 2024 there is sentiment that there was a change in refereeing

In [ ]:
plt.figure(figsize = (14,8))
sns.ecdfplot(tm[(tm.win==1)].ptDiff)
plt.show()

In [ ]:
tm[(tm.home==1)].win.value_counts(normalize=True)

In [ ]:
tm[(tm.home==1)].groupby('season').win.sum() / tm.groupby('season').game_id.nunique()

In [ ]:
#back-to-backs
print(tm[(tm.daysBetweenGames==0)].win.value_counts(normalize=True))
tm[(tm.daysBetweenGames==0)].groupby('season').win.sum() / tm[(tm.daysBetweenGames==0)].groupby('season').game_id.nunique()

In [ ]:
def update_view(viewName,file):
    try:
        nba.conn.execute('DROP VIEW {}'.format(viewName))
        nba.conn.commit()
    except:
        '{} does not exist'.format(viewName)
    nba.conn.execute(open(file,'r').read())
    nba.conn.commit()
    print('{} View has been updated'.format(viewName))

In [ ]:
nba.showTables

### Want to look through player information will want to build out a clustering for player types

In [ ]:
update_view('pgames','data/sql/playerGameView.sql')

In [ ]:
plog = pd.read_sql('select * from pgames',nba.conn).fillna(0)

In [ ]:
## There are 350 undrafted players, Fred van leet is the only all-star, I dont think missing exp will matter too much for them
test = pd.read_sql('''select * from players where pick = 'Undrafted' ''',nba.conn)

In [ ]:
#lets see how offensive/defensive and net rating look for the top 50 players
#need to get a yearly offensive rating

In [ ]:
def true_shooting(plog,game=True):
    if game:
        ts = plog.pts / (2*plog.filter([col for col in plog.columns if re.search('_fga$',col)!=None]).sum(axis=1) + .44 * plog.fta)
        plog['ts'] = ts
        return plog
    else: 
        df = plog.groupby(['player_id','name','season'])[['pts','fta']+shots].sum().reset_index()
        df['ts'] = df.pts / (2*df.filter([col for col in df.columns if re.search('_fga$',col)!=None]).sum(axis=1) + .44 * df.fta)
        return df[['player_id','name','season','ts']]

In [ ]:
tsSeas = true_shooting(plog,game=False)

In [ ]:
sns.histplot(plog.offensiveRating)
plt.show()

In [ ]:
plog = plog.replace(np.inf,np.nan)

In [ ]:
sns.scatterplot(data = plog,y='offensiveRating',x='usagePercentage')
plt.xlim(.1,1.2)
plt.show()

In [ ]:
sns.histplot(plog.ts)
plt.xlim(.1,1.2)
plt.show()

In [ ]:
def shot_profile(plog):
    temp = plog.filter(['player_id','season','name','blka','usagePercentage'] +[col for col in plog.columns if re.search('_fg|^ft',col)!=None])
    plyrDemo = pd.read_sql('select * from players',nba.conn)
    grp = temp.groupby(['season','player_id','name']).median().reset_index()
    
    return grp

In [ ]:
shdf = shot_profile(plog)

In [ ]:
plyrDemo = pd.read_sql('''select * from players
                        ''',nba.conn)

In [ ]:
seasons = pd.read_sql('select distinct season from teamLog',nba.conn).values.flatten()

In [ ]:
def award_counts(df):
    '''Gets a count of the number of instances a player has achieve some honor relative to that season, this is done player by player
    for each award
    Inputs: DataFrame: must have season column and at least one of the following: 
    allstars, all-nba[1-2-3], mvp, mip, dpoy, all-d[1,2], finals mvp.  Ideally DataFrame is at season level.
    Output: df with new column(s)'''
    awardCols = ['allstars','allnba_first','allnba_second','allnba_third','alld_first','alld_second','mip','dpoy','mvp','finals_mvp']
    for col in awardCols:
        df[col+'_count'] = [len([x for x in b.split(',') if x <a]) for a, b in zip(test['season'], test[col].fillna('None'))]
        df = df.drop(awardCols,axis=1)
    return df

In [ ]:
rateTemp = temp[['season']]
# locations = list(set([col[:col.find('_')] for col in temp.columns if col.find('_fg')>-1]))
# for col in locations:
#     rateTemp[col+'_rate'] = temp[col+'_fgm'] / temp[col+'_fga']
# rateTemp

In [ ]:
plog[plog.season=='2023-24'].groupby(['player_id','name'])[['paint_fgm','paint_fga']].sum().sort_values(by='paint_fgm',ascending=False)

In [ ]:
for col in locations:
    print(col)
    print(plog[col+'_fga'].describe(np.arange(.1,1,.1)))

In [ ]:
check = nba.update_player_log(['2024-03-07'])

In [ ]:
temp[col].max()

In [ ]:
plog['thr_fga'] = plog.rc_fga + plog.lc_fga + plog.abv_fga
temp = plog.groupby(['season','player_id','name'])[[x for x in plog.columns if x.find('_fg')>-1]].median().reset_index()
for col in temp.columns:
    if temp[col].dtypes!='O':
        plt.title(col)
        sns.histplot(temp[col],binwidth=1)
        plt.vlines(x = temp[col].mean(),ymin=0,ymax=temp[col].max(),color='red')
        plt.show()

In [ ]:
from nba_api.stats.endpoints import BoxScorePlayerTrackV2,BoxScorePlayerTrackV3,synergyplaytypes

In [ ]:
seasons = pd.read_sql('select distinct season from teamLog',nba.conn).values.flatten()
def get_synergy_data(seasons):
    '''
    Inputs: a list of seasons
    Output: dataframe of synergy pick n roll ballhandler data and isolation data.
    '''
    synCols = ['PLAYER_ID','TEAM_ID','POSS_PCT','PPP','TOV_POSS_PCT','POSS']
    final = pd.DataFrame()
    ptypes = {'Isolation':'Iso','PRBallHandler':'pnr','Spotup':'spot'}
    for ptype in list(ptypes.keys()):
        print('starting {}'.format(ptype))

        for season in tqdm(seasons):
            df = synergyplaytypes.SynergyPlayTypes(per_mode_simple='PerGame',season = season
                                       ,player_or_team_abbreviation='P',play_type_nullable=ptype,type_grouping_nullable='offensive').get_data_frames()[0]
            df = df.filter(synCols)
            df.columns = ['{}_{}'.format(col,ptypes[ptype]) if re.search('ID$',col)==None else col for col in df.columns]
            df['season'] = season
            final = pd.concat([final,df])
    final = final.groupby(['PLAYER_ID','TEAM_ID','season']).sum().reset_index()
    return final

In [ ]:
syn = get_synergy_data(seasons)

## Clustering

In [ ]:
def true_shooting(plog):
    ts = plog.pts / (2*plog.filter([col for col in plog.columns if re.search('_fga$',col)!=None]).sum(axis=1) + .44 * plog.fta)
    plog['ts'] = ts
    return plog

def award_counts(demo,cols=None):
    '''
    Inputs: DF at season level, will be using season and the columns to count awards, will default to all awards
    Output: new dataframe with count columns replacings the columns for each instance
    '''
    awards = ['allstars', 'allnba_first','allnba_second', 'allnba_third', 'alld_first', 'alld_second', 'mip',
       'dpoy', 'mvp', 'finals_mvp']
    demo = demo.fillna('N/A')
    if cols == None:
        cols = awards
    lasts = ['allstars', ['allnba_first','allnba_second', 'allnba_third'],['alld_first', 'alld_second'],'mvp','dpoy']
    #This is checking to find the last time they were all-star, all-nba, all-d, mvp or dpoy, goes first to use years
    for lst in lasts:
        if isinstance(lst,str):
            demo['last_'+lst] = [1 if int(season[:4]) - int(max([x for x in team.split(',') if x < season]+['2000-01'])[:4]) < 3 else 0
            for  season,team in zip(demo.season,demo[lst])]
        else:
            name = lst[0][:lst[0].find('_')]
            grp = zip(demo.season,[','.join(x) for x in demo.filter(lst).values])
            demo['last_'+name] = [1 if int(season[:4]) - int(max([x for x in team.split(',') if x < season]+['2000-01'])[:4]) < 3 else 0
            for  season,team in grp]
    #This goes through every award and will update the column with a count instead of the string of instances
    for col in cols:
        demo[col] = [len([a for a in awrd.split(',') if a < season]) for season,awrd in zip(demo.season,demo[col])]
    
    return demo


def player_off_data(breakouts=True):
    #Set variables and get data

    ind = ['player_id','name','season']
    mmm = ['min','median','max']
    dec = np.arange(.1,1,.1)
    quarts = np.arange(.25,1,.25)
    quints = np.arange(.2,1,.2)
    plySCols = {'min':quarts,'fta':mmm,'ftm':mmm,'ast':mmm,'tov':mmm,'blka':mmm,'pfd':mmm,'pts':dec,'plus_minus':quints,'dd2':'rate',
                    'td3':'rate','offensiveRating':mmm,'usagePercentage':mmm,'pace':mmm,'possessions':mmm,'team_first':'rate','game_first':'rate',
                    'oreb':quarts,'oreb_contest':quarts,'oreb_chances':quarts,'oreb_chance_defer':quarts,'ra_fgm':quints,'ra_fga':quints,
                    'paint_fga':quints, 'paint_fgm':quints, 'mid_fgm':quints,'mid_fga':quints,'lc_fgm':quints,'lc_fga':quints,'rc_fgm':quints,
                    'rc_fga':quints,'abv_fgm':quints, 'abv_fga':quints}
    plog = true_shooting(pd.read_sql('select * from pgames',nba.conn).fillna(0))
    demo = pd.read_sql('select * from players',nba.conn)
    gp = plog.groupby(ind).game_id.count().reset_index(name='gp')
    demo = demo.merge(plog.filter(ind).drop_duplicates(),how='left',on=['player_id','name'])
    demo = demo.dropna(subset=['season']).drop_duplicates()
    
    #setting our column breakouts
    if breakouts:
        
        data = plog[ind].drop_duplicates().reset_index(drop=True)
        #go through the dict to setup the values
        for col in tqdm(plySCols.keys()):
            v = plySCols.get(col)
            if isinstance(v,str):
                data['{}_{}'.format(col,v)] = (plog.groupby(ind)[col].sum() / plog.groupby(ind).game_id.count()).values.flatten()
            elif isinstance(v,list):
                for val in v:
                    data['{}_{}'.format(col,val)] = plog.groupby(ind).agg(x = pd.NamedAgg(column=col,aggfunc=val)).values.flatten()
            else:
                cols = ['player_id','name','season','min_{}'.format(col)]+['{:.0%}_{}'.format(per,col) for per in v] + ['max_{}'.format(col)]
                if v[0] == .2:
                    temp = plog.groupby(ind)[col].describe(percentiles=v).iloc[:,3:].drop('50%',axis=1).reset_index()
                else:
                    temp = plog.groupby(ind)[col].describe(percentiles=v).iloc[:,3:].reset_index()
                temp.columns = cols
                data = data.merge(temp,how='left',on=ind)
            cvar = (plog.groupby(ind)[col].std() / plog.groupby(ind)[col].mean()).reset_index(name=col+'_cvar')    
            data = data.merge(cvar,how='left',on=ind)
        #this final is for the breakouts
        final = data.merge(gp,how='left',on = ind)
    #this final is when breakouts is false to align the datasets
    final = plog.groupby(ind)[list(plySCols.keys())].median().reset_index().merge(gp,how='left', on =ind)
    demo['exp'] = [int(seas[:4]) - int(draft) for seas,draft  in zip(demo.season,demo.draft_year) ]
    demo['age'] = [(dt.datetime(int(season[:4]),10,1) - pd.to_datetime(bday)).days / 365.25 for season,bday  in zip(demo.season,demo.birthday)]
    demo = award_counts(demo)
    final = final.merge(demo, how='left',on = ind)
    final['pick'] = [99 if pick in ['Undrafted','N/A'] else int(pick) for pick in final.pick]
    for pos in final.pos.unique():
        final[pos.lower().replace(' ','')] = np.where(final.pos == pos,1,0)
    final.drop(['birthday','draft_year','pos'],axis=1,inplace=True)   
    return final

In [ ]:
pd.options.display.max_columns = 20
data.describe()

In [ ]:
nba.showTables

In [ ]:
# what is the league average of 3's that are taken from the corner?
season3 = plog.groupby(['season'])[['lc_fga','rc_fga','abv_fga']].sum()

In [ ]:
season3.sum(axis=1)

In [ ]:
pd.DataFrame(season3.values / np.array([[x]*3 for x in season3.sum(axis=1)]),columns = 
             [col+'_prop' for col in season3.columns],index=season3.index)

In [ ]:
shots = [col for col in plog.columns if re.search('_fga',col)!=None] 
pos = [col for col in plog.columns if re.search('center|forward|guard',col)!=None]
demo = [col for col in plog.columns if re.search('height|weight|pick|exp|^age',col)!=None]

In [ ]:
ratedf = plog.groupby('season')[shots].sum() / np.array([[x]*len(shots) for x in plog.groupby('season')[shots].sum().sum(axis=1)])

In [ ]:
ratedf

In [ ]:
seasShot = data[ind+shots+['fta','usagePercentage','offensiveRating','plus_minus']].groupby(ind).mean().reset_index()

In [ ]:
seasShot = seasShot[(seasShot.lc_fga + seasShot.rc_fga + seasShot.abv_fga > 1.5)]
seasShot = seasShot.reset_index(drop=True)

In [ ]:
ind = ['player_id','name','season']
seasShot['totalShots'] =  seasShot[shots].sum(axis=1)
for col in seasShot.columns:
    if col in shots:
        seasShot[col.replace('fga','profga')] = seasShot[col] / seasShot.totalShots
final = seasShot.merge(true_shooting(plog,game=False),how='left',on=ind)
final.drop([col for col in final.columns if col.find('_fga')>-1],axis=1,inplace=True)

catCols ='guard|center|forward'
awardCols = [col for col in final.columns if re.search('allstars|allnba|alld|mip|dpoy|mvp',col)!=None]
norm = Normalizer('l2')
stnd = StandardScaler()
normCols = [col for col in final.columns if (re.search(catCols,col)==None) and (col not in ind)]

In [ ]:
shooting = ['pts','fta','ftm','ra_fgm',
       'ra_fga', 'paint_fga', 'paint_fgm', 'mid_fgm', 'mid_fga', 'lc_fgm',
       'lc_fga', 'rc_fgm', 'rc_fga', 'abv_fgm', 'abv_fga', 'gp', 'height',
       'weight','center', 'forward', 'guard', 'forward-center',
       'guard-forward', 'center-forward', 'forward-guard']

In [ ]:

def get_norm_stand_data(df):
    normData = pd.DataFrame()
    stndData = pd.DataFrame()
    for col in df.columns:
        if col in normCols:
            normData.loc[:,col] = norm.fit_transform(df[col].values.reshape(1,-1)).flatten()
            stndData.loc[:,col] = stnd.fit_transform(df[col].values.reshape(-1,1)).flatten()
        elif col not in ind:
            normData.loc[:,col] = df[col]
            stndData.loc[:,col] = df[col]
    return normData,stndData

In [ ]:
dinds = {'i{}'.format(yr[:yr.find('-')]):final[final.season == yr].index for yr in  final.season.unique()}

In [ ]:
nd,sd = get_norm_stand_data(final)

In [ ]:
def kmeans(X,name=None):
    kmd = {}
    name = name+'_' if name != None else 'Run_'
    for cluster in np.arange(3,16):
        km = KMeans(n_clusters=cluster,random_state=5).fit(X)
        labels = km.labels_
        kmSS = metrics.silhouette_score(X,labels)
        print('{}{} Sil Score: {:.2f}'.format(name,cluster,kmSS))
        kmd[name+str(cluster)] = {'labels':labels,'Score':kmSS}
        
    return kmd
#DBSCAN
def dbscan(X):
    dbScore = {}
    db = DBSCAN(min_samples=10,eps=.1).fit(X)
    labels = db.labels_
    nClusters = len(set(labels)) - (1 if -1 in labels else 0)
    nNoise = list(labels).count(-1)
    silScore = metrics.silhouette_score(X,labels)
    dbScore = {'labels':labels,'nClusters':nClusters,'nNoise':nNoise,'score':silScore}
    print('Score: {:.2%}'.format(silScore))
    return dbScore

In [ ]:
df21 = final[final.season=='2021-22']
df23 = final[final.season=='2023-24']

In [ ]:
nd,sd = get_norm_stand_data(df23)

In [ ]:
dbd = dbscan(nd)

In [ ]:
df23['db23'] = dbd['labels']

In [ ]:
df23.db23.value_counts()

In [ ]:
## looking to test wasserstein distance to see the difference from the median distribution of threes made,
## each player compared to median of players who shoot more than 2 threes a game. Will take the median by game number

p23 = plog[(plog.season=='2023-24')]

In [ ]:
p23['threesTaken'] = p23.abv_fga + p23.lc_fga + p23.rc_fga

In [ ]:
p23 = p23[p23.groupby('player_id').threesTaken.transform('median') >=2]

In [ ]:
p23.groupby('game_number')[['abv_fga','lc_fga','rc_fga']].mean().max()

In [ ]:
p23['c_fga'] = p23.lc_fga + p23.rc_fga

In [ ]:
steph = p23[p23.name=='Stephen Curry'][['abv_fga','c_fga']].values
luka = p23[p23.name=='Luka Doncic'][['abv_fga','c_fga']].values
jaylenBrown = p23[p23.name=='Jaylen Brown'][['abv_fga','c_fga']].values
tatum = p23[p23.name=='Jayson Tatum'][['abv_fga','c_fga']].values

In [ ]:
from scipy.stats import wasserstein_distance_nd

In [ ]:
sw = (p23[p23.name=='Stephen Curry']['min'] / p23[p23.name=='Stephen Curry']['min'].sum()).values
lw = (p23[p23.name=='Luka Doncic']['min'] / p23[p23.name=='Luka Doncic']['min'].sum()).values
jbw = (p23[p23.name=='Jaylen Brown']['min'] /p23[p23.name=='Jaylen Brown']['min'].sum()).values
jtw = (p23[p23.name=='Jayson Tatum']['min'] /p23[p23.name=='Jayson Tatum']['min'].sum()).values

In [ ]:
wasserstein_distance_nd(steph,luka,sw,lw)

In [ ]:
wasserstein_distance_nd(steph,luka)

In [ ]:
print('Unweighted: {:.3f}'.format(wasserstein_distance_nd(steph,jaylenBrown)))
print('Weighted: {:.3f}'.format(wasserstein_distance_nd(steph,jaylenBrown,sw,jbw)))

In [ ]:
print('Unweighted: {:.3f}'.format(wasserstein_distance_nd(steph,tatum)))
print('Weighted: {:.3f}'.format(wasserstein_distance_nd(steph,tatum,sw,jtw)))

In [ ]:
print('Unweighted: {:.3f}'.format(wasserstein_distance_nd(jaylenBrown,tatum)))
print('Weighted: {:.3f}'.format(wasserstein_distance_nd(jaylenBrown,tatum,jbw,jtw)))

In [ ]:
print('Unweighted: {:.3f}'.format(wasserstein_distance_nd(luka,tatum)))
print('Weighted: {:.3f}'.format(wasserstein_distance_nd(luka,tatum,lw,jtw)))

In [ ]:
wasserstein_distance_nd(tatum,luka)

In [ ]:
percentiles = [.33,.67,.83,.93]
d = p23.groupby('game_number')['abv_fga'].describe(percentiles = percentiles)
#for game in d.index():

In [ ]:
d.describe()

In [ ]:
p23[p23.groupby('player_id').abv_fga.transform('mean')>7].name.unique()

In [ ]:
p23[(p23.groupby('player_id').abv_fga.transform('mean')>=6) & (p23.groupby('player_id').abv_fga.transform('mean')<7)].name.unique()

In [ ]:
p23[(p23.groupby('player_id').abv_fga.transform('mean')>=4) & (p23.groupby('player_id').abv_fga.transform('mean')<6)].name.unique()

In [ ]:
p23[p23.name=='Jalen Brunson'][['lc_fga','lc_fgm','rc_fga','rc_fgm','abv_fga','abv_fgm']].mean()

In [ ]:
for season in plog.season.unique():
    print(season)
    temp = plog[(plog.season==season) & (plog.abv_fga+plog.lc_fga+plog.rc_fga>1)]
    print(temp.groupby(['game_number'])[['abv_fga','lc_fga','rc_fga']].describe(percentiles = np.arange(.1,1.1)).describe())
    print('End {}\n'.format(season))

In [ ]:
stf = np.array([np.array([x for x,y in steph]),np.array([y for x,y in steph])])

In [ ]:
jbf = np.array([np.array([x for x,y in jaylenBrown]),np.array([y for x,y in jaylenBrown])])

In [ ]:
len(steph)

In [ ]:
len(tatum)

In [ ]:
len(luka)

In [ ]:
minf = min(len(jbf[0]),len(stf[0]))

In [ ]:
grps = p23.groupby('game_number')[['abv_fga','c_fga']].describe(percentiles =percentiles)
p1 = np.array([x if x - int(x) == 0 else  int(x)+ 1 for x in v33])

In [ ]:
[col for col in grps.columns if col[1].find('33%')]

In [ ]:
lvl1 = list(set([col[0] for col in grps.columns]))

In [ ]:
col

In [ ]:
prc = ['min'] + percentiles + ['max']
for col in lvl1:
    for p in prc:
        lkup = (col,'{:.0%}'.format(p)) if isinstance(p,str) == False else (col,p)
        print('{} @ {} Actual vs Poission distributed'.format(col,p))
        sns.displot(grps[lkup].values)
        sns.displot(np.random.poisson(grps[lkup]),color='red')

        plt.show()

In [ ]:
sns.displot(p1)
plt.show()

In [ ]:
sns.displot(tatum.sum(axis=1))
sns.displot(np.random.poisson(tatum.sum(axis=1)),color='red')
plt.show()

In [ ]:
tempu = jbf if minf == len(jbf[0]) else

In [ ]:
test = p23[p23.name.isin(['Stephen Curry','Luka Doncic','Duncan Robinson','James Harden', 'LeBron James','Chris Paul',])]

In [ ]:
test.groupby('name')[['abv_fga','c_fga']].median()

In [ ]:
from sklearn.manifold import TSNE

In [ ]:
np.ravel(test.groupby('name')[['abv_fga','c_fga']].median().values).reshape

In [ ]:
x= test.groupby('name')[['abv_fga','c_fga']].median().values

In [ ]:
p23.usagePercentage.describe(percentiles =[.33,.5,.67,.83,.90,.95])

In [ ]:
p23['pct3TeamShots'] = p23.set_index(['player_id','name','game_id',])[['c_fga','abv_fga']].sum(axis=1).values / p23.groupby(['team','game_id'])[shots].transform('sum').sum(axis=1).values

In [ ]:
p23

In [ ]:
sns.scatterplot(data =d, x=d.c_fga ,y=d.abv_fga)
plt.axvline(x=1.5,ymin=0, ymax=11,color='red')
plt.axhline(y=5,xmin=0,xmax=4,color='red')
plt.show()

In [ ]:
d =p23.groupby(ind)[['c_fga','abv_fga','pct3TeamShots']].mean()
sns.scatterplot(data =d, x=d.c_fga ** (1+d.pct3TeamShots),y=d.abv_fga ** (1+d.pct3TeamShots))
plt.axvline(x=1.75,ymin=0, ymax=11,color='red')
plt.axhline(y=6.5,xmin=0,xmax=4,color='red')
plt.show()

In [ ]:
nba.showTables

In [ ]:
teamD = pd.read_sql('select * from team_def',nba.conn)

In [ ]:
temp = teamD.groupby(['game_number','game_id','season'])[['wide_fg3a','open_fg3a']].sum()

In [ ]:
tempM = teamD.groupby(['game_number','game_id','season','home']).sum()

In [ ]:
teamD['threesAllowed'] = teamD.crn_fgm + teamD.abv_fgm

In [226]:
nba.conn.execute('DROP VIEW pgames')
nba.conn.execute(open('data/sql/playerGameView.sql','r').read())
nba.conn.commit()

In [ ]:
threes = pd.read_sql('''SELECT 
                    FROM pgames
                    WHERE player_id||season in 
                    (SELECT player_id||season
                    FROM pgames 

                    group by player_id,season

                    --HAVING AVG(lc_fga + rc_fga + abv_fga) >= 3
                    
                    )''',
                     nba.conn)

In [ ]:
y=pd.read_sql('select lc_fgm + rc_fgm + abv_fgm as thressMade

what to pull
Rolling is for five games, min (season + hist), max (season + hist), percentiles (season + hist), coeff variance
Player info
1. usage rolling, min, max
2. crn three attm: rolling, dist, max
3. abv fga: rolling dist, max
4. mid fga: dist max
5. paint dist max
6. ra dist, max
7. threes made rolling
8. games in five
9. games in three, min
10. days between games
11. Home
12. team pace rolling, min, max
13. isTopScorer
14. isHighUsage
15. isVolShooter
16. isStarter  
Defense info  
1. threes allowed - dist, max
2. open rate, dist
3. wide rate, dist
4. pace rolling 5 and season avg
5. pace std
6.

In [475]:

threeq = '''
-- This primiarily calculates rolling fields and game information for the days game to be used in the model.
-- Need to check game info in the future to see if we can preload a schedule
-- Shot attempts will be done in seperate queries as they are going through a python function for the rolling information
-- Future updates - how to incorporate inactives, can do a rolling value but would like more information on who is out and impact

SELECT 
--y
threesMade,

--identifiers
name, player_id, game_id, game_date, season, team,

--shot locations, will have percentiles done in pandas
ra_fga, paint_fga, mid_fga, (coalesce(lc_fga,0) + coalesce(rc_fga,0)) crn_fga, abv_fga,
--games info
daysBetweenGames, gamesInFive, gamesInThree, oppGamesFive, OppGamesThree, oppDaysLastGame, home, plyrGameCt, tmGameCt,

--one-hot id first 10 games and months
CASE WHEN plyrGameCt < 11 THEN 1 ELSE 0 end as plyrfirst10,
CASE WHEN tmGameCt < 11 THEN 1 ELSE 0 end as teamfirst10,
CASE WHEN strftime('%m', game_date) = '10' THEN 1 ELSE 0 END AS oct,
CASE WHEN strftime('%m', game_date) = '11' THEN 1 ELSE 0 END AS nov,
CASE WHEN strftime('%m', game_date) = '12' THEN 1 ELSE 0 END AS dec,
CASE WHEN strftime('%m', game_date) = '01' THEN 1 ELSE 0 END AS jan,
CASE WHEN strftime('%m', game_date) = '02' THEN 1 ELSE 0 END AS feb,
CASE WHEN strftime('%m', game_date) = '03' THEN 1 ELSE 0 END AS mar,
CASE WHEN strftime('%m', game_date) = '04' THEN 1 ELSE 0 END AS arp,

--roling offensive (5 games and season) metrics 
AVG(threesMade) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS BETWEEN 6 PRECEDING AND 1 PRECEDING) AS mvAvgThrees,
AVG(usagePercentage) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS BETWEEN 6 PRECEDING AND 1 PRECEDING) AS mvAvgUsage,
AVG(offensiveRating) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS BETWEEN 6 PRECEDING AND 1 PRECEDING) AS mvAvgOffRating,
AVG(ftPrct) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS BETWEEN 6 PRECEDING AND 1 PRECEDING) as mvAvgFtPrct,
AVG(thrPtPrct) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS BETWEEN 6 PRECEDING AND 1 PRECEDING) as mvAvgThrPtPrct,    

AVG(usagePercentage) OVER (PARTITION BY season,player_id
    ORDER BY game_date ROWS UNBOUNDED PRECEDING) AS seasonUsage,
AVG(offensiveRating) OVER (PARTITION BY season,player_id
    ORDER BY game_date ROWS UNBOUNDED PRECEDING) AS seasonOffRating,    
AVG(ftPrct) OVER (PARTITION BY season,player_id
    ORDER BY game_date ROWS UNBOUNDED PRECEDING) as seasonFtPrct,
AVG(thrPtPrct) OVER (PARTITION BY season,player_id
    ORDER BY plyrGameCt ROWS UNBOUNDED PRECEDING) as seasonThrPtPrct,

--career for shooting
AVG(ftPrct) OVER (PARTITION BY player_id
    ORDER BY game_date ROWS UNBOUNDED PRECEDING) as careerFtPrct,
AVG(thrPtPrct) OVER (PARTITION BY player_id
    ORDER BY plyrGameCt ROWS UNBOUNDED PRECEDING) as careerThrPtPrct,    

-- defensive information
opp_id, 
--moving (5 games) and season averages
mvAvgOppPace, mvAvgOppOpen3, mvAvgOppWide3, mvAvgOppDefrating, 
seasonOppPace,  seasonOppOpen3,  seasonOppWide3,  seasonOppDefRating


FROM pgames
WHERE player_id||season in 
                    (SELECT player_id||season
                    FROM pgames 

                    group by player_id,season

                    HAVING AVG(coalesce(lc_fga,0) + coalesce(rc_fga,0) + coalesce(abv_fga,0)) >= 3
                    and max(plyrGameCt) >= 16
                    
                    )
'''

In [ ]:
thr = pd.read_sql(threeq,nba.conn)

In [460]:
## looking to get all attempt columns as a rolling20 percentile
#right now for team we are going with a team rolling 15, want to check on this 
sa = '''
SELECT team_id as opp_id,game_date ,ra_fga as ra_fgallowed, paint_fga as paint_fgallowed, mid_fga as mid_fgallowed, 
coalesce(lc_fga,0) + coalesce(rc_fga,0) as crn_fgallowed, abv_fga as abv_fgallowed,season
from team_def
'''

def rolling_team_sa():
    '''
    Setting up a rolling distribution of each shot location that each team allows. 
    Inputs: dataframe with team_id, game_date and at least one fgallowed column
    output: DataFrame with six percentiles for each fgallowed column
    '''
    df = pd.read_sql(sa,nba.conn)
    quants = ([1/6,1/3,.5,2/3,5/6,1],['st','nd','rd','rth','fth','xth'])
    shots = [col for col in df.columns if re.search('_fgallowed$',col)!=None]
    shotdf = pd.DataFrame()
    for col in shots:
        
        #temp will be the team and all dates
        temp = [df.groupby(['opp_id','season'])[col].rolling(15,closed='left').quantile(q,'midpoint')for q in quants[0]]
        pdf = pd.DataFrame(temp,index=['{}{}'.format(col,q) for q in quants[1]]).T
        levelCol = [col for col in pdf.reset_index() if col.find('level_')>-1]
        skew = tm.groupby(['opp_id','season'])['abv_fgallowed'].rolling(15,closed='left').skew().reset_index()
        kurt = tm.groupby(['opp_id','season'])['abv_fgallowed'].rolling(15,closed='left').kurt().reset_index()
        pdf = pdf.reset_index().merge(df[['game_date']],how='left',left_on=levelCol,right_index=True).drop(levelCol,axis=1)
        pdf['{}skew'.format(col)] = df.groupby(['opp_id','season'])[col].rolling(15,closed='left').skew().values
        pdf['{}kurt'.format(col)] = df.groupby(['opp_id','season'])[col].rolling(15,closed='left').kurt().values
        if len(shotdf)==0:
            shotdf = pd.concat([shotdf,pdf])
        else:
            shotdf = shotdf.merge(pdf,how='left', on=['game_date','opp_id','season'])
    return shotdf

def rolling_player_shot():
    '''
    Setting up a rolling distribution of each shot location for player.  This will take in the threes query
    Inputs: dataframe with player_id, game_date and at least one fga column
    output: DataFrame with six percentiles for each fga column
    '''

    df = thr[[col for col in thr.columns if col.find('fga')>-1]+['player_id','game_date']]
    quants = ([1/6,1/3,.5,2/3,5/6,1],['st','nd','rd','rth','fth','xth'])
    shots = [col for col in df.columns if re.search('_fga$',col)!=None]
    shotdf = pd.DataFrame()
    for col in shots:
        #temp will be the player and all dates
        temp = [df.groupby(['player_id'])[col].rolling(15,closed='left').quantile(q,'midpoint')for q in quants[0]]
        pdf = pd.DataFrame(temp,index=['{}{}'.format(col,q) for q in quants[1]]).T
        pdf = pdf.reset_index().merge(df[['game_date']],how='left',left_on='level_1',right_index=True).drop(['level_1'],axis=1)
        pdf['{}skew'.format(col)] = df.groupby(['player_id'])[col].rolling(15,closed='left').skew().values
        pdf['{}kurt'.format(col)] = df.groupby(['player_id'])[col].rolling(15,closed='left').kurt().values
        if len(shotdf)==0:
            shotdf = pd.concat([shotdf,pdf])
        else:
            shotdf = shotdf.merge(pdf,how='left', on=['game_date','player_id',])
    return shotdf
plsh = rolling_player_shot()
tmsa = rolling_team_sa()

In [461]:
f = thr.merge(plsh,how='left',on=['player_id','game_date']).merge(tmsa,how='left',on=['game_date','opp_id','season'])

In [344]:
idCols = ['name', 'team', 'game_number', 'season', 'player_id', 'team_id','opp_id',
       'game_id', 'game_date']
fgaCols = ['abv_fga','crn_fga','mid_fga','ra_fga','paint_fga']

In [345]:
f

,threesMade,name,player_id,game_id,game_date,season,team,ra_fga,paint_fga,mid_fga,...,crn_fgallowedskew,crn_fgallowedkurt,abv_fgallowedst,abv_fgallowednd,abv_fgallowedrd,abv_fgallowedrth,abv_fgallowedfth,abv_fgallowedxth,abv_fgallowedskew,abv_fgallowedkurt
0,2,Marvin Williams,101107,0021700003,2017-10-18,2017-18,CHA,0.000,0.000,1.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Marvin Williams,101107,0021700017,2017-10-20,2017-18,CHA,1.000,0.000,1.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Marvin Williams,101107,0021700055,2017-10-25,2017-18,CHA,3.000,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Marvin Williams,101107,0021700070,2017-10-27,2017-18,CHA,1.000,0.000,1.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Marvin Williams,101107,0021700088,2017-10-29,2017-18,CHA,2.000,0.000,3.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75688,0,LeBron James,2544,0022301103,2024-04-03,2023-24,LAL,6.000,7.000,4.000,...,1.022,0.617,19.500,21.500,25.000,28.000,29.500,33.000,-0.206,-0.777
75689,1,LeBron James,2544,0022301127,2024-04-06,2023-24,LAL,9.000,2.000,2.000,...,0.719,-0.536,22.500,23.000,24.000,25.000,26.500,35.000,0.461,1.936
75690,1,LeBron James,2544,0022301155,2024-04-09,2023-24,LAL,11.000,3.000,5.000,...,-0.228,-0.043,22.500,23.500,26.000,30.000,31.000,38.000,0.682,-0.336
75691,3,LeBron James,2544,0022301177,2024-04-12,2023-24,LAL,10.000,2.000,1.000,...,0.380,-0.917,23.500,24.000,26.000,28.500,30.500,35.000,0.310,-0.432
75692,0,LeBron James,2544,0022301195,2024-04-14,2023-24,LAL,12.000,1.000,5.000,...,0.613,0.618,27.000,28.000,29.000,30.000,31.500,34.000,0.002,0.077

In [346]:
y = f.threesMade

In [355]:
X = thr.filter([col for col in f.columns if col not in idCols+fgaCols+['threesMade']])

In [462]:
def naInfo(df,uniqueCol = None):
    naCols == [df.columns[df.isna().any()].tolist()]
    for col in naCols:
        if uniqueCol != None:
            print("{}:\nmissing:{:,}-{:.2%}\nunique:{:,}-{:.2%}\n\t".format(col,
            df[col].isna().sum(),df[col].isna().sum()/len(df[col]),df[thr[col].isna()][uniqueCol].nunique(),
                                                                df[thr[col].isna()][uniqueCol].nunique()/df[col].isna().sum()))
        else:
            print("{}:\nmissing:{:,}-{:.2%}".format(col,df[col].isna().sum()))

plyrGameCt
1    1390
Name: count, dtype: int64

In [463]:
naInfo(thr,'game_date')

daysBetweenGames:
missing:1,390-1.84%
unique:215-15.47%

oppDaysLastGame:
missing:968-1.28%
unique:21-2.17%

mvAvgThrees:
missing:1,390-1.84%
unique:215-15.47%

mvAvgUsage:
missing:1,390-1.84%
unique:215-15.47%

mvAvgOffRating:
missing:1,390-1.84%
unique:215-15.47%

mvAvgFtPrct:
missing:1,390-1.84%
unique:215-15.47%

mvAvgThrPtPrct:
missing:1,390-1.84%
unique:215-15.47%

seasonFtPrct:
missing:0-0.00%
unique:0-nan%

seasonThrPtPrct:
missing:0-0.00%
unique:0-nan%

careerFtPrct:
missing:0-0.00%
unique:0-nan%

careerThrPtPrct:
missing:0-0.00%
unique:0-nan%

mvAvgOppPace:
missing:968-1.28%
unique:21-2.17%

mvAvgOppOpen3:
missing:972-1.28%
unique:23-2.37%

mvAvgOppWide3:
missing:972-1.28%
unique:23-2.37%

mvAvgOppDefRating:
missing:968-1.28%
unique:21-2.17%

seasonOppOpen3:
missing:6-0.01%
unique:1-16.67%

seasonOppWide3:
missing:6-0.01%
unique:1-16.67%

/var/folders/29/0dqpwvqj4095gxyj5dkvym7r0000gn/T/ipykernel_47769/1167592563.py:7: RuntimeWarning: invalid value encountered in scalar divide
  df[thr[col].isna()][uniqueCol].nunique()/df[col].isna().sum()))

In [448]:
temp = thr.filter(['game_date','name','plyrGameCt']+[col for col in thr.columns if col.find('Ft')>-1])

In [455]:
temp[temp.name == 'Vince Carter'].head(50)

,game_date,name,plyrGameCt,mvAvgFtPrct,seasonFtPrct,careerFtPrct
13675,2018-10-17,Vince Carter,1,NaN,1.000,1.000
13676,2018-10-19,Vince Carter,2,1.000,1.000,1.000
13677,2018-10-24,Vince Carter,3,1.000,1.000,1.000
13678,2018-10-27,Vince Carter,4,1.000,1.000,1.000
13679,2018-10-29,Vince Carter,5,1.000,1.000,1.000
13680,2018-10-30,Vince Carter,6,1.000,0.667,0.667
13681,2018-11-01,Vince Carter,7,0.667,0.667,0.667
13682,2018-11-03,Vince Carter,8,0.500,0.500,0.500
13683,2018-11-06,Vince Carter,9,0.000,0.600,0.600
13684,2018-11-07,Vince Carter,10,0.333,0.600,0.600
13685,2018-11-09,Vince Carter,11,0.333,0.600,0.600
13686,2018-11-11,Vince Carter,12,0.333,0.600,0.600
13687,2018-11-13,Vince Carter,13,0.500,0.600,0.600
13688,2018-11-15,Vince Carter,14,0.500,0.600,0.600
13689,2018-11-17,Vince Carter,15,1.000,0.500,0.500
13690,2018-11-19,Vince Carter,16,0.000,0.500,0.500
13691,2018-11-21,Vince Carter,17,0.000,0.571,0.571
13692,2018-11-23,Vince Carter,18,0.500,0.571,0.571
13693,2018-11-28,Vince Carter,19,0.500,0.625,0.625
13694,2018-12-03,Vince Carter,20,0.667,0.625,0.625
13695,2018-12-05,Vince Carter,21,0.667,0.667,0.667
13696,2018-12-08,Vince Carter,22,1.000,0.667,0.667
13697,2018-12-12,Vince Carter,23,1.000,0.667,0.667
13698,2018-12-18,Vince Carter,24,1.000,0.667,0.667
13699,2018-12-21,Vince Carter,25,1.000,0.667,0.667
13700,2018-12-23,Vince Carter,26,1.000,0.700,0.700
13701,2018-12-26,Vince Carter,27,1.000,0.700,0.700
13702,2018-12-28,Vince Carter,28,1.000,0.700,0.700
13703,2018-12-29,Vince Carter,29,1.000,0.636,0.636
13704,2018-12-31,Vince Carter,30,0.500,0.636,0.636
13705,2019-01-02,Vince Carter,31,0.500,0.636,0.636
13706,2019-01-06,Vince Carter,32,0.500,0.636,0.636
13707,2019-01-08,Vince Carter,33,0.000,0.636,0.636
13708,2019-01-09,Vince Carter,34,0.000,0.636,0.636
13709,2019-01-11,Vince Carter,35,0.000,0.636,0.636
13710,2019-01-13,Vince Carter,36,NaN,0.636,0.636
13711,2019-01-19,Vince Carter,37,NaN,0.636,0.636
13712,2019-01-21,Vince Carter,38,NaN,0.636,0.636
13713,2019-01-26,Vince Carter,39,NaN,0.583,0.583
13714,2019-01-28,Vince Carter,40,0.000,0.583,0.583
13715,2019-02-02,Vince Carter,41,0.000,0.583,0.583
13716,2019-02-07,Vince Carter,42,0.000,0.538,0.538
13717,2019-02-09,Vince Carter,43,0.000,0.538,0.538
13718,2019-02-12,Vince Carter,44,0.000,0.571,0.571
13719,2019-02-14,Vince Carter,45,0.333,0.533,0.533
13720,2019-02-22,Vince Carter,46,0.333,0.500,0.500
13721,2019-02-25,Vince Carter,47,0.250,0.500,0.500
13722,2019-02-27,Vince Carter,48,0.250,0.471,0.471
13723,2019-03-01,Vince Carter,49,0.250,0.471,0.471
13724,2019-03-04,Vince Carter,50,0.250,0.471,0.471

In [452]:
temp[(temp.mvAvgFtPrct.isna()) & (temp.plyrGameCt==35)]

,game_date,name,plyrGameCt,mvAvgFtPrct,seasonFtPrct,careerFtPrct
3983,2018-02-09,Jerryd Bayless,35,NaN,0.533,0.533
5132,2018-01-17,Danny Green,35,NaN,0.286,0.286
10937,2019-02-08,Quinn Cook,35,NaN,0.667,0.762
10995,2019-03-01,Pat Connaughton,35,NaN,0.500,0.500
13482,2019-03-31,Kenrich Williams,35,NaN,0.429,0.429
24448,2020-08-01,Nickeil Alexander-Walker,35,NaN,0.333,0.333
24763,2020-01-30,Vince Carter,35,NaN,0.556,0.515
24989,2020-01-03,P.J. Tucker,35,NaN,0.462,0.492
25322,2020-03-10,Wilson Chandler,35,NaN,0.727,0.566
27989,2019-12-31,Mike Scott,35,NaN,0.667,0.462
28258,2020-01-20,Ben McLemore,35,NaN,0.692,0.649
28451,2020-01-15,Kelly Olynyk,35,NaN,0.667,0.508
28577,2020-08-03,Mike Muscala,35,NaN,0.556,0.756
28734,2020-01-18,Tony Snell,35,NaN,1.000,0.650
30937,2021-03-01,Royce O'Neale,35,NaN,0.700,0.647
31573,2021-03-19,Georges Niang,35,NaN,1.000,0.750
32451,2021-03-22,Luke Kennard,35,NaN,0.750,0.680
35435,2021-03-18,Deni Avdija,35,NaN,0.400,0.400
38572,2021-04-16,Mike Scott,35,NaN,0.400,0.500
46756,2022-02-09,Aleksej Pokusevski,35,NaN,0.286,0.435
48283,2022-01-15,Al Horford,35,NaN,0.667,0.533
49028,2022-02-27,Danny Green,35,NaN,0.750,0.556
50109,2022-02-24,Austin Rivers,35,NaN,0.333,0.287
51277,2022-02-09,Doug McDermott,35,NaN,0.500,0.620
52763,2023-01-08,Royce O'Neale,35,NaN,0.300,0.600
52929,2022-12-29,Buddy Hield,35,NaN,0.611,0.665
54820,2023-01-15,Troy Brown Jr.,35,NaN,1.000,1.000
57389,2023-03-06,Dean Wade,35,NaN,0.250,0.405
59022,2023-01-22,Tre Mann,35,NaN,0.417,0.541
60165,2023-01-14,AJ Griffin,35,NaN,0.778,0.778
62365,2023-01-05,Reggie Bullock Jr.,35,NaN,0.462,0.651
62754,2023-03-19,Gary Harris,35,NaN,0.727,0.567
62884,2023-01-25,Joe Harris,35,NaN,0.400,0.589
64327,2024-01-08,Malik Beasley,35,NaN,0.600,0.612
64968,2024-01-15,Dorian Finney-Smith,35,NaN,0.667,0.472
66292,2024-03-09,Jevon Carter,35,NaN,0.500,0.667
67159,2024-01-26,Gary Trent Jr.,35,NaN,0.400,0.536
69569,2024-01-13,Isaiah Joe,35,NaN,0.545,0.635
70765,2024-01-10,Sam Hauser,35,NaN,0.600,0.538
72343,2024-03-19,Caleb Houstan,35,NaN,0.500,0.500
73633,2024-03-01,Nicolas Batum,35,NaN,0.250,0.550
74782,2024-03-31,Justin Holiday,35,NaN,0.500,0.607

In [ ]:
#its the first game for every player will replace with median rest
X.daysBetweenGames = X.daysBetweenGames.fillna(2)
#there are 39 games where we do not have the open/wide information so we will remove those rows
print('{} games missing'.format(threes[X.wide_fg2a.isna()].game_id.nunique()))
X = X[X.open_fg3a.notna()]
#remaining are actual zero values
X = X.fillna(0)
#match indicies of x and y
y = y.loc[X.index]
X.isna().sum()

In [ ]:
X['threesMade'] = y

In [ ]:
plt.figure(figsize=(14,8))
sns.heatmap(X.filter([col for col in X.columns if col not in ['abv_fgm','rc_fgm','lc_fgm']]).corr())

In [ ]:
p

In [ ]:
### run linear on abv, crn and togher

In [ ]:
from sklearn.preprocessing import Normalizer,StandardScaler

In [ ]:
#baseline with just the values getting normalized 
norm = Normalizer()
stnd = StandardScaler()
for col in X.columns:
    if col !='home':
        vals = X[col].values.reshape(-1,1)
        X[col] = stnd.fit_transform(vals)

In [ ]:
model = sm.MNLogit(endog = y,exog = X)
results = model.fit()

In [ ]:
rs

In [ ]:
rs = results.summary()
rhtml = rs.tables[1].as_html()
df = pd.read_html(rhtml,header=0,index_col=0)[0]

In [ ]:
keeps =['home','usuagePercentage','pace','lc_fga','rc_fga','abv_fga','ra_fgallowed','paint_fgallowed','mid_fgallowed',
        'lc_fgallowed','rc_fgallowed','abv_fgallowed','open_fg3a','wide_fg3a','open_fg2a','wide_fg2a','daysBetweenGames','games_in_five',
        'games_in_three','mvAvgThres','mvMinThrees'

In [ ]:
df

In [ ]:
df.index[:45]

In [ ]:
df.loc['fta'].reset_index()

In [ ]:
p23['totalThrees'] = p23['lc_fga']+p23['rc_fga'] + p23['abv_fga']

In [ ]:
temp = threes.to_frame().join(p23.pct3TeamShots)
temp.columns = ['threesMade','pct3TeamShots']

In [ ]:
med = p23.groupby('name')[['lc_fga','rc_fga','abv_fga','totalThrees']].transform('median')['totalThrees']

In [ ]:
p23.loc[[x for x in np.where((med>=2) & (med<5),med.index,1) if x!=1]].groupby(['player_id','name'])[['totalThrees']].describe()

In [ ]:
model = ols('threesMade ~ c_fgaabv_fga'pct3TeamShots',data=temp)
results = model.fit()

In [ ]:
results.summary()

In [ ]:
d[(d.c_fga ** (1+d.pct3TeamShots)>1) & (d.abv_fga ** (1+d.pct3TeamShots)>6)]

In [ ]:
d[(d.c_fga>=1.5) & (d.abv_fga>4)]

In [ ]:
sns.scatterplot(d)
plt.show()

In [ ]:
p23.groupby('game_number')[['abv_fga','lc_fga','rc_fga','ts']]

In [ ]:
df23[df23.db23==-1]

In [ ]:
f23 = final.loc[dinds.get('i2023'),:]

In [ ]:
f23['dbgrp'] = kmd['Run_3']['labels']

In [ ]:
f23.dbgrp.value_counts()

In [ ]:
f23[f23.dbgrp.isin([2])].name.unique()

In [ ]:
from statsmodels.api.regress import OLS

In [ ]:
non3 = [col for col in normData.columns if (re.search('abv_fg',col)==None) & (re.search('c_fg',col)==None)]

In [ ]:
X = normData.filter(non3)

In [ ]:
y = data.rc_fgm + data.lc_fgm + data.abv_fgm

In [ ]:
model = OLS(y.loc[dinds.get('i2023')],X.loc[dinds.get('i2023')])
results = model.fit()

In [ ]:
data[(data.season=='2023-24') & (data.allstars!=0)]

In [ ]:
data17['grp15'] =  sil_score['iter_15']['labels']

In [ ]:
pSeason = plog.groupby(ind).median().reset_index()

In [ ]:
pSeason['grp3'] = sil_score['iter_3']['labels']

In [ ]:
pSeason.grp3.value_counts()

In [ ]:
chcols = ['pts','rc_fga','lc_fga','abv_fga','usagePercentage']
pSeason[pSeason.grp15.isin([1,2])].groupby('grp15')[chcols].describe()

In [ ]:
from nba_api.stats.endpoints import PlayerProfileV2
def update_undrafted_year(pids):
    for pid in tqdm(pids):
        try:
            dy = PlayerProfileV2(pid).get_data_frames()[0].SEASON_ID.min()[:4]
            nba.conn.execute(''' UPDATE players
            SET draft_year = '{}'
            where player_id  = '{}'

            '''.format(dy,pid))
            nba.conn.commit()
        except:
            print('No Data for: {}'.format(demo[demo.player_id == pid].name))

In [ ]:
def update_demo_data(plog):
    plog['season_age'] = [(dt.datetime(int(season[:4]),10,1) - pd.to_datetime(bday)).days/ 365.25 for season,bday in zip(plog.season.values,plog.birthday)]
    plog['exp'] = plog.season.str[:4].astype(int) - plog.draft_year.astype(int)

In [ ]:
pd.read_sql('select * from pgames',nba.conn)

In [ ]:
def award_counts(demo,cols=None):
    '''
    Inputs: DF at season level, will be using season and the columns to count awards, will default to all awards
    Output: new dataframe with count columns replacings the columns for each instance
    '''
    awards = ['allstars', 'allnba_first','allnba_second', 'allnba_third', 'alld_first', 'alld_second', 'mip',
       'dpoy', 'mvp', 'finals_mvp']
    demo = demo.fillna('N/A')
    if cols == None:
        cols = awards
    lasts = ['allstars', ['allnba_first','allnba_second', 'allnba_third'],['alld_first', 'alld_second'],'mvp','dpoy']
    #This is checking to find the last time they were all-star, all-nba, all-d, mvp or dpoy, goes first to use years
    for lst in lasts:
        if isinstance(lst,str):
            demo['last_'+lst] = [1 if int(season[:4]) - int(max([x for x in team.split(',') if x < season]+['2000-01'])[:4]) < 3 else 0
            for  season,team in zip(demo.season,demo[lst])]
        else:
            name = lst[0][:lst[0].find('_')]
            grp = zip(demo.season,[','.join(x) for x in demo.filter(lst).values])
            demo['last_'+name] = [1 if int(season[:4]) - int(max([x for x in team.split(',') if x < season]+['2000-01'])[:4]) < 3 else 0
            for  season,team in grp]
    #This goes through every award and will update the column with a count instead of the string of instances
    for col in cols:
        demo[col] = [len([a for a in awrd.split(',') if a < season]) for season,awrd in zip(demo.season,demo[col])]
    
    return demo

In [ ]:

award_counts(t)

In [ ]:
t['exp'] = [int(seas[:4]) - draft for seas,draft  in zip(t.season,t.draft_year) ]
t['age'] = [t.birthday - draft for seas,draft  in zip(t.season,t.birthday) ]

In [ ]:
(dt.datetime(int(season[:4]),10,1) - pd.to_datetime(birthday)[0]).days / 365.25

In [ ]:
[(dt.datetime(int(season[:4]),10,1) - pd.to_datetime(bday)).days/ 365.25 for season,bday in zip(t.season.values,t.birthday)]