In [ ]:
%load_ext autoreload
%autoreload 2

In [161]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
import bets
import os
import glob
import datetime as dt
import time
#import ot
import json
import requests
import statsmodels.api as sm 
from tqdm import tqdm
pd.set_option('display.float_format', lambda x: '%.3f' % x)

nba = bets.nba()
import seaborn as sns
import matplotlib.pyplot as plt
import re
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
from nba_api.stats.endpoints import BoxScoreAdvancedV3,leaguegamefinder,BoxScoreSummaryV2,PlayByPlayV2,LeagueDashOppPtShot,PlayerProfileV2,GameRotation,LeagueDashPlayerShotLocations

In [317]:
def runDay(date,toDb = False):
    yst = (pd.to_datetime(today) + pd.to_timedelta(-1,unit='day')).strftime(format='%Y-%m-%d')
    data =  nba.threeData() #there will need to be an edit to only get data for today
    model = pd.read_pickle('data/model/upThrLog.pkl')
    #create model data and scale
    X = nba.cleanNaThr(data)
    X = nba.scaleData(X[X.game_date>'2024-03-01'].filter(model.params.index))
    idx = data[data.game_date==date].index
    #make day's predictions
    preds = model.predict(X.loc[idx])
    upload =  data.loc[idx][['game_date','game_id','player_id','name','team']].join(preds)
    preds = preds.join(data[['name']])
    if len(upload) <19:
        for i in range(1,(19 - len(upload))+1):
            upload['add_{}'.format(i)] = 0.0000

    # if toDb:
    #     nba.conn.execute("DELETE FROM preds where game_date = '{}' ".format(yst))
    #     nba.conn.commit()
    #     try:
    #         nba.insert_data(upload,'preds')
    #         print('updated prediction table')
    #     except:
    #         print('PREDS NOT SAVED')
    #         return upload,preds,model

    #create a data frame of the predictions
    #df = nba.probDf(preds.values,y.loc[valInd],data[['name','game_date']],valInd)
    
    #convert into odds
    c = [10,9,8,7,6,5,4,3,2,1,0]
    finalo = pd.DataFrame(np.array([nba.convertPercentToOdds(v) for r in preds[c].cumsum(axis=1).values for v in r]).reshape(preds[c].shape),
                         columns=c,index=preds.index)
    finalu = pd.DataFrame(np.array([nba.convertPercentToOdds(v) for r in preds.iloc[:,:-1].cumsum(axis=1).values for v in r]).reshape(preds[sorted(c)].shape),
                          columns = c,index=preds.index)
    overs = data[data.game_date==date][['name','team','game_id']].join(finalo.filter(preds.columns))
    unders = data[data.game_date==date][['name','team','game_id']].join(finalu.filter(preds.columns))
    return overs,unders,preds,model

### This notebook is to just run the current model and get our predictions

In [318]:
today = dt.datetime.today().strftime(format='%Y-%m-%d')
yst = (pd.to_datetime(today) + pd.to_timedelta(-1,unit='day')).strftime(format='%Y-%m-%d')
gids = nba.get_games(yst,yst)

In [319]:
nba.update_player_log([yst])
time.sleep(np.random.randint(5,15))
try:
    nba.update_shots_allowed([yst])
except:
    print('shots not updated yet')
time.sleep(np.random.randint(5,15))
nba.get_summary(gids.GAME_ID.unique())

started player logs at 06:26
getting first buckets : at 06:26

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:11<00:00,  2.80s/it]

	completed at 06:26
started rebounds at 06:26
ended rebounds at 06:26
starting advanced box at 06:26

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:11<00:00,  2.76s/it]

completed adv box at 06:26
start player shots at 06:26

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:08<00:00,  8.45s/it]

completed player shots at 06:26
plyrLogs has been updated with 88 rows

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:03<00:00,  3.98s/it]

Completed dribble data

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:11<00:00, 11.30s/it]

Completed spot data

  0%|                                                                                                                                     | 0/1 [00:01<?, ?it/s]

shots not updated yet

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:07<00:00,  1.90s/it]

teamLog has been updated with 8 rows

In [320]:
over,under,preds,model = runDay(today,True)

In [321]:
def oddsData(today,tomorrow):
    '''ISO Formatted dates for today and tomorrow returns the games that will be played today ids for odds pulls
    Inputs: isoformatted dates for today and tomorrow
    Output: list of game ids
    '''
    pd = 'bfd4f5da3433f0f9013e9d16a4933c41'
    fr = '153deeb03ca7b659e72d18e28219d1a8'
    eventURL = 'https://api.the-odds-api.com/v4/sports/basketball_nba/events?apiKey={}&dateFormat=iso&commenceTimeFrom={}&commenceTimeTo={}'

    if int(requests.get(eventURL.format(fr,today,tomorrow)).headers['x-requests-used'])==500:
        print('Free is out')
        r = requests.get(eventURL.format(pd,today,tomorrow))
        print(r.headers)
        key = pd
    else:
        r= requests.get(eventURL.format(fr,today,tomorrow))
        print('Free:',r.headers)
        key = fr
    
    return [d['id'] for d in r.json()],key

In [322]:
todayIso = (dt.datetime.now()).strftime('%Y-%m-%dT%H:%M:00Z')
tomor = (dt.datetime.now() + dt.timedelta(1)).strftime('%Y-%m-%dT%H:%M:00z')
events,akey = oddsData(todayIso,tomor)

Free: {'Date': 'Tue, 03 Dec 2024 11:27:34 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '709', 'Connection': 'keep-alive', 'X-Requests-Used': '36', 'X-Requests-Remaining': '464', 'X-Requests-Last': '0', 'vary': 'Accept-Encoding', 'content-encoding': 'gzip', 'Apigw-Requestid': 'CNmuJi6lIAMEMkA='}

In [323]:
url = 'https://api.the-odds-api.com/v4/sports/basketball_nba/events/{}/odds?apiKey={}&regions=us&markets=player_threes,player_threes_alternate&dateFormat=iso&oddsFormat=american&bookmakers=draftkings%2Cfanduel%2Cespnbet'

In [324]:
df = pd.DataFrame()
for event in events:
    r = requests.get(url.format(event,akey))
    game = r.json()
    for key in game.get('bookmakers'):
        bk = key.get('title')
        for mrkt in key.get('markets'):
            temp = pd.DataFrame(mrkt.get('outcomes'))
            temp.columns = ['over_under','name','price','threesMade']
            temp['book'] = bk
            temp['mrkt'] = mrkt
            df = pd.concat([temp,df])

In [325]:
odds = df.pivot_table(index=['name','threesMade','over_under'],columns=['book']).reset_index()

In [326]:
odds.columns = [col[1] if col[1]!= '' else col[0] for col in odds.columns]

In [327]:
#Name changes
odds.name = np.where(odds.name=='Herb Jones','Herbert Jones',odds.name)
odds.name = np.where(odds.name.str.contains('\.'),odds.name.str.replace('.',''),odds.name)
over.name = np.where(over.name.str.contains('\.'),over.name.str.replace('.',''),over.name)

In [328]:
over = over.melt(id_vars=['name','team','game_id'],var_name='threesMade')

In [329]:
over.threesMade = over.threesMade -.5

In [330]:
final = odds.merge(over[['name','team','threesMade','value']],how='left',on=['name','threesMade'])
final = final[final.over_under=='Over']

In [331]:
final['prob'] = np.where(final.value<0, abs(final.value) / (abs(final.value) + 100), 100/(final.value +100))

In [332]:
final['DKKelly'] = [nba.kellyCrit(p,odd) / 8 for p,odd in zip(final.prob,final.DraftKings)]
final['FanDuelKelly'] = [nba.kellyCrit(p,odd) / 8 for p,odd in zip(final.prob,final.FanDuel)]
final['espnKelly'] = [nba.kellyCrit(p,odd) / 8 for p,odd in zip(final.prob,final['ESPN BET'])]
final['dkBet'] = [x * 100 * 5 for x in final.DKKelly.values]
final['fdBet'] = [x * 100 * 5 for x in final.FanDuelKelly.values]
final['espnBet'] = [x * 100 * 5 for x in final.espnKelly]

In [333]:
fd = ['name','threesMade','FanDuel','ESPN BET','DraftKings','team','value','prob','fdBet']
espn = ['name','threesMade','ESPN BET','FanDuel','DraftKings','team','value','prob','espnBet']
dk = ['name','threesMade','DraftKings','team','value','prob','dkBet']

In [368]:
p =   .498  * .463
nba.kellyCrit(p,486)* 62.5

4.515993312757203

In [352]:
preds[preds.name.isin(['Victor Wembanyama','Stephen Curry','Scottie Barnes'])]

,0,1,2,3,4,5,6,7,8,9,10,name
71171,0.174,0.289,0.254,0.143,0.088,0.032,0.013,0.005,0.001,0.001,0.000,Scottie Barnes
71201,0.029,0.090,0.148,0.182,0.174,0.137,0.133,0.040,0.019,0.043,0.006,Victor Wembanyama
71237,0.004,0.022,0.065,0.106,0.160,0.201,0.153,0.141,0.087,0.008,0.053,Stephen Curry

In [364]:
final[final.FanDuel.between(-100,180)].sort_values(by='fdBet',ascending=False).head(50)

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
498,Stephen Curry,4.500,Over,105.000,115.000,114.500,GSW,-178.000,0.640,0.037,0.041,0.041,18.607,20.383,20.468
242,James Harden,3.500,Over,160.000,NaN,175.000,LAC,-106.000,0.515,0.026,0.030,NaN,13.198,14.823,NaN
551,Victor Wembanyama,3.500,Over,NaN,NaN,143.500,SAS,-121.000,0.548,NaN,0.029,NaN,NaN,14.512,NaN
212,Jalen Green,2.500,Over,110.000,105.000,123.500,HOU,-108.000,0.519,0.010,0.016,0.008,5.135,8.121,3.835
91,Damian Lillard,3.500,Over,130.000,120.000,133.500,MIL,101.000,0.498,0.014,0.015,0.010,6.936,7.570,4.923
522,Tyrese Haliburton,3.500,Over,150.000,NaN,155.000,IND,116.000,0.463,0.013,0.015,NaN,6.559,7.280,NaN
478,Scottie Barnes,1.500,Over,-2.500,110.000,110.000,TOR,-115.000,0.535,0.065,0.014,0.014,32.703,7.003,7.003
41,Bradley Beal,2.500,Over,NaN,130.000,160.000,PHX,122.000,0.450,NaN,0.013,0.003,NaN,6.686,1.733
187,Ja Morant,1.500,Over,150.000,165.000,180.000,MEM,138.000,0.420,0.004,0.012,0.009,2.101,6.127,4.297
15,Andrew Wiggins,2.500,Over,NaN,NaN,150.000,GSW,129.000,0.437,NaN,0.008,NaN,NaN,3.821,NaN
199,Jaden Ivey,1.500,Over,100.000,-105.000,103.500,DET,-106.000,0.515,0.004,0.006,0.001,1.820,2.846,0.303
383,Luka Doncic,3.500,Over,107.500,105.000,108.000,DAL,100.000,0.500,0.004,0.005,0.003,2.180,2.315,1.488
126,Devin Booker,2.500,Over,100.000,100.000,110.000,PHX,103.000,0.493,-0.002,0.004,-0.002,-0.924,1.959,-0.924
467,Paul George,2.500,Over,127.500,120.000,134.500,PHI,127.000,0.441,0.000,0.003,-0.003,0.108,1.535,-1.606
359,Kyrie Irving,3.500,Over,125.500,125.000,128.000,DAL,123.000,0.448,0.001,0.002,0.001,0.558,1.095,0.448
64,Cade Cunningham,2.500,Over,155.000,NaN,155.000,DET,150.000,0.400,0.002,0.002,NaN,0.806,0.806,NaN
348,Klay Thompson,3.500,Over,145.000,130.000,134.500,DAL,133.000,0.429,0.004,0.001,-0.001,2.220,0.299,-0.619
120,Desmond Bane,2.500,Over,120.500,130.000,150.000,MEM,153.000,0.395,-0.013,-0.001,-0.009,-6.663,-0.494,-4.371
456,PJ Washington,1.500,Over,-107.500,105.000,113.500,DAL,116.000,0.463,-0.014,-0.001,-0.006,-7.147,-0.637,-3.031
134,Dillon Brooks,2.500,Over,NaN,NaN,175.000,HOU,181.000,0.356,NaN,-0.002,NaN,NaN,-0.763,NaN
299,Julian Champagnie,3.500,Over,NaN,NaN,170.000,SAS,177.000,0.361,NaN,-0.002,NaN,NaN,-0.929,NaN
232,Jamal Murray,2.500,Over,-105.000,-115.000,100.000,DEN,104.000,0.490,-0.006,-0.002,-0.012,-2.819,-1.225,-6.005
331,Kevin Durant,2.500,Over,105.000,110.000,120.000,PHX,132.000,0.431,-0.014,-0.005,-0.011,-6.927,-2.694,-5.388
28,Bennedict Mathurin,1.500,Over,-107.500,100.000,110.000,IND,121.000,0.452,-0.017,-0.006,-0.012,-8.505,-2.828,-5.939
490,Shai Gilgeous-Alexander,2.500,Over,120.000,120.000,148.000,OKC,167.000,0.375,-0.018,-0.006,-0.018,-9.168,-3.005,-9.168
22,Anfernee Simons,3.500,Over,185.000,NaN,155.000,POR,177.000,0.361,0.002,-0.006,NaN,0.976,-3.203,NaN
338,Keyonte George,2.500,Over,105.000,110.000,121.000,UTA,138.000,0.420,-0.017,-0.007,-0.013,-8.253,-3.689,-6.684
319,Kelly Oubre Jr,1.500,Over,120.000,NaN,125.500,PHI,150.000,0.400,-0.012,-0.010,NaN,-6.250,-4.880,NaN
220,Jalen Suggs,2.500,Over,185.000,NaN,165.000,ORL,221.000,0.312,-0.008,-0.013,NaN,-3.789,-6.608,NaN
68,Caleb Martin,1.500,Over,130.000,NaN,148.000,PHI,203.000,0.330,-0.023,-0.015,NaN,-11.583,-7.665,NaN
155,Franz Wagner,2.500,Over,155.000,140.000,149.000,ORL,205.000,0.328,-0.013,-0.015,-0.019,-6.610,-7.702,-9.514
419,Mikal Bridges,2.500,Over,160.000,NaN,180.000,NYK,265.000,0.274,-0.022,-0.016,NaN,-11.237,-8.086,NaN
461,Pascal Siakam,1.500,Over,102.500,-105.000,110.000,IND,145.000,0.408,-0.021,-0.016,-0.027,-10.577,-8.117,-13.329
404,Malik Monk,2.500,Over,120.000,120.000,149.000,SAC,210.000,0.323,-0.030,-0.017,-0.030,-15.121,-8.254,-15.121
101,Darius Garland,3.500,Over,165.000,NaN,180.000,CLE,269.000,0.271,-0.021,-0.017,NaN,-10.676,-8.375,NaN
314,Keegan Murray,2.500,Over,147.500,NaN,165.000,SAC,244.000,0.291,-0.024,-0.017,NaN,-11.887,-8.699,NaN
369,Lauri Markkanen,3.500,Over,NaN,NaN,150.000,UTA,263.000,0.275,NaN,-0.026,NaN,NaN,-12.971,NaN
441,Norman Powell,3.500,Over,NaN,115.000,109.000,LAC,171.000,0.369,NaN,-0.026,-0.022,NaN,-13.118,-11.231
376,Luguentz Dort,2.500,Over,140.000,135.000,140.000,OKC,241.000,0.293,-0.026,-0.026,-0.029,-13.223,-13.223,-14.391
307,Karl-Anthony Towns,2.500,Over,145.000,140.000,170.000,NYK,333.000,0.231,-0.037,-0.028,-0.040,-18.715,-13.840,-19.899
279,Jordan Poole,3.500,Over,117.500,105.000,129.000,WAS,225.000,0.308,-0.035,-0.029,-0.044,-17.594,-14.311,-21.978
205,Jalen Brunson,2.500,Over,107.500,-105.000,110.000,NYK,182.000,0.355,-0.031,-0.029,-0.040,-15.360,-14.507,-20.191
429,Myles Turner,2.500,Over,160.000,NaN,170.000,IND,376.000,0.210,-0.035,-0.032,NaN,-17.726,-15.911,NaN
225,Jalen Williams,2.500,Over,105.000,105.000,121.000,OKC,222.000,0.311,-0.043,-0.032,-0.043,-21.628,-16.202,-21.628
530,Tyrese Maxey,3.500,Over,117.500,115.000,121.000,PHI,231.000,0.302,-0.036,-0.034,-0.038,-18.239,-17.166,-19.046
145,Donovan Mitchell,4.500,Over,155.000,NaN,140.000,CLE,294.000,0.254,-0.028,-0.035,NaN,-14.225,-17.449,NaN
108,De'Aaron Fox,2.500,Over,127.500,125.000,140.000,SAC,306.000,0.246,-0.043,-0.037,-0.045,-21.552,-18.253,-22.291
396,Malik Beasley,3.500,Over,-105.000,125.000,135.500,DET,305.000,0.247,-0.068,-0.039,-0.044,-33.989,-19.304,-22.222
543,Vasilije Micic,1.500,Over,-105.000,105.000,103.500,CHA,223.000,0.310,-0.052,-0.045,-0.043,-25.958,-22.341,-21.746
50,Brandon Miller,4.500,Over,112.500,120.000,135.000,CHA,490.000,0.169,-0.071,-0.056,-0.065,-35.546,-27.856,-32.662

In [353]:
final[final.name.isin(['Victor Wembanyama','Stephen Curry','Scottie Barnes'])]

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
477,Scottie Barnes,0.500,Over,-450.000,NaN,-360.000,TOR,-473.000,0.825,0.005,0.025,NaN,2.509,12.325,NaN
478,Scottie Barnes,1.500,Over,-2.500,110.000,110.000,TOR,-115.000,0.535,0.065,0.014,0.014,32.703,7.003,7.003
480,Scottie Barnes,2.500,Over,295.000,NaN,320.000,TOR,253.000,0.283,0.005,0.007,NaN,2.521,3.707,NaN
481,Scottie Barnes,3.500,Over,NaN,NaN,800.000,TOR,612.000,0.140,NaN,0.004,NaN,NaN,2.063,NaN
494,Stephen Curry,0.500,Over,NaN,NaN,-8000.000,GSW,-9900.000,0.990,NaN,0.024,NaN,NaN,11.875,NaN
495,Stephen Curry,1.500,Over,NaN,NaN,-950.000,GSW,-3751.000,0.974,NaN,0.091,NaN,NaN,45.459,NaN
496,Stephen Curry,2.500,Over,NaN,NaN,-360.000,GSW,-996.000,0.909,NaN,0.073,NaN,NaN,36.268,NaN
497,Stephen Curry,3.500,Over,NaN,NaN,-165.000,GSW,-405.000,0.802,NaN,0.059,NaN,NaN,29.703,NaN
498,Stephen Curry,4.500,Over,105.000,115.000,114.500,GSW,-178.000,0.640,0.037,0.041,0.041,18.607,20.383,20.468
500,Stephen Curry,5.500,Over,NaN,NaN,210.000,GSW,126.000,0.442,NaN,0.022,NaN,NaN,11.062,NaN
501,Stephen Curry,6.500,Over,NaN,NaN,390.000,GSW,245.000,0.290,NaN,0.013,NaN,NaN,6.735,NaN
502,Stephen Curry,7.500,Over,NaN,NaN,650.000,GSW,574.000,0.148,NaN,0.002,NaN,NaN,1.084,NaN
547,Victor Wembanyama,0.500,Over,NaN,NaN,-1700.000,SAS,-3362.000,0.971,NaN,0.060,NaN,NaN,30.004,NaN
548,Victor Wembanyama,1.500,Over,NaN,NaN,-410.000,SAS,-737.000,0.881,NaN,0.049,NaN,NaN,24.418,NaN
549,Victor Wembanyama,2.500,Over,-168.000,-180.000,-150.000,SAS,-273.000,0.732,0.035,0.041,0.031,17.594,20.610,15.583
551,Victor Wembanyama,3.500,Over,NaN,NaN,143.500,SAS,-121.000,0.548,NaN,0.029,NaN,NaN,14.512,NaN
553,Victor Wembanyama,4.500,Over,NaN,NaN,290.000,SAS,164.000,0.379,NaN,0.021,NaN,NaN,10.286,NaN
554,Victor Wembanyama,5.500,Over,NaN,NaN,550.000,SAS,315.000,0.241,NaN,0.013,NaN,NaN,6.435,NaN
555,Victor Wembanyama,6.500,Over,NaN,NaN,1100.000,SAS,830.000,0.108,NaN,0.003,NaN,NaN,1.650,NaN
556,Victor Wembanyama,7.500,Over,NaN,NaN,2200.000,SAS,1372.000,0.068,NaN,0.003,NaN,NaN,1.598,NaN

In [339]:
final.sort_values(by='fdBet',ascending=False).head(50)

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
260,Jaylen Wells,0.500,Over,-750.000,NaN,-550.000,MEM,-6153.000,0.984,0.108,0.112,NaN,54.004,56.003,NaN
261,Jaylen Wells,1.500,Over,-165.000,-135.000,-138.500,MEM,-788.000,0.887,0.088,0.091,0.092,43.849,45.714,45.960
495,Stephen Curry,1.500,Over,NaN,NaN,-950.000,GSW,-3751.000,0.974,NaN,0.091,NaN,NaN,45.459,NaN
238,James Harden,0.500,Over,NaN,NaN,-1700.000,LAC,-4297.000,0.977,NaN,0.074,NaN,NaN,36.914,NaN
496,Stephen Curry,2.500,Over,NaN,NaN,-360.000,GSW,-996.000,0.909,NaN,0.073,NaN,NaN,36.268,NaN
547,Victor Wembanyama,0.500,Over,NaN,NaN,-1700.000,SAS,-3362.000,0.971,NaN,0.060,NaN,NaN,30.004,NaN
497,Stephen Curry,3.500,Over,NaN,NaN,-165.000,GSW,-405.000,0.802,NaN,0.059,NaN,NaN,29.703,NaN
239,James Harden,1.500,Over,-450.000,NaN,-370.000,LAC,-788.000,0.887,0.048,0.059,NaN,23.789,29.420,NaN
548,Victor Wembanyama,1.500,Over,NaN,NaN,-410.000,SAS,-737.000,0.881,NaN,0.049,NaN,NaN,24.418,NaN
518,Tyrese Haliburton,0.500,Over,NaN,NaN,-1800.000,IND,-2880.000,0.966,NaN,0.045,NaN,NaN,22.651,NaN
240,James Harden,2.500,Over,-149.000,-135.000,-134.000,LAC,-254.000,0.718,0.037,0.042,0.042,18.538,21.186,21.010
549,Victor Wembanyama,2.500,Over,-168.000,-180.000,-150.000,SAS,-273.000,0.732,0.035,0.041,0.031,17.594,20.610,15.583
498,Stephen Curry,4.500,Over,105.000,115.000,114.500,GSW,-178.000,0.640,0.037,0.041,0.041,18.607,20.383,20.468
519,Tyrese Haliburton,1.500,Over,-525.000,NaN,-410.000,IND,-597.000,0.857,0.013,0.034,NaN,6.456,16.768,NaN
193,Jabari Smith Jr,0.500,Over,NaN,NaN,-410.000,HOU,-574.000,0.852,NaN,0.030,NaN,NaN,15.208,NaN
242,James Harden,3.500,Over,160.000,NaN,175.000,LAC,-106.000,0.515,0.026,0.030,NaN,13.198,14.823,NaN
194,Jabari Smith Jr,1.500,Over,NaN,-105.000,-105.500,HOU,-169.000,0.628,NaN,0.030,0.030,NaN,14.754,14.870
551,Victor Wembanyama,3.500,Over,NaN,NaN,143.500,SAS,-121.000,0.548,NaN,0.029,NaN,NaN,14.512,NaN
89,Damian Lillard,1.500,Over,-650.000,NaN,-460.000,MIL,-626.000,0.862,-0.004,0.029,NaN,-2.066,14.291,NaN
196,Jabari Smith Jr,2.500,Over,NaN,NaN,270.000,HOU,139.000,0.418,NaN,0.025,NaN,NaN,12.688,NaN
477,Scottie Barnes,0.500,Over,-450.000,NaN,-360.000,TOR,-473.000,0.825,0.005,0.025,NaN,2.509,12.325,NaN
494,Stephen Curry,0.500,Over,NaN,NaN,-8000.000,GSW,-9900.000,0.990,NaN,0.024,NaN,NaN,11.875,NaN
88,Damian Lillard,0.500,Over,NaN,NaN,-2200.000,MIL,-2725.000,0.965,NaN,0.023,NaN,NaN,11.615,NaN
520,Tyrese Haliburton,2.500,Over,-163.500,-140.000,-149.500,IND,-206.000,0.673,0.017,0.023,0.027,8.681,11.540,13.480
90,Damian Lillard,2.500,Over,-200.000,NaN,-165.000,MIL,-222.000,0.689,0.009,0.022,NaN,4.270,11.064,NaN
500,Stephen Curry,5.500,Over,NaN,NaN,210.000,GSW,126.000,0.442,NaN,0.022,NaN,NaN,11.062,NaN
553,Victor Wembanyama,4.500,Over,NaN,NaN,290.000,SAS,164.000,0.379,NaN,0.021,NaN,NaN,10.286,NaN
198,Jaden Ivey,0.500,Over,-475.000,NaN,-380.000,DET,-470.000,0.825,-0.001,0.020,NaN,-0.548,9.868,NaN
197,Jabari Smith Jr,3.500,Over,NaN,NaN,650.000,HOU,287.000,0.258,NaN,0.018,NaN,NaN,9.019,NaN
214,Jalen Green,3.500,Over,260.000,NaN,290.000,HOU,182.000,0.355,0.013,0.017,NaN,6.649,8.254,NaN
161,Fred VanVleet,2.500,Over,-115.000,-115.000,-124.000,HOU,-158.000,0.612,0.021,0.016,0.021,10.417,8.236,10.417
212,Jalen Green,2.500,Over,110.000,105.000,123.500,HOU,-108.000,0.519,0.010,0.016,0.008,5.135,8.121,3.835
160,Fred VanVleet,1.500,Over,-330.000,NaN,-330.000,HOU,-394.000,0.798,0.016,0.016,NaN,8.097,8.097,NaN
163,Fred VanVleet,3.500,Over,215.000,NaN,185.000,HOU,131.000,0.433,0.021,0.016,NaN,10.571,7.898,NaN
91,Damian Lillard,3.500,Over,130.000,120.000,133.500,MIL,101.000,0.498,0.014,0.015,0.010,6.936,7.570,4.923
43,Bradley Beal,3.500,Over,NaN,NaN,390.000,PHX,236.000,0.298,NaN,0.015,NaN,NaN,7.345,NaN
522,Tyrese Haliburton,3.500,Over,150.000,NaN,155.000,IND,116.000,0.463,0.013,0.015,NaN,6.559,7.280,NaN
186,Ja Morant,0.500,Over,-295.000,NaN,-230.000,MEM,-272.000,0.731,-0.008,0.014,NaN,-3.864,7.056,NaN
478,Scottie Barnes,1.500,Over,-2.500,110.000,110.000,TOR,-115.000,0.535,0.065,0.014,0.014,32.703,7.003,7.003
501,Stephen Curry,6.500,Over,NaN,NaN,390.000,GSW,245.000,0.290,NaN,0.013,NaN,NaN,6.735,NaN
41,Bradley Beal,2.500,Over,NaN,130.000,160.000,PHX,122.000,0.450,NaN,0.013,0.003,NaN,6.686,1.733
211,Jalen Green,1.500,Over,-285.000,NaN,-210.000,HOU,-246.000,0.711,-0.014,0.013,NaN,-7.045,6.503,NaN
554,Victor Wembanyama,5.500,Over,NaN,NaN,550.000,SAS,315.000,0.241,NaN,0.013,NaN,NaN,6.435,NaN
187,Ja Morant,1.500,Over,150.000,165.000,180.000,MEM,138.000,0.420,0.004,0.012,0.009,2.101,6.127,4.297
243,James Harden,4.500,Over,360.000,NaN,360.000,LAC,241.000,0.293,0.012,0.012,NaN,6.059,6.059,NaN
13,Andrew Wiggins,1.500,Over,NaN,-170.000,-177.000,GSW,-204.000,0.671,NaN,0.011,0.014,NaN,5.551,6.990
466,Paul George,1.500,Over,-235.000,NaN,-190.000,PHI,-218.000,0.686,-0.007,0.011,NaN,-3.341,5.503,NaN
215,Jalen Green,4.500,Over,600.000,NaN,600.000,HOU,359.000,0.218,0.011,0.011,NaN,5.469,5.469,NaN
356,Kyrie Irving,0.500,Over,NaN,NaN,-2100.000,DAL,-2291.000,0.958,NaN,0.010,NaN,NaN,4.993,NaN
164,Fred VanVleet,4.500,Over,500.000,NaN,390.000,HOU,282.000,0.262,0.014,0.009,NaN,7.134,4.531,NaN

In [340]:
over[(over.team.isin(['MIL'])) & (over.threesMade.between(1,5))]

                 name team     game_id threesMade  value
384      Bobby Portis  MIL  0022400052      1.500    179
386   Pat Connaughton  MIL  0022400052      1.500    146
394    Taurean Prince  MIL  0022400052      1.500    134
430     Gary Trent Jr  MIL  0022400052      1.500   -174
501          AJ Green  MIL  0022400052      1.500   -149
536       Brook Lopez  MIL  0022400052      1.500   -123
547    Damian Lillard  MIL  0022400052      1.500   -626
572      Bobby Portis  MIL  0022400052      2.500    589
574   Pat Connaughton  MIL  0022400052      2.500    367
582    Taurean Prince  MIL  0022400052      2.500    379
618     Gary Trent Jr  MIL  0022400052      2.500    158
689          AJ Green  MIL  0022400052      2.500    178
724       Brook Lopez  MIL  0022400052      2.500    232
735    Damian Lillard  MIL  0022400052      2.500   -222
760      Bobby Portis  MIL  0022400052      3.500   1779
762   Pat Connaughton  MIL  0022400052      3.500    955
770    Taurean Prince  MIL  0022400052      3.500   1027
806     Gary Trent Jr  MIL  0022400052      3.500    363
877          AJ Green  MIL  0022400052      3.500    425
912       Brook Lopez  MIL  0022400052      3.500    623
923    Damian Lillard  MIL  0022400052      3.500    101
948      Bobby Portis  MIL  0022400052      4.500   5297
950   Pat Connaughton  MIL  0022400052      4.500   2713
958    Taurean Prince  MIL  0022400052      4.500   2936
994     Gary Trent Jr  MIL  0022400052      4.500    917
1065         AJ Green  MIL  0022400052      4.500   1113
1100      Brook Lopez  MIL  0022400052      4.500   1929
1111   Damian Lillard  MIL  0022400052      4.500    228

In [156]:
pd.options.display.max_rows=100
over[(over.team.isin(['LAL'])) & (over.threesMade.between(1,5))]

                  name team     game_id threesMade  value
343   D'Angelo Russell  LAL  0022400311      1.500   -168
392      Rui Hachimura  LAL  0022400311      1.500    148
394       Gabe Vincent  LAL  0022400311      1.500    189
432      Austin Reaves  LAL  0022400311      1.500   -162
483      Dalton Knecht  LAL  0022400311      1.500  -1108
512       LeBron James  LAL  0022400311      1.500   -119
514   D'Angelo Russell  LAL  0022400311      2.500    158
563      Rui Hachimura  LAL  0022400311      2.500    447
565       Gabe Vincent  LAL  0022400311      2.500    571
603      Austin Reaves  LAL  0022400311      2.500    162
654      Dalton Knecht  LAL  0022400311      2.500    148
683       LeBron James  LAL  0022400311      2.500    218
685   D'Angelo Russell  LAL  0022400311      3.500    335
734      Rui Hachimura  LAL  0022400311      3.500   1094
736       Gabe Vincent  LAL  0022400311      3.500   1348
774      Austin Reaves  LAL  0022400311      3.500    346
825      Dalton Knecht  LAL  0022400311      3.500    308
854       LeBron James  LAL  0022400311      3.500    508
856   D'Angelo Russell  LAL  0022400311      4.500    792
905      Rui Hachimura  LAL  0022400311      4.500   3568
907       Gabe Vincent  LAL  0022400311      4.500   4175
945      Austin Reaves  LAL  0022400311      4.500    912
996      Dalton Knecht  LAL  0022400311      4.500    532
1025      LeBron James  LAL  0022400311      4.500   1323

In [119]:
over[(over.team.isin(['NOP'])) & (over.threesMade.between(1,5))]

                        name team     game_id threesMade  value
353           Brandon Ingram  NOP  0022400308      1.500   -177
355          Dejounte Murray  NOP  0022400308      1.500    102
408            Javonte Green  NOP  0022400308      1.500    202
421   Jeremiah Robinson-Earl  NOP  0022400308      1.500    156
422            Herbert Jones  NOP  0022400308      1.500    274
423          Trey Murphy III  NOP  0022400308      1.500   -363
444            Jose Alvarado  NOP  0022400308      1.500   -155
475           Jordan Hawkins  NOP  0022400308      1.500   -126
482           Antonio Reeves  NOP  0022400308      1.500    163
500              CJ McCollum  NOP  0022400308      1.500   -391
524           Brandon Ingram  NOP  0022400308      2.500    128
526          Dejounte Murray  NOP  0022400308      2.500    280
579            Javonte Green  NOP  0022400308      2.500    608
592   Jeremiah Robinson-Earl  NOP  0022400308      2.500    417
593            Herbert Jones  NOP  0022400308      2.500    904
594          Trey Murphy III  NOP  0022400308      2.500   -147
615            Jose Alvarado  NOP  0022400308      2.500    152
646           Jordan Hawkins  NOP  0022400308      2.500    198
653           Antonio Reeves  NOP  0022400308      2.500    460
671              CJ McCollum  NOP  0022400308      2.500   -146
695           Brandon Ingram  NOP  0022400308      3.500    272
697          Dejounte Murray  NOP  0022400308      3.500    705
750            Javonte Green  NOP  0022400308      3.500   1624
763   Jeremiah Robinson-Earl  NOP  0022400308      3.500    993
764            Herbert Jones  NOP  0022400308      3.500   2397
765          Trey Murphy III  NOP  0022400308      3.500    131
786            Jose Alvarado  NOP  0022400308      3.500    327
817           Jordan Hawkins  NOP  0022400308      3.500    415
824           Antonio Reeves  NOP  0022400308      3.500   1252
842              CJ McCollum  NOP  0022400308      3.500    145
866           Brandon Ingram  NOP  0022400308      4.500    588
868          Dejounte Murray  NOP  0022400308      4.500   2040
921            Javonte Green  NOP  0022400308      4.500   5438
934   Jeremiah Robinson-Earl  NOP  0022400308      4.500   2803
935            Herbert Jones  NOP  0022400308      4.500   9610
936          Trey Murphy III  NOP  0022400308      4.500    332
957            Jose Alvarado  NOP  0022400308      4.500    858
988           Jordan Hawkins  NOP  0022400308      4.500   1057
995           Antonio Reeves  NOP  0022400308      4.500   3095
1013             CJ McCollum  NOP  0022400308      4.500    351

In [938]:
df = pd.read_sql('''select name, abv_fgm + lc_fgm + rc_fgm as ThreesMade,abv_fga + lc_fga + rc_fga as ThreesAtts,
                   lc_fga + rc_fga as cornerAtts ,  lc_fgm + rc_fgm as cornerMakes
            from plyrLogs plogs 
            left join players p on plogs.player_id  = p.player_id
            where game_date = '{}' and name in ({})'''.format(yst,''''Tristan Da Silva','Toumani Camara' '''),nba.conn)

In [939]:
df

               name  ThreesMade  ThreesAtts  cornerAtts  cornerMakes
0  Tristan Da Silva           1           8           3            1
1    Toumani Camara           1           8           5            0

In [489]:
#run in batches of 500
batch = int(len(games) / 100)
missing = []
for i in range(0,batch):
    try:
        df = nba.get_plyr_drb_shots(games[i*100:i*100+100])
    except:
        missing.append(i)
    df.to_pickle('data/pickle/{}plyrDrb.pkl'.format(i))
    time.sleep(np.random.randint(20,45))

 52%|███████████████████████████████████████████████████████████████▍                                                          | 52/100 [04:27<05:57,  7.46s/it]/Users/ericcoxon/code/bets/nba/../bets.py:372: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  season_nullable = season).get_data_frames()[0][logCols]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [10:04<00:00,  6.05s/it]
 34%|█████████████████████████████████████████▍                                                                                | 34/100 [04:31<08:47,  8.00s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [12:36<00:00,  7.56s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [13:05<00:00,  7.86s/it]
 29%|███████████████████████████████████▍                                                                                      | 29/100 [03:47<09:12,  7.79s/it]/Users/ericcoxon/code/bets/nba/../bets.py:372: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  season_nullable = season).get_data_frames()[0][logCols]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [12:44<00:00,  7.65s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [14:08<00:00,  8.49s/it]
 30%|████████████████████████████████████▌                                                                                     | 30/100 [04:55<11:30,  9.86s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [13:38<00:00,  8.18s/it]
 26%|███████████████████████████████▋                                                                                          | 26/100 [04:33<12:58, 10.52s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [13:40<00:00,  8.21s/it]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [14:03<00:00,  8.44s/it]
 81%|██████████████████████████████████████████████████████████████████████████████████████████████████▊                       | 81/100 [11:35<02:43,  8.59s/it]

In [347]:
nba.kellyCrit(.72,-250) * 500 /32

0.31249999999999856

In [125]:
p = .625 * .846 # * .625
nba.kellyCrit(p,900) /32 * 100 * 5

7.4435763888888875

In [349]:
final.sort_values(by='espnBet',ascending=False).head(50)

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
445,Santi Aldama,1.500,Over,-5.000,105.000,110.000,MEM,-882.000,0.898,0.028,0.025,0.025,13.954,12.587,12.518
360,Malik Beasley,2.500,Over,-7.500,100.000,NaN,DET,-734.000,0.880,0.027,NaN,0.024,13.611,NaN,11.878
358,Malik Beasley,1.500,Over,-260.000,-310.000,NaN,DET,-1601.000,0.941,0.025,NaN,0.024,12.318,NaN,11.859
472,Terry Rozier,2.500,Over,132.500,130.000,133.500,MIA,-526.000,0.840,0.022,0.023,0.022,11.245,11.259,11.209
362,Malik Beasley,3.500,Over,180.000,230.000,NaN,DET,-334.000,0.770,0.020,NaN,0.021,10.025,NaN,10.459
77,Cade Cunningham,1.500,Over,115.000,110.000,103.500,DET,-417.000,0.807,0.020,0.019,0.020,9.975,9.683,9.855
314,Kevin Huerter,1.500,Over,110.000,105.000,119.000,SAC,-422.000,0.808,0.020,0.020,0.020,9.911,10.116,9.781
491,Tre Mann,1.500,Over,-107.500,105.000,119.000,CHA,-373.000,0.789,0.018,0.019,0.018,8.770,9.546,9.176
273,Josh Hart,0.500,Over,-252.500,-250.000,NaN,NYK,-745.000,0.882,0.018,NaN,0.018,9.107,NaN,9.153
75,Cade Cunningham,0.500,Over,-370.000,-450.000,-390.000,DET,-1194.000,0.923,0.020,0.019,0.018,9.950,9.708,8.984
258,Jerami Grant,1.500,Over,-127.500,-105.000,-111.500,POR,-380.000,0.792,0.016,0.017,0.018,8.219,8.740,8.952
187,Jaden Ivey,1.500,Over,107.500,110.000,120.000,DET,-345.000,0.775,0.018,0.018,0.018,8.847,9.188,8.922
117,Deni Avdija,0.500,Over,-230.000,-180.000,NaN,POR,-522.000,0.839,0.015,NaN,0.017,7.335,NaN,8.591
299,Keegan Murray,2.500,Over,140.000,135.000,139.000,SAC,-285.000,0.740,0.017,0.017,0.017,8.668,8.647,8.560
79,Cade Cunningham,2.500,Over,370.000,280.000,320.000,DET,-193.000,0.659,0.018,0.017,0.017,8.851,8.626,8.388
213,Jalen Suggs,2.500,Over,110.000,115.000,124.500,ORL,-289.000,0.743,0.016,0.017,0.016,7.957,8.382,8.115
24,Anfernee Simons,2.500,Over,-159.000,-150.000,-155.000,POR,-396.000,0.798,0.015,0.015,0.015,7.466,7.592,7.749
185,Jaden Ivey,0.500,Over,-400.000,-450.000,-360.000,DET,-979.000,0.907,0.017,0.018,0.015,8.384,8.964,7.660
160,Franz Wagner,1.500,Over,-112.500,-105.000,103.500,ORL,-301.000,0.751,0.015,0.016,0.015,7.345,7.964,7.637
189,Jaden Ivey,2.500,Over,320.000,300.000,370.000,DET,-156.000,0.609,0.015,0.016,0.015,7.614,7.872,7.487
181,Jabari Smith Jr,1.500,Over,160.000,130.000,139.000,HOU,-239.000,0.705,0.016,0.015,0.015,8.135,7.700,7.470
156,Draymond Green,0.500,Over,-166.000,-160.000,NaN,GSW,-390.000,0.796,0.014,NaN,0.015,7.143,NaN,7.334
392,Miles McBride,1.500,Over,NaN,-170.000,-168.500,NYK,-399.000,0.800,NaN,0.014,0.014,NaN,7.218,7.171
179,Jabari Smith Jr,0.500,Over,-270.000,-375.000,-300.000,HOU,-760.000,0.884,0.018,0.017,0.014,8.903,8.358,6.995
502,Tyler Herro,3.500,Over,-122.500,-105.000,-1.000,MIA,-268.000,0.728,0.012,0.023,0.014,6.178,11.337,6.921
39,Austin Reaves,2.500,Over,NaN,120.000,NaN,LAL,-223.000,0.690,NaN,NaN,0.014,NaN,NaN,6.756
309,Kentavious Caldwell-Pope,1.500,Over,-132.500,-125.000,-111.500,ORL,-291.000,0.744,0.013,0.014,0.013,6.334,7.173,6.634
52,Bilal Coulibaly,1.500,Over,167.500,145.000,180.000,WAS,-193.000,0.659,0.014,0.015,0.013,7.108,7.330,6.614
440,RJ Barrett,1.500,Over,NaN,-150.000,NaN,TOR,-331.000,0.768,NaN,NaN,0.013,NaN,NaN,6.562
264,Jordan Poole,2.500,Over,-127.500,-140.000,-134.000,WAS,-310.000,0.756,0.014,0.013,0.013,6.955,6.707,6.479
387,Mike Conley,1.500,Over,-122.500,-115.000,100.000,MIN,-267.000,0.728,0.012,0.014,0.013,6.152,7.110,6.471
479,Tim Hardaway Jr,2.500,Over,117.500,120.000,124.500,DET,-212.000,0.679,0.013,0.013,0.013,6.355,6.594,6.444
477,Tim Hardaway Jr,1.500,Over,-235.000,-260.000,-220.000,DET,-507.000,0.835,0.014,0.015,0.013,7.002,7.388,6.358
304,Kelly Oubre Jr,1.500,Over,-2.500,-110.000,-111.500,PHI,-249.000,0.713,0.022,0.012,0.012,11.036,6.156,6.223
86,Carlton Carrington,1.500,Over,165.000,150.000,NaN,WAS,-171.000,0.631,0.013,NaN,0.012,6.365,NaN,6.016
183,Jabari Smith Jr,2.500,Over,550.000,360.000,410.000,HOU,-102.000,0.505,0.013,0.012,0.011,6.483,6.003,5.741
203,Jalen Green,1.500,Over,-320.000,-375.000,-300.000,HOU,-646.000,0.866,0.014,0.014,0.011,6.828,7.247,5.676
421,OG Anunoby,1.500,Over,-156.500,-160.000,-150.500,NYK,-308.000,0.755,0.012,0.012,0.011,5.802,6.032,5.668
269,Josh Green,0.500,Over,-245.000,-215.000,NaN,CHA,-394.000,0.798,0.009,NaN,0.011,4.713,NaN,5.662
238,Jaylen Brown,2.500,Over,107.500,135.000,139.000,BOS,-171.000,0.631,0.009,0.011,0.011,4.496,5.711,5.588
231,Jaren Jackson Jr,1.500,Over,-181.500,-170.000,-166.000,MEM,-319.000,0.761,0.010,0.011,0.011,5.128,5.706,5.556
123,Derrick White,2.500,Over,-310.000,-285.000,-250.000,BOS,-484.000,0.829,0.009,0.013,0.011,4.655,6.261,5.324
486,Tobias Harris,1.500,Over,137.500,140.000,149.000,DET,-154.000,0.606,0.010,0.011,0.010,5.000,5.345,5.079
398,Myles Turner,1.500,Over,-127.500,-125.000,-117.500,IND,-227.000,0.694,0.010,0.010,0.010,4.754,5.232,4.874
65,Brandon Miller,3.500,Over,127.500,120.000,129.000,CHA,-166.000,0.624,0.010,0.010,0.010,5.144,5.197,4.856
484,Tobias Harris,0.500,Over,-330.000,-325.000,-280.000,DET,-515.000,0.837,0.009,0.012,0.010,4.700,5.971,4.827
467,Taurean Prince,1.500,Over,135.000,130.000,152.500,MIL,-155.000,0.608,0.010,0.011,0.010,4.959,5.480,4.784
205,Jalen Green,2.500,Over,-107.500,-120.000,-111.500,HOU,-217.000,0.685,0.011,0.010,0.010,5.397,5.200,4.781
94,Christian Braun,1.500,Over,162.500,135.000,167.000,DEN,-150.000,0.600,0.011,0.011,0.009,5.529,5.632,4.745
481,Tim Hardaway Jr,3.500,Over,295.000,275.000,300.000,DET,106.000,0.485,0.010,0.010,0.009,4.860,4.905,4.661

In [184]:
p  =preds.loc[54662][2:-1].sum()

In [185]:
nba.kellyCrit(p,100)

0.3124106594042606

In [168]:
final[final.team=='CHI']

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
110,Nikola Vucevic,0.500,Over,NaN,NaN,-390.000,CHI,-609.000,0.859,NaN,0.010,NaN,NaN,4.826,NaN
111,Nikola Vucevic,1.500,Over,NaN,NaN,103.500,CHI,-189.000,0.654,NaN,0.010,NaN,NaN,4.995,NaN
113,Nikola Vucevic,2.500,Over,NaN,NaN,310.000,CHI,120.000,0.455,NaN,0.009,NaN,NaN,4.353,NaN
114,Nikola Vucevic,3.500,Over,NaN,NaN,850.000,CHI,238.000,0.296,NaN,0.007,NaN,NaN,3.328,NaN
156,Zach LaVine,0.500,Over,NaN,NaN,-1700.000,CHI,-3383.000,0.971,NaN,0.015,NaN,NaN,7.550,NaN
157,Zach LaVine,1.500,Over,NaN,NaN,-380.000,CHI,-1052.000,0.913,NaN,0.018,NaN,NaN,9.115,NaN
158,Zach LaVine,2.500,Over,NaN,-160.000,-134.000,CHI,-446.000,0.817,NaN,0.018,0.016,NaN,8.929,8.185
160,Zach LaVine,3.500,Over,NaN,NaN,175.000,CHI,-195.000,0.661,NaN,0.015,NaN,NaN,7.302,NaN
161,Zach LaVine,4.500,Over,NaN,NaN,390.000,CHI,128.000,0.439,NaN,0.009,NaN,NaN,4.604,NaN
162,Zach LaVine,5.500,Over,NaN,NaN,850.000,CHI,260.000,0.278,NaN,0.006,NaN,NaN,3.013,NaN

In [118]:
final.sort_values(by='dkBet',ascending=False).head(50)

,name,threesMade,over_under,DraftKings,ESPN BET,FanDuel,team,value,prob,DKKelly,FanDuelKelly,espnKelly,dkBet,fdBet,espnBet
152,Zaccharie Risacher,1.500,Over,-117.500,-115.000,-104.500,ATL,-570.000,0.851,0.021,0.022,0.021,10.553,10.856,10.611
154,Zaccharie Risacher,2.500,Over,240.000,NaN,280.000,ATL,-311.000,0.757,0.020,0.021,NaN,10.239,10.466,NaN
17,Chris Paul,1.500,Over,-140.000,-135.000,-124.000,SAS,-549.000,0.846,0.020,0.020,0.020,9.847,10.232,9.967
155,Zaccharie Risacher,3.500,Over,650.000,NaN,700.000,ATL,-190.000,0.655,0.019,0.019,NaN,9.408,9.467,NaN
19,Chris Paul,2.500,Over,200.000,NaN,240.000,SAS,-276.000,0.734,0.019,0.019,NaN,9.392,9.738,NaN
151,Zaccharie Risacher,0.500,Over,-550.000,NaN,-440.000,ATL,-1512.000,0.938,0.019,0.021,NaN,9.325,10.391,NaN
21,Cody Williams,0.500,Over,-170.000,-170.000,NaN,UTA,-566.000,0.850,0.019,NaN,0.019,9.291,NaN,9.291
23,Cody Williams,1.500,Over,255.000,250.000,NaN,UTA,-209.000,0.676,0.017,NaN,0.017,8.585,NaN,8.546
99,Keyonte George,2.500,Over,-122.500,-120.000,NaN,UTA,-380.000,0.792,0.017,NaN,0.017,8.382,NaN,8.464
84,James Harden,1.500,Over,-425.000,NaN,-360.000,LAC,-1020.000,0.911,0.017,0.018,NaN,8.301,9.208,NaN
16,Chris Paul,0.500,Over,-650.000,NaN,-550.000,SAS,-1473.000,0.936,0.016,0.018,NaN,8.175,9.168,NaN
85,James Harden,2.500,Over,-132.500,-135.000,-127.500,LAC,-384.000,0.793,0.016,0.017,0.016,8.119,8.281,8.038
20,Chris Paul,3.500,Over,500.000,NaN,600.000,SAS,-141.000,0.585,0.016,0.016,NaN,7.845,8.061,NaN
69,Harrison Barnes,1.500,Over,142.500,135.000,NaN,SAS,-240.000,0.706,0.016,NaN,0.015,7.804,NaN,7.625
98,Keyonte George,1.500,Over,-370.000,NaN,NaN,UTA,-839.000,0.894,0.016,NaN,NaN,7.804,NaN,NaN
146,Victor Wembanyama,2.500,Over,127.500,120.000,140.000,SAS,-240.000,0.706,0.015,0.015,0.014,7.425,7.747,7.200
68,Harrison Barnes,0.500,Over,-310.000,NaN,NaN,SAS,-665.000,0.869,0.015,NaN,NaN,7.251,NaN,NaN
144,Victor Wembanyama,1.500,Over,-230.000,-275.000,-195.000,SAS,-515.000,0.837,0.014,0.016,0.012,7.241,8.130,6.098
71,Harrison Barnes,2.500,Over,450.000,NaN,NaN,SAS,-118.000,0.541,0.014,NaN,NaN,6.865,NaN,NaN
101,Keyonte George,3.500,Over,190.000,NaN,NaN,UTA,-167.000,0.625,0.013,NaN,NaN,6.693,NaN,NaN
148,Victor Wembanyama,3.500,Over,310.000,275.000,340.000,SAS,-120.000,0.545,0.012,0.013,0.012,6.232,6.434,5.940
87,James Harden,3.500,Over,175.000,NaN,190.000,LAC,-152.000,0.603,0.012,0.012,NaN,5.882,6.161,NaN
57,Dyson Daniels,1.500,Over,137.500,140.000,164.500,ATL,-165.000,0.623,0.011,0.012,0.011,5.441,6.144,5.517
53,Dorian Finney-Smith,1.500,Over,100.000,110.000,120.000,BKN,-196.000,0.662,0.010,0.012,0.011,5.068,5.947,5.547
64,Gradey Dick,2.500,Over,115.500,120.000,139.000,TOR,-174.000,0.635,0.010,0.012,0.010,4.985,5.820,5.170
59,Dyson Daniels,2.500,Over,425.000,NaN,500.000,ATL,126.000,0.442,0.010,0.010,NaN,4.864,5.171,NaN
102,Keyonte George,4.500,Over,425.000,NaN,NaN,UTA,135.000,0.426,0.009,NaN,NaN,4.537,NaN,NaN
35,Dennis Schroder,1.500,Over,-175.000,-160.000,-156.000,BKN,-283.000,0.739,0.009,0.010,0.010,4.406,5.181,5.018
91,Julian Champagnie,1.500,Over,-210.000,-225.000,-180.000,SAS,-330.000,0.767,0.009,0.011,0.008,4.360,5.451,3.815
14,Caris LeVert,1.500,Over,115.000,115.000,NaN,CLE,-159.000,0.614,0.009,NaN,0.009,4.346,NaN,4.346
63,Gradey Dick,1.500,Over,-285.000,NaN,-195.000,TOR,-419.000,0.807,0.008,0.013,NaN,4.034,6.744,NaN
56,Dyson Daniels,0.500,Over,-340.000,NaN,-250.000,ATL,-486.000,0.829,0.008,0.013,NaN,3.893,6.293,NaN
143,Victor Wembanyama,0.500,Over,-1100.000,NaN,-900.000,SAS,-1435.000,0.935,0.007,0.011,NaN,3.410,5.446,NaN
93,Julian Champagnie,2.500,Over,137.500,130.000,149.000,SAS,-120.000,0.545,0.007,0.008,0.006,3.357,3.756,3.059
88,James Harden,4.500,Over,400.000,NaN,420.000,LAC,173.000,0.366,0.006,0.007,NaN,3.248,3.366,NaN
137,Trae Young,2.500,Over,-205.000,NaN,-185.000,ATL,-283.000,0.739,0.006,0.008,NaN,3.182,3.998,NaN
138,Trae Young,3.500,Over,117.500,105.000,124.500,ATL,-128.000,0.561,0.006,0.007,0.004,2.940,3.267,2.245
123,Ochai Agbaji,0.500,Over,-290.000,NaN,-260.000,TOR,-380.000,0.792,0.006,0.008,NaN,2.930,3.906,NaN
90,Julian Champagnie,0.500,Over,-1000.000,NaN,-800.000,SAS,-1212.000,0.924,0.005,0.010,NaN,2.525,4.907,NaN
136,Trae Young,1.500,Over,-600.000,NaN,-550.000,ATL,-734.000,0.880,0.005,0.007,NaN,2.510,3.447,NaN
124,Ochai Agbaji,1.500,Over,152.500,145.000,163.500,TOR,103.000,0.493,0.005,0.006,0.004,2.498,2.848,2.229
95,Julian Champagnie,3.500,Over,340.000,280.000,380.000,SAS,190.000,0.345,0.005,0.005,0.003,2.377,2.694,1.732
66,Gradey Dick,3.500,Over,255.000,NaN,340.000,TOR,168.000,0.373,0.004,0.006,NaN,1.989,2.949,NaN
128,RJ Barrett,1.500,Over,-120.000,-120.000,-111.500,TOR,-148.000,0.597,0.004,0.005,0.004,1.764,2.300,1.764
126,Ochai Agbaji,2.500,Over,500.000,NaN,500.000,TOR,309.000,0.244,0.003,0.003,NaN,1.459,1.459,NaN
67,Gradey Dick,4.500,Over,600.000,NaN,800.000,TOR,351.000,0.222,0.003,0.004,NaN,1.438,1.944,NaN
79,Jalen Johnson,1.500,Over,-130.000,-140.000,-133.000,ATL,-151.000,0.602,0.003,0.002,0.001,1.307,1.121,0.685
81,Jalen Johnson,2.500,Over,215.000,NaN,230.000,ATL,167.000,0.375,0.003,0.003,NaN,1.307,1.603,NaN
140,Trae Young,4.500,Over,260.000,NaN,270.000,ATL,207.000,0.326,0.002,0.002,NaN,1.037,1.188,NaN
82,Jalen Johnson,3.500,Over,600.000,NaN,550.000,ATL,410.000,0.196,0.002,0.002,NaN,0.970,0.780,NaN

In [1706]:
p = .721 * .744

In [1707]:
nba.kellyCrit(p,249)* 100/32 * 7.5

8.208958584337351

### Ideas for future models:

usage rate

In [384]:
data = pd.read_sql('''select * from pgames where game_date <= '{}'
                   
                   '''.format(yst),nba.conn)

In [387]:
data.columns

Index(['name', 'team', 'season', 'tmGameCt', 'plyrGameCt', 'height', 'exp',
       'age', 'home', 'player_id', 'team_id', 'game_id', 'game_date', 'min',
       'ftm', 'fta', 'reb', 'ast', 'tov', 'stl', 'blk', 'blka', 'pf', 'pfd',
       'pts', 'plus_minus', 'dd2', 'td3', 'offensiveRating', 'defensiveRating',
       'usagePercentage', 'pace', 'possessions', 'team_first', 'game_first',
       'oreb', 'oreb_contest', 'oreb_chances', 'oreb_chance_defer',
       'avg_oreb_dist', 'dreb', 'dreb_contest', 'dreb_chances',
       'dreb_chance_defer', 'avg_dreb_dist', 'ra_fgm', 'ra_fga', 'paint_fga',
       'paint_fgm', 'mid_fgm', 'mid_fga', 'lc_fgm', 'lc_fga', 'rc_fgm',
       'rc_fga', 'abv_fgm', 'abv_fga', 'Starter', 'daysBetweenGames',
       'gamesInFive', 'gamesInThree', 'threesMade', 'thrPtPrct', 'ftPrct',
       'opp_id', 'game_id:1', 'ra_fgallowed', 'paint_fgallowed',
       'mid_fgallowed', 'lc_fgallowed', 'rc_fgallowed', 'abv_fgallowed',
       'open_fg3a', 'wide_fg3a', 'open_fg2a', 'wide_fg2a', 'oppGamesFive',
       'oppGamesThree', 'oppDaysLastGame', 'oppPace', 'open3_rate',
       'wide3_rate', 'open2_rate', 'wide2_rate', 'count_inactive',
       'mvAvgOppPace', 'mvAvgOppDefRating', 'mvAvgOppDefRating:1',
       'mvAvgOppOpen3', 'mvAvgOppWide3', 'seasonOppPace', 'seasonOppDefRating',
       'seasonOppOpen3', 'seasonOppWide3'],
      dtype='object')

In [392]:
sa = pd.read_sql('''select *,
                    (lc_fgm + rc_fgm + abv_fgm) threesMade
                from shotsAllowed where game_date <= '{}' '''.format(yst),nba.conn)

In [396]:
sa['threesMade'] = sa.lc_fgm + sa.rc_fgm + sa.abv_fgm
sa['threesAtt'] = sa.lc_fga + sa.rc_fga + sa.abv_fga

In [405]:
drb = sa.filter(['game_date','team_id','threesMade'] + [col for col in sa.columns if re.search('^drb[0-9]+_fg3[a-z]',col)!=None])

In [582]:
### Lets look at some player dribble shot data

In [584]:
files = glob.glob('data/pickle/*plyrDrb.pkl')

In [585]:
df = pd.concat([pd.read_pickle(f) for f in files])

In [619]:
plogs = pd.read_sql('select player_id,game_date, team_id from plyrLogs',nba.conn)

In [646]:
df.PLAYER_ID = df.PLAYER_ID.astype(str)
df.GAME_DATE = df.GAME_DATE.astype(str)

In [649]:
final = plogs.merge(df,how='left',left_on = ['player_id','game_date'],right_on = ['PLAYER_ID','GAME_DATE']).drop(['PLAYER_ID','GAME_DATE','PLAYER_LAST_TEAM_ID'],axis=1)

In [650]:
final

,player_id,game_date,team_id,0_Dribbles_FG2M,0_Dribbles_FG2A,0_Dribbles_FG3M,0_Dribbles_FG3A,1_Dribble_FG2M,1_Dribble_FG2A,1_Dribble_FG3M,1_Dribble_FG3A,2_Dribbles_FG2M,2_Dribbles_FG2A,2_Dribbles_FG3M,2_Dribbles_FG3A,3-6_Dribbles_FG2M,3-6_Dribbles_FG2A,3-6_Dribbles_FG3M,3-6_Dribbles_FG3A,7+_Dribbles_FG2M,7+_Dribbles_FG2A,7+_Dribbles_FG3M,7+_Dribbles_FG3A
0,203463,2018-04-11,1610612763,1.000,1.000,1.000,3.000,1.000,2.000,1.000,1.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,203994,2018-04-11,1610612757,4.000,9.000,0.000,0.000,2.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,202355,2018-04-11,1610612748,4.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000
3,201950,2018-04-11,1610612740,2.000,2.000,0.000,1.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,3.000,0.000,1.000,5.000,6.000,0.000,0.000
4,203459,2018-04-11,1610612751,0.000,1.000,4.000,8.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264127,1627747,2024-11-11,1610612739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264128,1630170,2024-11-11,1610612759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264129,1626168,2024-11-11,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264130,1627777,2024-11-11,1610612739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264131,1641732,2024-11-11,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [653]:
final[final.game_date=='2024-11-10']

,player_id,game_date,team_id,0_Dribbles_FG2M,0_Dribbles_FG2A,0_Dribbles_FG3M,0_Dribbles_FG3A,1_Dribble_FG2M,1_Dribble_FG2A,1_Dribble_FG3M,1_Dribble_FG3A,2_Dribbles_FG2M,2_Dribbles_FG2A,2_Dribbles_FG3M,2_Dribbles_FG3A,3-6_Dribbles_FG2M,3-6_Dribbles_FG2A,3-6_Dribbles_FG3M,3-6_Dribbles_FG3A,7+_Dribbles_FG2M,7+_Dribbles_FG2A,7+_Dribbles_FG3M,7+_Dribbles_FG3A
263796,203999,2024-11-10,1610612743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263797,203994,2024-11-10,1610612756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263798,203915,2024-11-10,1610612742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263799,1631101,2024-11-10,1610612757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263800,1626192,2024-11-10,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264017,202699,2024-11-10,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264018,1627832,2024-11-10,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264019,1630224,2024-11-10,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264020,1627751,2024-11-10,1610612761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264021,1631216,2024-11-10,1610612753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN