In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
## going to test the new setup
from nba import NBAbase, NBAetl, NBAdata,NBAmodels
from betting import odds
import pandas as pd
import seaborn as sns
import sqlite3
import shutil

In [5]:
models = NBAmodels.models()

etl = NBAetl.etl()
data = NBAdata.data()

Could not load threes model: [Errno 2] No such file or directory: 'data/model/thrModV2.pkl'
Could not load points model: [Errno 2] No such file or directory: 'data/model/pointsModel.pkl'
Could not load spread model: [Errno 2] No such file or directory: 'data/model/spreadModel.pkl'

In [18]:
mod = pd.read_pickle('../nba/data/model/upThrLog.pkl')

In [6]:
plt.figure(figsize=(24,16))
sns.heatmap(cur.pvalues,annot=True,fmt='.2f',cnap='rocket')
plt.show()

NameError: name 'plt' is not defined

In [4]:
today = dt.datetime.today().strftime(format='%Y-%m-%d')
yst = (pd.to_datetime(today) + pd.to_timedelta(-1,unit='day')).strftime(format='%Y-%m-%d')

Lets start looking at point information from the players, well start to look at defenses and player scoring

In [8]:
nba.showTables

,type,name,tbl_name,rootpage,sql
0,table,rosters,rosters,4,"CREATE TABLE rosters(\n teamId TEXT,\n s..."
1,table,players,players,2,"CREATE TABLE players(\n player_id TEXT,..."
2,table,teams,teams,6,"CREATE TABLE teams(\n team_id TEXT,\n te..."
3,table,plyrLogs,plyrLogs,123,"CREATE TABLE plyrLogs (player_id TEXT,\nteam_i..."
4,view,team_game,team_game,0,"CREATE VIEW team_game as \nSELECT season, game..."
5,table,shotsAllowed,shotsAllowed,582,"CREATE TABLE shotsAllowed (team_id TEXT,\ngame..."
6,view,team_def,team_def,0,"CREATE VIEW team_def AS\nselect \nseason, subs..."
7,table,teamLog,teamLog,7,"CREATE TABLE teamLog(\n game_id TEXT,\n..."
8,table,preds,preds,11580,CREATE TABLE preds\n (game_...
9,view,pgames,pgames,0,CREATE VIEW pgames \n AS\nSELECT \n--identi...
10,view,roster_view,roster_view,0,"CREATE VIEW roster_view AS\nSELECT name, playe..."

In [7]:
plog = pd.read_sql('select * from playerLog',nba.conn)

DatabaseError: Execution failed on sql 'select * from playerLog': no such table: playerLog